<app-admin-header></app-admin-header>

<ion-content>

  <div class="company-list-sec">
    <h1 class="clientListHead">Company Details</h1>
    <ion-button routerLink="/client/company" class="button-comp">ADD COMPANY</ion-button>
    <div class="clearfix"></div>
    <div *ngFor="let details of comDetails" style="margin: 0 auto; border-radius: 7px; background: #efefef;" class="sec-div-sty">
      <ion-row style="text-align: left;" class="add_comp_row clears">    
        <div  class="button-sty clears"> 
          <div class="comp_btn"><i title="Delete Company" class="fa fa-trash"></i></div>
          <div class="comp_btn"><i title="Edit Company" class="fa fa-pencil-square-o"></i></div>
        </div>
          
        <div class=" img-profile-sec">
          <ion-img src="{{details.logo}}" class="prof_img003"></ion-img>
          <h2>{{details.company_name}}</h2>
        </div>
          
        <div class="comp_dt_rt01">
          <div class="sec-dev">
            <div  class="details-text">
              <h2>{{details.company_name}}</h2>
              <ul>
                <li>{{details.category_title}}</li>
                <li><i class="fa fa-users"></i>{{details.company_size}}</li>
              </ul>
            </div>
          </div>

          <div class="sec-dev">
            <div  class="details-text">
              <h3>Company details</h3>
              <ul>
                <li><ion-icon name="pin"></ion-icon>  {{details.address}}, {{details.city}} ,{{details.state}} ,{{details.country}}</li>
                <li><ion-icon name="globe"></ion-icon> {{details.company_email}}</li>
                <li><ion-icon name="globe"></ion-icon> {{details.website}}</li>
                <li><ion-icon name="call"></ion-icon> {{details.company_country_code}} {{details.company_phone}}</li>
              </ul>
            </div>
          </div>
          
          <div class="sec-dev">
            <div  class="details-text">
              <h3>Contact person details</h3>
              <ul>
                <li><ion-icon name="person"></ion-icon> {{details.contact_person_name}}</li>
                <li><ion-icon name="globe"></ion-icon>{{details.contact_person_email}}</li>
                <li><ion-icon name="call" style="font-size: 17px;"></ion-icon> {{details.contact_person_country_code}} {{details.contact_person_mobile}}</li>
              </ul>
            </div>
          </div>

        </div>   
      </ion-row>

    </div>
  </div>

</ion-content>
