<app-header *ngIf="service.login_type != 'admin'"></app-header>
<app-admin-header *ngIf="service.login_type == 'admin'"></app-admin-header>

<div  *ngIf="service.login_type != 'admin'" class="pageHeadBlock"><div class="container">
  <h1 class="pageTitle">Company Details</h1>
  <div  class="beadcrumbs">
  <ul>
  <li><a routerLink="/client/dashboard" style="color: white;">Home</a></li>
  <li>Company Details</li>
  </ul>
  </div>
  </div>
  </div>
<ion-content padding style="text-align: center;">
    <div class=" company-list-sec">  
  <div class="container">

    <!-- <div  class="searchResultHead clears">
        <div class="searchResults">Assigned job to Candidates</div>
        <a class="upgradePlan"><img src="../../../assets/images/red_bar01.png"></a>
    </div> -->

    <div class="head_top01 clears">
        <h2>Company Details</h2>
        <button (click)="addCompany()" >ADD COMPANY</button>
    </div>


  

  <div class="clearfix"></div>
  <div *ngFor="let details of details" style="margin: 0 auto; border-radius: 7px; background: #efefef;" class="sec-div-sty">
    <ion-row style="text-align: left;" class="add_comp_row clears">
        <div  class="button-sty clears">
            <div class="last_box">
                <div>
            <div (click)="addJob(details.company_id)" class="comp_btn"><i class="fa fa-plus-circle"></i><small>Add Job</small></div>
            <div (click)="comJobList(details.company_id)" class="comp_btn"><i class="fa fa-list-alt"></i><small>Job List</small></div> |
            <div (click)="editComDetails(details.company_id)" class="comp_btn"><i class="fa fa-pencil-square-o"></i><small>Edit Company</small></div>
            <div (click)="presentAlertConfirm(details.company_id)"  class="comp_btn"><i class="fa fa-trash"></i><small>Delete Company</small></div>
           
        </div>    
        </div>
        </div>
        
        <div class=" img-profile-sec">
            <ion-img src="{{details.logo}}" class="prof_img003"></ion-img>
            <h2>{{details.company_name}}</h2>
            <ul class="comp_prof_btm00">
                <li>{{details.company_email}}</li>
                <li>{{details.company_country_code}} {{details.company_phone}}</li>
            </ul>
        </div>
        
        <div class="comp_dt_rt01">
        <div class="sec-dev">
            <div  class="details-text">
                <h2>{{details.company_name}}</h2>
                <ul>
                    <li><i class="fa fa-th-large"></i>{{details.category_title}}</li>
                    <li><i class="fa fa-users"></i>{{details.company_size}} Man Power</li>
                    <li><i class="fa fa fa-gears"></i>{{details.total_job}} Jobs</li>
                </ul>
            </div>
        </div>
        
        <div class="sec-dev" *ngIf="details.company_description">
            <div  class="details-text">
                <h3>Company Description</h3>
                <ul>
                <li>{{details.company_description}}</li>
                </ul>        
            </div>
        </div>
        <div class="sec-dev">
            <div  class="details-text">
                <h3>Company Details</h3>
                <ul>
                <!-- <li><ion-icon name="person"></ion-icon>  TANVIR MEDICAL</li> -->
                <li><i class="fa fa-map-marker"></i>{{details.city}}<span *ngIf="details.city">, </span>{{details.state}}<span *ngIf="details.state">, </span>{{details.country}}</li>
                <li><i class="fa fa-envelope"></i> {{details.company_email}}</li>
                <li *ngIf="details.website"><i class="fa fa-globe"></i> {{details.website}}</li>
                <li><i class="fa fa-phone"></i> {{details.company_country_code}} {{details.company_phone}}</li>
                </ul>
            </div>
        </div>
        
        <div class="sec-dev">
            <div  class="details-text">
                <h3>Contact Person Details</h3>
                <ul>
                <li><i class="fa fa-user"></i> {{details.contact_person_name}}</li>
                <li><i class="fa fa-envelope"></i>{{details.contact_person_email}}</li>
                <li><i class="fa fa-phone"></i> {{details.contact_person_country_code}} {{details.contact_person_mobile}}</li>
                </ul>
            </div>
        </div>
     </div>
    </ion-row>
  </div>
  </div>
  </div>
</ion-content>
