
ion-content{

    --ion-background-color:#f4f6f9;
}
.pageHeadBlock {
    width: 100%;
    clear: both;
    display: block;
    background-image: url("../../../assets/images/n/banner-form.jpg"); background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.beadcrumbs {
    clear: both;
    display: block;
    margin-bottom: 40px;
}
.beadcrumbs ul li {
    display: inline-block;
    float: left;
    color: #00aeef;
    font-size: 1.2em;
}
.beadcrumbs ul li a {
    color: #fff;
}
.beadcrumbs ul li a::after {
    content: "/";
    float: right;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}
.pageHeadBlock::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(5,71,116,.7);
    clear: both;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
}
.pageHeadBlock .container {
    padding: 20px 0 10px;
    position: relative;
    z-index: 9;
}
h1.pageTitle {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}

.button-comp{
    float: right;
    margin-bottom: 15px;
    margin-top: 10px;
}
.company-list-sec{ width: 72%; margin: auto;}  
.button-sty{
    display: block;
    margin: 0px 0 5px;
    white-space: nowrap;
   
}

.button-sty .comp_btn:last-child{
    position: relative;
    top:3px;
}

.button-sty .comp_btn i{ font: normal normal normal 20px/1 FontAwesome !important; color: #054774}

.button-sty .comp_btn{
    background: none;
    padding: 0;
    margin: 0;
    border: 0
}

.button-sty ion-button {width: 70%;
    padding: 0px 5px;
    font-size: 14px;
    float: right;}  
.details-text{}
.details-text h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;  color: #0693f5;
    margin: 0 0 10px
}

.details-text h3{   font-size: 14px;
    font-weight: 400;
    padding: 0 0 5px;
    color: #666666;}    
.address-sec{ background: #f4f6f9; margin-bottom: 30px; padding-bottom: 20px;}    
.address_sec{ padding-left: 17px; background: #fff;     padding-bottom: 20px;}
.address_sec h3{font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;  color: #054774; padding: 20px 0px 10px; text-align: left;}
.address_sec h4{  font-size: 14px;
    font-weight: 500;
    padding: 6px 0px; 
    color: #666; text-align: left;} 
    .sec-div-sty {
        margin: 10px auto;
        border-radius: 7px;
        width: 100%;
        background: #fffefe;
    } 


.details-text ul li{
    color: #666;
    font-size:14px;
    margin: 0 0 6px
}

.details-text ul li ion-icon{
    margin-right:6px;
}


.details-text h3{
    color: #272626;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px
}

.address_sec:first-child{
    border-right:1px solid #ccc
}

.address-sec-sty{
    display: flex;
    width: 100%
}

.address-sec-sty .address_sec{
    width:50%;
    display: inline-block
}



.add_comp_row{
    display: block;
    width:100%;
    padding: 0 0 11px;
}

.add_comp_row .img-sec img{
    max-width: 100%
}


.add_comp_row .button-sty .comp_btn{
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 9px;
    position: relative;
    cursor: pointer;
    
}

.add_comp_row .button-sty .comp_btn:last-child{
    position: relative;
    top: 0;
}

.add_comp_row .button-sty .last_box{
    float: right;
}

.add_comp_row .button-sty .comp_btn small{
    position: absolute;
    top: -29px;
    left: -30px;
    padding: 4px 6px;
    background: #054774;
    border-radius: 6px 0 6px 0;
    color: #fff;
    display: block;
    opacity: 0;
}

.add_comp_row .button-sty .comp_btn:hover small{
    opacity: 1;
}

.add_comp_row .img-profile-sec{
    width: 190px;
    float: left;
    margin-right: 15px
}

.prof_img003{
    background: #fff;
    padding: 40px;
    padding: 12px;
    border: 1px solid #d6d6d6;
    box-shadow: 0px 1px 2px 2px #e6e2e2;
    border-radius: 4px;
}

.add_comp_row .img-profile-sec h2{
    font-size: 16px;
    text-transform: capitalize;
}

.add_comp_row .comp_dt_rt01{
     width: calc(100% - 220px);
    float: right;
}


.add_comp_row .sec-dev{
    box-shadow: 0px 1px 2px 2px #e6e2e2;
    background: #fff;
    margin-bottom: 30px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding-bottom: 16px;
    width: 100%;
}


.company-list-sec .details-text{
    padding: 20px
}


.img-profile-sec h2{
    font-size: 18px;
    padding: 8px 0 0;
    text-align: center;
    color: #0693f5;
    margin: 0 0 6px;
}

.details-text ul li i{
    color: #777;
    margin-right:8px;
    font: normal normal normal 16px/1 FontAwesome !important;
}

.comp_prof_btm00 li{
    display: block;
    color: #054774;
    font-size: 13px;
    text-align: center;
}



@media screen and (max-width:992px){
    .company-list-sec{
        width: 92%;
    }
}






    @media screen and (max-width:768px){    
        
        
   
        
        .company-list-sec {
                width: 100%;
                margin: auto;
            }
        
        .add_comp_row{
            padding: 12px
        }
     
        .button-sty{ width: 100%!important;}
        .address-sec-sty{ width: 100%;}
        .button-sty ion-button {
            width: 71%;
            padding: 0px 5px;
            font-size: 11px;
            float: right;}
            .button-sty{
                margin-top: 25px;
            }
            .address_sec h3 {
                font-size: 16px; }   
                .address_sec[_ngcontent-owx-c1] {
                    padding-left: 2%;
                } 
                .details-text h3 {
                    padding: 2px 0px;}  
        
    
    }



@media screen and (max-width:585px){

    .container{
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    h1.pageTitle{
            font-size: 21px;
    }
    
    
    .img-profile-sec h2 {
        font-size: 15px;
        padding: 4px 0 0;
    }
    
    .address-sec-sty{
        display: block;
        width: 100%
    }

    .address-sec-sty .address_sec{
        width:100%;
        display:block;
    }
    


    .add_comp_row .img-profile-sec {
        width: 190px;
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .add_comp_row .comp_dt_rt01 {
        width: 100%;
        float: none;
    }

    .add_comp_row .button-sty .last_box {
        float: none;
    }
        

}


@media screen and (max-width:479px){


    .add_comp_row .button-sty .last_box {
        float: none;
        text-align: center;
    }

    .company-list-sec {
        padding-top: 0;
    }

    .head_top01 h2 {
        font-size: 16px;
    }

    .head_top01 button{font-size: 13px;}
    
    .add_comp_row .img-profile-sec {
        width: 160px;
        margin: 0 auto 15px;
        animation: 0;
        float: none;
    }
    .add_comp_row .comp_dt_rt01 {
        width: 100%;
        float: none;
    }
    .company-list-sec .details-text{
        padding-left: 5px;
    }
    
    .company-list-sec .sec-div-sty{
        padding: 0
    }
    
    .company-list-sec .details-text{
        padding-left: 10px
    }
    

    .details-text h2{
        font-size: 16px;
    }
}   
