<app-admin-header></app-admin-header>

<ion-content>

  <div class="container">
  <div class="ion-padding cms_edit_section">

<h3>CMS Page Title</h3>

      <form #jos="ngForm" id="loginform" (ngSubmit)="validatejob(jos)">

          <div class="jot_field_wrap">

            <label>Cms page title</label>
            <div class="cms_fiels">
            <input type="text" placeholder="Cms page title" name="title" required [(ngModel)]="title" #jst="ngModel" autocomplete="off"/>
            <span *ngIf="jst.errors && (jst.dirty || jst.touched || jos.submitted)" class="field_error">Please input any title</span>     
          </div>
          </div>

        <div class="jot_field_wrap">
            <ck-editor name="editorValue" [(ngModel)]="editorValue" id="editor" skin="moono-lisa" #det="ngModel" language="en" [fullPage]="true" required></ck-editor>
            <span *ngIf="det.errors && (det.dirty || det.touched || jos.submitted)" class="field_error">Please input any description</span>     
        </div>

        <div class="jot_field_wrap">
          <label>Active/Inactive</label>
          
          <select [(ngModel)]="status" name="status">
            <option disabled>Select status</option>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
          <span *ngIf="status == 'Select status' && jos.submitted" class="field_error"> Please select any status</span>
        </div>


          <div class="jot_btm_btn">
            <input value="Save"  type="submit" class="btn"/>
          </div>

      </form>
  </div>
</div>

</ion-content>
