@media only screen and (max-width: 600px) {
    .postJobActions > button
    {
        text-align: center;
    margin: 0px auto;
    margin-top: 20px;
    clear: both;

    width: 100%;
    }
  
    .postJobActions
    {
        clear: both;
    }
    .postJobBlock ul
    {
        margin: 0px;
    }
    .postJobActions
    {
        margin: 0px;
    }
    .pageHeadBlock > .container 
    {
        padding-left: 20px;
    }
    .mainContainer
    {
        padding: 20px 0px;
    }
    .pj-basicInformation,.pj-personSpecification,.pj-clientDetails,.pj-moreInfo
    {
        padding-top: 22px;
    }

}

.Cdate{ 
    width:100%;
     padding: 10px; 
     background: #fcfcfc;  
    border:1px solid #ebebeb; 
    border-radius:4px; font-size: 16px;  
    color: gray;  float: left;
}
.btn:disabled{ opacity: 0.5;}
.select-job-posting select{ margin: auto; display: block; padding: 10px 5px; font-size: 14px; color: #747474; font-family: "Open Sans",sans-serif;}

/* style-19-12 */
.error {
    display:block
}

.postJobBlock ul li input[type=text], .postJobBlock ul li select, .postJobBlock ul li textarea, ion-input{
    border: 1px solid #ccc !important;
    color: grey;
    font-size: 14px;
}


.postJobBlock ul li{
    float: none;
    vertical-align: middle;
}
.pj-clientDetails li{
    display:inline-block;
    vertical-align: middle;
}

.pj-moreInfo textarea{
    overflow: auto;
    resize: none;
    height: 80px;
}

#jobpostingform .postJobBlock.cmpdt23 input[type="text"]{
    border:0;
    background: transparent;
    padding: 0;
}




@media screen and (max-width:585px){
    .postJobBlock ul li {
        width: 100%;
        margin-right: 0;
    }

    #jobpostingform .pj-clientDetails ion-img{ width: 180px !important;}
}