<app-header *ngIf="!clientId"></app-header>
<app-admin-header *ngIf="clientId"></app-admin-header>


<ion-content>
  <div *ngIf="!clientId" class="pageHeadBlock">
    <div class="container">
    <h1 class="pageTitle" *ngIf="!jobid">Post a Job</h1>
    <h1 class="pageTitle" *ngIf="jobid">Edit Job</h1>
    <div class="beadcrumbs">
      <ul><li><a routerLink="/client/dashboard" style="color: white;">Home</a></li><li>Company</li></ul>
    </div>
    </div>
  </div><!--pageHeadBlock ends-->

<div class="post_job padd">
<div class="container">
 

  <div class="mainContainer select-job-posting">
    <div *ngIf="!comID">
      <div class="select_box02">
        <label>Select Company</label>
        
    <div class="select_list_wrap02">
      <select  name = "company" [(ngModel)]="company" size="6">
        <!-- <option [value]="comp" [selected]="type == 'Select country'" disabled>Select company</option>   -->
        <option (click)="oncompanyChange($event.target.value)" *ngFor='let t of companylist' [value]="t.company_id" >{{t.company_name}}</option>
      </select>
    </div>


      </div>
    </div>
    <form #jobposting="ngForm" id="jobpostingform" (ngSubmit)="postJobs(jobposting)" *ngIf="comID">
    <div class="container">

     <div class="row">
     <div class="col-md-12">

        <div class="postJobBlock cmpdt23">
            <h5><span>Company Details</span></h5>
            <ul class="pj-clientDetails cmp_dt_fld01">
              <li><ion-img style="width: 60%;" src="{{imageurl}}"></ion-img></li>
               <li><ion-label>Company Name</ion-label><input style="border:0 !important" disabled="true" name="cdname" [(ngModel)]="cdname" type="text" placeholder="Client Name" required /></li>
               <li><ion-label>Company Type</ion-label><input style="border:0 !important" disabled="true" name="cdcontactname" [(ngModel)]="cdcontactname" type="text" placeholder="Contact Name" required /></li>
            </ul>
          </div><!--postJobBlock ends-->

     <div class="postJobBlock">
       <h5><span>Basic Information</span></h5>
       <ul class="pj-basicInformation">
         <!-- <li><ion-label>Job Status<span style="color: red;">*</span></ion-label><input [(ngModel)]="jstatus" name="jstatus" #jsts="ngModel" type="text" placeholder="Job Opening Status" required/>
          <span *ngIf="jsts.errors && (jsts.dirty || jsts.touched || jobposting.submitted)" class="error">Job Status is required</span>
        </li> -->
        <li><ion-label>Job Status<span style="color: red;">*</span></ion-label>
          <select [(ngModel)]="jstatus" name="jstatus" #jsts="ngModel" required>
            <option [value]="jst" [selected]="jst == 'Select Job Status'" disabled>Select Job Status</option>  
            <option *ngFor='let tt of mainstatuslist' value="{{tt.job_opening_status_id}}">{{tt.title}}</option>
           </select>
           <span *ngIf="jsts.errors && (jsts.dirty || jsts.touched || jobposting.submitted)" class="error">Job Status is required</span>
         </li>
         <li><ion-label>Job Title<span style="color: red;">*</span></ion-label><input [(ngModel)]="jtitle" name="jtitle" #jttle="ngModel" type="text" placeholder="Job Title" required/>
          <span *ngIf="jttle.errors && (jttle.dirty || jttle.touched || jobposting.submitted)" class="error">Job Title is required</span>
        </li>
         <li><ion-label>Job Type<span style="color: red;">*</span></ion-label>
           <select name = "jobtype" [(ngModel)]="jobtype" #jtp="ngModel" required>
             <option [value]="cjt" [selected]="cjt == 'Select Job Type'" disabled>Select Job Type</option>  
             <option value="Part time">Part time</option>
             <option value="Full time">Full time</option>
             <option value="Temporary">Temporary</option>
             <option value="Contractual">Contractual</option>
            </select>
            <span *ngIf="jtp.errors && (jtp.dirty || jtp.touched || jobposting.submitted)" class="error">Job Type is required</span>
          </li>
         <li><ion-label>Date Opened<span style="color: red;">*</span></ion-label><ion-input [(ngModel)]="opdate"  name="opd" #dopn="ngModel" type="date" placeholder="Date Opened" style="background-color: #fff;" required ></ion-input>
          <span *ngIf="dopn.errors && (dopn.dirty || dopn.touched || jobposting.submitted)" class="error">Job Opening Date is required</span>
        </li>
         <li><ion-label>Target Date<span style="color: red;">*</span></ion-label><ion-input [(ngModel)]="cldate"  name= "cldate" #cldt="ngModel" type="date" placeholder="Target Date" style="background-color: #fff;" required></ion-input>
          <span *ngIf="cldt.errors && (cldt.dirty || cldt.touched || jobposting.submitted)" class="error">Job Target Date is required</span>
        </li>
         <li><ion-label>Select Country<span style="color: red;">*</span></ion-label>
          <select  name = "country" [(ngModel)]="country" #cunty="ngModel" required (change)="onChange($event.target.value)">
              <option [value]="coun" [selected]="coun == 'Select Country'" disabled>Select Country</option>  
              <option *ngFor='let t of countrylist' [value]="t.country" >{{t.country}}</option>
          </select>
          <span *ngIf="cunty.errors && (cunty.dirty || cunty.touched || jobposting.submitted)" class="error">Country is required</span>
        </li>
         
           <li><ion-label>Select State<span style="color: red;">*</span></ion-label>
            <select name = "state" [(ngModel)]="state" #ste="ngModel" required>
                <option [value]="stat" [selected]="stat == 'Select State'" disabled>Select State</option>
                <option *ngFor='let tt of statelist' [value]="tt">{{tt}}</option>
            </select>
            <span *ngIf="ste.errors && (ste.dirty || ste.touched || jobposting.submitted)" class="error">State is required</span>
          </li>
         <li><ion-label>City<span style="color: red;">*</span></ion-label><input name = "city" [(ngModel)]="city" #ct="ngModel" type="text" required  placeholder="City"/>
          <span *ngIf="ct.errors && (ct.dirty || ct.touched || jobposting.submitted)" class="error">City is required</span>
        </li>
         <li><ion-label>Job Category<span style="color: red;">*</span></ion-label>
         <select name="jobcat" [(ngModel)]="jobcat" #jct="ngModel" required>
          <option [value]="type" [selected]="type == 'Select Job Category'" disabled>Select Job Category</option>
          <option *ngFor='let jcat of categorylist' [value]="jcat.category_id">{{jcat.category_title}}</option>
        </select>
        <span *ngIf="jct.errors && (jct.dirty || jct.touched || jobposting.submitted)" class="error">Job Category is required</span>
        </li>
        </ul>
     </div><!--postJobBlock ends-->
        <div class="postJobBlock">
       <h5><span>Person Specification</span></h5>
       <ul class="pj-personSpecification">
         <li><ion-label>Gender</ion-label><select name = "gender" [(ngModel)]="gender">
          <option [value]="gndr" [selected]="gndr == 'Select Gender'" disabled>Select Gender</option>
          <option>Male</option> <option>Female</option> <option>Other</option>
         </select></li>
         <li><ion-label>Nationality</ion-label>
          <ion-input type="text" name= "Nationality" [(ngModel)]="Nationality" placeholder="Nationality"></ion-input>
          <!-- <select name= "Nationality" [(ngModel)]="Nationality">
            <option [value]="nanty" [selected]="nanty == 'Select Nationality'" disabled>Select Nationality</option>
            <option *ngFor="let nan of nationlist">{{nan}}</option>
          </select> -->
        </li>
         <li><ion-label>Work Experience (Year)<span style="color: red;">*</span></ion-label>
          <select name="workexp" [(ngModel)]="workexp" #wexp="ngModel" required>
          <option [value]="cwe" [selected]="cwe == 'Select Work Experience'" disabled>Select Work Experience</option>  
          <option>0</option><option>1</option><option>2</option><option>3</option>
          <option>4</option><option>5</option><option>6</option><option>7</option>
          <option>8</option><option>9</option><option>10</option><option>11</option>
          <option>12</option><option>13</option><option>14</option><option>15</option>
          <option>16</option><option>17</option><option>18</option><option>19</option>
          <option>20</option>
        </select>
        <span *ngIf="wexp.errors && (wexp.dirty || wexp.touched || jobposting.submitted)" class="error">Work Experience is required</span>
        </li>
         
         <li><ion-label>Languages</ion-label><input type="text" name="lang" [(ngModel)]="lang" #jplan="ngModel" placeholder='Languages' /><span> Comma (,) separated</span>
          <!-- <span *ngIf="jplan.errors && (jplan.dirty || jplan.touched)" class="error">Language is required.</span> -->
        </li>

        <li><ion-label>Currency</ion-label>
          <select name= "currency" [(ngModel)]="currency">
            <option [value]="curren" [selected]="curren == 'Select Currency'" disabled>Select Currency</option>
            <option *ngFor="let c of currencylist" [value]="c.cc">{{c.name}}</option>
          </select></li>
         
          <!-- <li><ion-label>Salary</ion-label><select name="sal" [(ngModel)]="sal">
          <option [value]="salry" [selected]="salry == 'Select Salary'" disabled>Select Salary</option>
          <option>1000 AED</option><option>1500 AED</option><option>2000 AED</option>
          </select></li> -->
          
          <li><ion-label>Salary</ion-label><input [(ngModel)]="sal" name="sal" type="text" placeholder="Salary"/></li>

         <li><ion-label>City</ion-label><input name="pcity" [(ngModel)]="pcity" type="text" placeholder="City" />
        </li>
        <li><ion-label>Healthcare License</ion-label><input name="hLicense" [(ngModel)]="hLicense" type="text" placeholder="Healthcare License" />
        </li>
        <li><ion-label>Licenses Number</ion-label><input name="lNumber" [(ngModel)]="lNumber" type="text" placeholder="Licenses Number" />
        </li>
      </ul>
     </div><!--postJobBlock ends-->
      
      <div class="postJobBlock">
       <h5><span>More Information</span></h5>
       <ul class="pj-moreInfo">
         <li><ion-label>Job Description<span style="color: red;">*</span></ion-label><textarea  name="jobdescription" [(ngModel)]="jobdescription" #jpdec="ngModel" placeholder="Job Description" required></textarea>
          <span *ngIf="jpdec.errors && (jpdec.dirty || jpdec.touched || jobposting.submitted)" class="error">Job Description is required</span>
        </li>
         <li><ion-label>Requirements</ion-label><textarea  name="requirements" [(ngModel)]="requirements" #jpreq="ngModel" placeholder="Requirements"></textarea>
          <span *ngIf="jpreq.errors && (jpreq.dirty || jpreq.touched || jobposting.submitted)" class="error">Requirements is required</span>
        </li>
         <li><ion-label>Responsibilities</ion-label><textarea  name="responsibilities" [(ngModel)]="responsibilities" #jpres="ngModel" placeholder="Responsibilities"></textarea>
          <span *ngIf="jpres.errors && (jpres.dirty || jpres.touched || jobposting.submitted)" class="error">Responsibilities is required</span>
        </li>
         <li><ion-label>Minimum Qualification</ion-label><textarea  name="min_qualification" [(ngModel)]="min_qualification" #jpmq="ngModel" placeholder="Minimum Qualification"></textarea>
          <span *ngIf="jpmq.errors && (jpmq.dirty || jpmq.touched || jobposting.submitted)" class="error">Minimum Qualification is required</span>
        </li>
         <li><ion-label>Skill Set</ion-label><input name="skills" [(ngModel)]="skills" #jpss="ngModel" type="text" placeholder="Skill Set"/><span> Comma (,) separated</span>
          <span *ngIf="jpss.errors && (jpss.dirty || jpss.touched || jobposting.submitted)" class="error">Skill Set is required</span>
        </li>
         <li><ion-label>Number of Position<span style="color: red;">*</span></ion-label><input name="vacancy" [(ngModel)]="vacancy" #jpnop="ngModel" type="text" required  placeholder="Number of Position"/>
          <span *ngIf="jpnop.errors && (jpnop.dirty || jpnop.touched || jobposting.submitted)" class="error">Number of Position is required</span>
        </li>
       </ul>
     </div><!--postJobBlock ends-->
     <div class="postJobActions">
       <button id="submit" type ="submit" placeholder="Post Now" style="background-color: #054774 !important;">Submit</button>
       <button type ="submit" *ngIf="comID" (click)="saveAsDraft()">Save As Draft</button>
       <button type ="submit" *ngIf="jobid" (click)="clonetheJob()">Clone This Job</button>
      </div><!--postJobActions ends-->
     </div><!--col-md-12 ends-->
     </div>
    </div><!--container ends-->
  </form>

  </div><!--mainContainer ends-->
</div> 
</div>
  <app-footer *ngIf="!clientId"></app-footer>

</ion-content>
