<app-header></app-header>
<ion-content>
<!--**************************************************************************************HEADER ENDS****************************-->
<div *ngFor="let dts of jobdetails">
<div class="pageHeadBlock">
  <div class="container">
  <h1 class="pageTitle" *ngIf="dts.person_work_exp==0">{{dts.job_title}} ( Exp. {{dts.person_work_exp}} year )</h1>
  <h1 class="pageTitle" *ngIf="dts.person_work_exp!=0">{{dts.job_title}} ( Exp. {{dts.person_work_exp}} years )</h1>
  <div class="beadcrumbs">
    <ul><li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/job-listing">Jobs</a></li>
      <li><a (click)="jobListing(dts.job_category)">{{dts.job_category_title}}</a></li>
      <li *ngIf="dts.person_work_exp==0">{{dts.job_title}} (Exp. {{dts.person_work_exp}} year )</li>
      <li *ngIf="dts.person_work_exp!=0">{{dts.job_title}} (Exp. {{dts.person_work_exp}} years )</li>
    </ul>
  </div>
  </div>
</div><!--pageHeadBlock ends-->


<div class="mainContainer">

  <div class="container">


    <div class="searchResultHead clears">
           
      <div class="searchResults">{{dts.job_title}}</div>
      <a class="upgradePlan"><img src="../../../assets/images/red_bar01.png"></a>
   
</div>

  
   <div class="row">
      
   <div class="col-md-8 col-lg-8">
   
   <div class="clientDetailsBlock">
     <h3 class="sHead">Job Description</h3>
     <p>{{dts.job_description}}</p>
     
     <h3 class="sHead">Responsbilities</h3>
     <p class="educationSummary">{{dts.responsibilities}}</p>
     <!-- <ul class="eDetails">
    <li>Build next-generation web applications with a focus on the client side.</li>      
    <li>Redesign UI's, implement new UI's, and pick up Java as necessary.</li>      
    <li>Explore and design dynamic and compelling consumer experiences.</li>      
    <li>Design and build scalable framework for web applications.</li>      
      </ul> -->
      
      
      <h3 class="sHead">Minimum Qualifications</h3>
     <div class="eDetails"><p>{{dts.min_qualification}}</p></div>

     <h3 class="sHead">Key Skill</h3>
     <div class="eDetails"><p>{{dts.skill_set}}</p></div>
      
      
     <!-- <h3 class="sHead">Location</h3>
     <div id="mapDiv"></div> -->
     <!-- <div id="mapDiv">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25595.24322269211!2d117.1397154952254!3d36.68879491397325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x970da2e0d092cef6!2sJinan+MORN+Technology+Co.%2CLtd!5e0!3m2!1sen!2sus!4v1512722168933" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
     </div> -->
    </div><!--clientDetailsBlock ends-->
      <div class="clientDetailsFtr">     
     <div class="socialShare"><span>Share:</span> <ul class="socialLinks">
       <li><a (click)="shareFacebook($event)" class="fb">facebook</a></li>
       <li><a (click)="shareTwitter($event)"  class="tw">twitter</a></li>
       <!-- <li><a (click)="shareGooglePlus($event)"  class="gp">googleplus</a></li> -->
       <li><a (click)="shareLinkedIn($event)" class="li">linkedin</a></li></ul></div>
     <!-- <div class="keywords"><span>Keywords</span> <ul class="keywordsList"><li><a href="">surgeon</a></li><li><a href="">heart</a></li><li><a href="">health</a></li><li><a href="">dental</a></li><li><a href="">hospital</a></li><li><a href="">medical</a></li></ul></div> -->
      </div>
   </div><!--col-md-9 ends-->
   
   <div class="col-md-4 col-lg-4">
     <div class="clientDetailsVBlock">
       <div class="cdbHead">Job Overview</div>
       <div class="jName" *ngIf="dts.person_work_exp==0">{{dts.job_title}} (Exp. {{dts.person_work_exp}} year )</div>
       <div class="jName" *ngIf="dts.person_work_exp!=0">{{dts.job_title}} (Exp. {{dts.person_work_exp}} years )</div>
       <div class="jComp">{{dts.client_name}}</div>
       <div href="#" class="jobsCount">{{dts.job_type}}</div>
       
       <ul class="clientQuickViewList">
       <li class="jobsDate"><label>Date Posted:</label>{{dts.date_opened}}</li>
        <li class="jobsLoc"><label>Location:</label>{{dts.client_city}}</li>
        <li class="jobsOpen"><label>Job Title:</label>{{dts.job_title}}</li>
        <!-- <li class="jobsHour"><label>Hours:</label>40h / Week</li> -->
        <li class="jobsPerk" *ngIf="dts.person_salary"><label>Salary:</label>{{dts.currency}} {{dts.person_salary}}</li>
        <li class="jobsCat"><label>Category:</label>{{dts.job_category_title}}</li>
        <li class="jobsExp" *ngIf="dts.person_work_exp==0"><label>Experience:</label>{{dts.person_work_exp}} year</li>
        <li class="jobsExp" *ngIf="dts.person_work_exp!=0"><label>Experience:</label>{{dts.person_work_exp}} years</li>
       </ul>
      <a (click)="applyNow(dts.job_id)" class="viewJobs">{{text}}</a>
     </div><!--candidateQuickView ends-->
     
     <div *ngIf="status" class="status_wrap032">
       <h4>Application Status</h4>
       <div *ngFor="let cs of status" class="status_box023">
         <ul >
           <li>{{cs.createdAt | date:'dd/MM/yyyy hh:mm a'}}</li>
           <li>{{cs.status_title}}<span *ngIf="cs.sub_status_title"> ({{cs.sub_status_title}})</span></li>
         </ul>
        </div>


     </div>
     
      <div class="clientDetailsVBlock" *ngIf="count">
       <div class="cdbHead">Similar Jobs</div>
       
       <ul class="relatedJobsList">
         <li *ngFor="let job of relatedjoblist"> <div class="jobTitle">{{job.job_title}}<span>({{job.person_work_exp}} Exp.)</span></div>
              <div class="jobComp">{{job.client_name}}</div>  
              <div class="jobPerk" *ngIf="job.person_salary">{{job.person_salary.split(' ')[1]}} {{job.person_salary.split(' ')[0]}} P.A</div> 
              <div class="jobLoc">{{job.basic_info_city}}, {{job.basic_info_cuntry}}</div> 
              <!--<div class="jobAction"><a href="">Details</a><a href="">Apply</a></div> -->       
         </li>
    
       </ul>
       
     </div><!--candidateQuickView ends-->

     <div class="addResumeCTA" *ngIf="service.userid">
     <div class="arcImage"><img src="../../../assets/images/n/cr1.jpg"/></div>
     <div class="arcOver">Get Best Matched Jobs On your Email. <br/> Add Resume NOW! <a (click)="uploadIMG()">Add Resume</a></div>
     <input type="file" id="videoInput" style="display: none;" (change)="changeImg($event.target)" accept="application/pdf">
     </div><!--addResumeCTA ends-->
     
     
   </div><!--col-md-3 ends-->
   
   
   </div>
  
  

  </div><!--container ends-->
 
</div><!--mainContainer ends-->
</div>
<app-footer></app-footer>
</ion-content>
