ion-content{

    --ion-background-color:#f4f6f9;
}
.pageHeadBlock {
    width: 100%;
    clear: both;
    display: block;
    background-image: url("../../../assets/images/n/banner-form.jpg"); background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.beadcrumbs {
    clear: both;
    display: block;
    margin-bottom: 40px;
}
.beadcrumbs ul li {
    display: inline-block;
    float: left;
    color: #00aeef;
    font-size: 1.2em;
}
.beadcrumbs ul li a {
    color: #fff;
}
.beadcrumbs ul li a::after {
    content: "/";
    float: right;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}
.pageHeadBlock::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(5,71,116,.7);
    clear: both;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
}
.pageHeadBlock .container {
    padding: 20px 10px 10px;
    position: relative;
    z-index: 9;
}
h1.pageTitle {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}

.button-comp{
    float: right;
    margin-bottom: 15px;
    margin-top: 10px;
}
.company-list-sec{ width:65%; margin: auto;}  
.button-sty{display: flex;
    margin: 0px;
    white-space: nowrap;
    margin-top: 30px;}
.button-sty ion-button {width: 70%;
    padding: 0px 5px;
    font-size: 14px;
    float: right;}  
.details-text h2{font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;  color: #0693f5;}
.details-text h3{   font-size: 14px;
    font-weight: 400;
    padding: 6px 0px;
    color: #666666;} 
    .lookingForcp, .dbContainer {
        /* background: #fff; */
        /* border: 1px solid #d6d6d6; */
        /* border-radius: 4px; */
        width: 70%;
        margin: 50px auto;
        margin-top: 50px;
    } 
   .img-profile{ width: 150px; height: 150px; margin: auto;
    border-radius: 50%;} 
   ul.lookingForList li {
    width: 50%;
    float: left;
    margin-bottom: 30px;
    padding-left: 20px; 
}
.profiledbBlock{ margin-bottom: 30px;}
.lookingForList {
    margin-bottom: 10px;
    width: 100%;
    margin: auto;
    margin-top: 15px;
}
.dbmLabel{ 
    font-size: 14px;
    color: #747474;
    margin-right: 20px;
    padding: 0;
    font-family: "Open Sans", sans-serif;
} 
.dbmMatr {
    color: #272626;
    font-size: 14px;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    line-height: 14px;
}

ul.lookingForList li {
    width: 33%;
    float: none;
    margin-bottom: 0px;
    padding-top: 0px;
    margin: 2px 0px 12px;
    display: inline-block;
    vertical-align: middle;
 }




.sc-ion-card-md-h{ box-shadow: none;}  
.dbBlockHd {
    border-bottom: 1px solid #ebebeb;
    padding: 20px 20px 15px;
    background: #054774;
} 
.dbmEditable select {
    width: 100%;}  
.dbBlockHd h4 {
    color: #fcfcfc;}
.dbBlockHd a {
        display: inline-block;
        float: right;
        color: #ffffff !important;
    }    
 .input-sty{ width: 100%;}       
 .dbmMatr {
    width: 100%;
}

.profile_form01.prof_edit012 .input-sty1{
    width: 42px;
    height: 40px;
    text-align: center;
    padding: 0 5px !important;
    display: inline-block;
    vertical-align: middle;
}

.profile_form01.prof_edit012 .input-sty2{
    width: calc(100% - 46px);
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
}

.dbmEditable .input-sty2 {
        padding: 10px;
        border: 1px solid #ebebeb;
        background: #fff;
        border-radius: 4px;
        width: 76%;
        margin-left: 5px;
        color:gray;
    } 
    
    .inner-form .dbmEditable textarea{padding: 10px;
        border: 1px solid #ebebeb;
        background: #fff;
        border-radius: 4px; padding: 0px 12px; color:gray;} 
  
    .img-client-profile{ width: 150px; margin: auto; border-radius:50%; height: 150px; display: block; position: relative;}    
    .addCV{ position: absolute; top:0;} 
    
 .addCV{float: right;
    right: 0;
    margin-right: 24px;} 
 .client-edit{    position: relative;
    width: 150px;
    margin: auto;}   
 .edit-icon{ font-size: 20px; }  
 .button-cliebt-sce{ text-align: center;}
  .dbmEditable input.updateBlock {
    margin: 5px;
}
.password-sec{
    margin: auto;
}
.input-pass-sec ul li{ 
    width: 32%;
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
}
.input-pass-sec input {
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    width: 100%;
}
.input-pass-sec {width: 90%;
margin: auto;
display: block;
text-align: center;     
margin-top: 30px; 
}

.button-cliebt-sce input{ margin: auto; width: 20%; color: #fff;
    font-size: 14px;
    font-family: "open_sansregular";
    background: #054774;
    padding: 10px 20px;
    border-radius: 4px;
    width: 20%; margin-bottom: 30px; margin-top: 15px;}

    .input-pass-sec .dbmLabel {
        text-align: left;
        margin-left: 0;
    }
    .password-current{ position: relative;}
    .requied{ float: left;
        margin-left: 15px; color: #fc0303;
        font-size: 14px}
    .divd-sec-border{ border-top: 15px solid #f4f6f9;}
   
    @media screen and (max-width:900px){    
    ul.lookingForList li {
        width: 100%;}
        .lookingFor .dbContainer {
            width: 90%!important;
    }
    .profile-view .img-profile {
        width: 80px!important;
        height: 80px!important;
        margin: inherit;
    }
    .details-profile {
        width: 100% !important;}

        .dbmMatr{
            width: 100%;
        }  
  
     .profile-view ul.lookingForList li {
            width: 100%!important;}      
    .lookingForcp{ width: 94%;}
    .dbmLabel{
        width: 200px;
    }
    .button-cliebt-sce input{
     width: 35%; 
  }
  .dbBlockMatr.dbmEditable {
    display: none;
}
ul.lookingForList li {
    padding-left: 0px;
}

.dbBlockHd {
    padding: 10px 20px 8px;
}
.dbBlockHd h4 {
    font-size: 18px;
}
.pageHeadBlock .container{
    padding: 20px 10px 10px;
}
.img-profile-sec {
    width: 100% !important;
    margin-bottom: 30px;
}
.sec-dev {
    width: 100% !important;
}
.details-profile {
    padding: 0px 20px;
}
}

.profile-view .img-profile{
    width: 100%;
    height: 100%;
    background-size: cover;

}

.img-profile-sec{ width: 20%; float: left; background: #fff; padding: 40px; padding: 20px; border: 1px solid #d6d6d6;
    box-shadow: 0px 1px 2px 2px #e6e2e2; border-radius: 4px;}
.details-profile{ width: 100%; float: left; }
.sec-dev{  box-shadow: 0px 1px 2px 2px #e6e2e2;
    background: #fff;
    width: 77%;
    float: right;
    margin-bottom: 30px; border: 1px solid #d6d6d6; border-radius: 4px;
    padding-bottom: 16px;
}
.img-profile-sec h3{color: #272626;
    font-size: 14px;
    text-align: center;
    padding: 20px 14px 0px;
    font-weight: 600;}   
.sec-dev h3{color: #272626;
    font-size: 16px;
    padding: 20px 20px 10px;
    font-weight: 600;}     
.profile-view ul.lookingForList li {
    width: 72%;
    float: left;
    margin-bottom: 0px;
    padding-top: 0px;
    margin: 2px 0px;
    display: flex;}
  
    .colom-sec{width: 20%;
        text-align: center;}     
   .my-profile-sec .profiledbBlock h4::before {
  display: none;
    }    
    .dbmEditable input, .dbmEditable select, .dbmEditable textarea {
        padding: 10px;
        border: 1px solid #ccc!important;     /*color: gray;*/}  

    .profiledbBlock h4{ font-size: 18px;}    
    .img-profile-new{width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        clear: both;
        margin: auto;} 

.profile_form01 .lookingForList li{
    margin-bottom:10px !important;
}


//Style-vijay

.profile_section010{
    padding: 40px 0;
}

.profile_form01 .error 
{
    display: inline-block;
}

.profile_form01.prof_edit012 .lookingForList li{
    float: none;
    display: inline-block;
    vertical-align: middle;
    height: auto;
}


.profile_form01.prof_edit012 .lookingForList li .dbmLabel{
    width:auto;
    text-align: left;
    display: block;
}


.profile_form01.prof_edit012 .lookingForList li{vertical-align: top;}

.my-profile-sec .lookingForList li span{color:red}

@media(max-width:900px){
    .profile_form01.prof_edit012 .lookingForList li{
        float: none;
        display: inline-block;
        vertical-align: top;
        height: auto;
        width: 47%;
        margin: 0 5px;
    }   

    .input-pass-sec {
        width: 100%;
    }
}

@media(max-width:585px){
    .dbBlockMatr.dbmEditable{padding: 0;}

    .profile_form01.prof_edit012 .lookingForList{
        text-align: center;
    }

    .input-pass-sec ul li {
        width: 100%;
        float: none;
        display: block;
        margin: 0 0 10px;
    }
}

@media(max-width:420px){
    .profile_form01.prof_edit012 .lookingForList li{
        float: none;
        display: block;
        height: auto;
        width: 100%;
        margin: 0 0 10px;
    }  
}