<app-header *ngIf="service.login_type != 'admin'"></app-header>
<app-admin-header *ngIf="service.login_type == 'admin'"></app-admin-header>

<div *ngIf="service.login_type != 'admin'" class="pageHeadBlock"><div class="container">
  <!-- <h1 class="pageTitle">Assigned job to Candidates</h1> -->
  <h1 class="pageTitle">Shortlist Candidates</h1>
  <div  class="beadcrumbs">
  <ul>
  <li><a routerLink="/client/dashboard" style="color: white;">Home</a></li>
  <li>Shortlist Candidates</li>
  </ul>
  </div>
  </div>
  </div>

<ion-content>
  <div class="shortlist_section01">
    <div class="container">

      <!-- <div  class="searchResultHead clears">
        <div class="searchResults">Assigned job to Candidates</div>
        <a class="upgradePlan"><img src="../../../assets/images/red_bar01.png"></a>
      </div> -->

      <div class="head_top01 clears">
        <h2>Shortlist Candidates</h2>
        <!-- <button (click)="addNewJob()">ADD JOB</button> -->
      </div>

      <div class="row">
        <div class="col-md-4">
          <h3>Job Details</h3>
          <div class="sht_job_dt">
              
              <div><p class="cName" *ngFor="let j of jobdetails"> {{j.job_title}}</p></div>
              <ul>
              <li><p *ngFor="let j of jobdetails"><i class="fa fa-tag"></i>{{j.job_category_title}}</p></li>
              <li><p *ngFor="let j of jobdetails"><i class="fa fa-cogs"></i>{{j.skill_set}}</p></li>
              <li><p *ngFor="let list of jobdetails"><i class="fa fa-map-marker"></i>{{list.basic_info_city}}, {{list.basic_info_state}}, {{list.basic_info_cuntry}}</p></li>
              <li><p *ngFor="let list of jobdetails"><i class="fa fa-calendar"></i>{{list.date_opened | date: 'dd/MM/yyyy'}}</p></li>
             </ul>
            </div>  
        </div>
        <div class="col-md-8">
          <div class="candi_short_top clears">
            <h3>Candidates List</h3>
            <div class="candi_right">
              <ion-button *ngIf="allcandidatelist && allcandidatelist.length > 0" (click)="manageCandidate()">SAVE</ion-button>
            </div>
          </div>
          
            <div class="shortlist_wrapper">
              <ul class="candidateList candi_listbox121" >
                <h5 *ngIf="!allcandidatelist || allcandidatelist.length == 0">No candidate found</h5>
                  <li *ngFor="let can of allcandidatelist">
                    
                        <div class="ion-margin">
                          <div class="clImage"><img src="{{can.candidate_picture}}" style="width: 100px;height: 100px;"></div>
                          <div class="clMatr">
                            <div><p class="cName" (click)="canDetails(can.candidate_id)" style="cursor: pointer;">{{can.name}}</p></div>
                            <div class="cand_row"><span class="cJob"><i class="fa fa-tag"></i> {{can.candidate_category_title}}</span></div>
                            <div class="cExp"><p>{{can.total_experience}}</p></div>
                            <div class="cExp"><label><i class="fa fa-cogs"></i>Skills : {{can.candidate_skill}}</label></div>
                            <div class="check_wrap22">          
                              <label class="checkbox_block">
                                <input type="checkbox" (change)="checking($event)" value="{{can.candidate_id}}">
                                <small class="checkmark"></small>
                              </label>
                            </div>

                          </div>
                        </div>
                   
                    </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>

</ion-content>