.footer_logo{
    text-align: center;
    padding: 7px 0 18px;
    border-bottom: 1px solid #0a609a;
    margin-bottom: 40px;
    display: block;
}

.footer_logo img{
    max-height: 50px;
    margin:0 auto;
}

.thank_msg, .error_text{
    display:block;
    padding:4px 0;
}

.error_text{
    color:#f70606e0;
}