<div class="footerArea">
  <div class="footerBlueBand">
    <div class="container">
    <div class="row subscribeBlock">
      <div class="col-md-5"><h3>Get Jobs Notification</h3><p>Free Subscribe Our Newsletter Now!</p></div>
      <div class="col-md-7">
        <form #login="ngForm" id="loginform" (ngSubmit)="validatelogin(login)">
          <div class="news_lt_fields clears">
         <input type="email" name="semail" [(ngModel)]="semail" #ee="ngModel" value="" placeholder="Enter Email ID"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required/>
        
         <input type="submit" name="" value="Go"/>
        </div>
         <span class="error_text" *ngIf="ee.errors && (ee.dirty || ee.touched || login.submitted)">Please enter an valid Email ID</span>
        </form>
        <div>
          <span [ngClass]="msg=='Thank you for subscribing.' ? 'thank_msg' : 'error_text'">{{msg}}</span>
        </div>
      </div>
    </div>
    </div>
  </div><!--footerBlueBand ends-->
  
  <div class="footerDarkBand">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="" class="footer_logo"><img src="{{dataserv.mainLogo}}"/></a></div></div>
      <div class="row">
      <div *ngIf="title" class="footer_block" [ngClass]="dataserv.login_type ? 'col-md-6' : 'col-md-9'">
        <h3 style="text-transform: uppercase;">{{title}}</h3>
        <p>{{content}}</p> 
        <!-- <a style="color: white;">Read More</a> -->
      </div>
      
      <div *ngIf="dataserv.login_type && dataserv.login_type == 'client'" class="col-md-3 footer_block">
        <h3>For Employer</h3>
        <ul class="kstuffLinks">
       <li (click)="footerDashboard()"><a>Dashboard</a></li>
       <li (click)="footerProfile()"><a>Profile</a></li>
       <li (click)="footerCompany()"><a>Company</a></li>
       <li (click)="footerJobpost()"><a>Job posting</a></li>
       </ul> 
      </div>
      
      <div *ngIf="dataserv.login_type && dataserv.login_type == 'candidate'" class="col-md-3 footer_block">
        <h3>For Candidate</h3>
        <ul class="kstuffLinks">
       <li (click)="canDashboard()"><a>Dashboard</a></li>
       <li (click)="jobListing()"><a>Job Listing</a></li>
       <li (click)="canAppliedjob()"><a>Applied Job</a></li>
       <li (click)="canFevJob()"><a>Favourite Job</a></li>
       </ul> 
      </div>
      
      <div class="col-md-3 footer_block">
        <h3>Quick Links</h3>
        <ul class="kstuffLinks">
       <li *ngFor="let list of cmsfooterList"><a (click)="Gotocmspagelink(list.slug)">{{list.title}}</a></li>
       <!-- <li><a (click)="Gotocmspagelink('terms-condition')">Terms & Conditions</a></li>
       <li><a (click)="Gotocmspagelink('privacy-policy')">Privacy Policy</a></li>
       <li><a (click)="Gotocmspagelink('sitemap')">Sitemap</a></li>
       <li><a (click)="Gotocmspagelink('contact-us')">Contact Us</a></li>
       <li><a (click)="Gotocmspagelink('faq')">FAQs</a></li> -->
       </ul> 
      </div>
      
      
      
    </div>
     <div class="copyrightBar clears">
      
    
        <ul class="socialLinks">
        <li><a class="fb" (click)="shareFacebook($event)">Facebook</a></li>
        <li><a class="tw" (click)="shareTwitter($event)">Twitter</a></li>
        <!-- <li><a class="gp" (click)="shareGooglePlus($event)">Gplus</a></li> -->
        <li><a class="li" (click)="shareLinkedIn($event)">Linked In</a></li>
        </ul>

        <div class="copy_right02">&copy; Copyright 2019-{{y.toString().slice(0,2)}} Redford Recruiters All Rights Reserved</div>
  
     </div>

    </div>
  </div><!--footerBlueBand ends-->

</div><!--footerArea ends-->


