<div class="edit_short_section">

<ion-header>
  <ion-toolbar>
      <ion-button fill="clear" slot="end" size="small" (click)="closeModal()">
          <ion-icon name="close" class="color-cross" ></ion-icon>
      </ion-button>
    <ion-title><h2>Update Candidate Status</h2></ion-title>
  </ion-toolbar>
</ion-header>


  <div class="edit_candi_form">
    <form #jos="ngForm" id="loginform" (ngSubmit)="validateform(jos)">

       <div>
          <select [(ngModel)]="mainstatus" name="mainstatus" #ms="ngModel" required (change)="get_Substatuslist(mainstatus)">
            <option [value]="main" [selected]="main == 'Select Status'" disabled>Select Status</option>
            <option *ngFor="let list of mainstatuslist" value="{{list.candidate_job_opening_status_id}}">{{list.title}}</option>
          </select>
          <span *ngIf="mainstatus == 'Select Status' && jos.submitted" class="field_error">This field is required</span>
        </div>
        <div>
          <select [(ngModel)]="substatus" name="substatus" #ss="ngModel" required>
            <option [value]="sub" [selected]="sub == 'Select Substatus'" disabled>Select Substatus</option>
            <option *ngFor="let list of substatuslist" value="{{list.candidate_job_opening_sub_status_id}}">{{list.title}}</option>
          </select>
          <span *ngIf="substatus == 'Select Substatus' && jos.submitted" class="field_error">This field is required</span>     
        </div>
        <div>
          <input value="Update"  type="submit" class="btn" [disabled]="jos.invalid"/>
        </div>
        </form>
  </div>     


</div>
