<app-header *ngIf="service.login_type != 'admin'"></app-header>
<app-admin-header *ngIf="service.login_type == 'admin'"></app-admin-header>

<ion-content>
  
  <div class="pageHeadBlock" *ngIf="service.login_type != 'admin'">
    <div class="container">
    <h1 class="pageTitle">{{jobtitle}}</h1>
    <div class="beadcrumbs">
      <ul><li><a routerLink="/client/dashboard" style="color: white;">Home</a></li><li><a (click)="goCompany()">{{comName}}</a></li><li>{{jobtitle}}</li></ul>
    </div>
    </div>
  </div><!--pageHeadBlock ends-->
  
  
  <div class="mainContainer">
  
    <div class="container">
    
     <div class="row">
     
     
     <div class="col-lg-9 col-md-8">
     
     <div class="clientDetailsBlock">
      <h3 class="sHead">Job Title</h3>
      <p>{{jobtitle}}</p>

      <h3 *ngIf="statustitle" class="sHead">Job Status</h3>
      <p  *ngIf="statustitle" class="educationSummary">{{statustitle}}</p>

       <h3 class="sHead">Job Description</h3>
       <p>{{jobdes}}</p>
       
       <h3 *ngIf="jobres" class="sHead">Responsbilities</h3>
       <p *ngIf="jobres" class="educationSummary">{{jobres}}</p>
        
      <h3 *ngIf="jobqfctn" class="sHead">Minimum Qualifications</h3>
      <p *ngIf="jobqfctn" class="eDetails">{{jobqfctn}}</p>
        
      <h3 *ngIf="jobreq" class="sHead">Requirments</h3>
      <p *ngIf="jobreq" class="educationSummary">{{jobreq}}</p>
      
      <h3 *ngIf="jobskill" class="sHead">Skill</h3>
      <p *ngIf="jobskill" class="educationSummary">{{jobskill}}</p>

      <h3 class="sHead">Category</h3>
      <p class="educationSummary">{{jobcat}}</p>
      
      <h3 class="sHead">Experience</h3>
      <p class="educationSummary" *ngIf="jobexp==0">{{jobexp}} year</p>
      <p class="educationSummary" *ngIf="jobexp!=0">{{jobexp}} years</p>

      <h3 *ngIf="jobsal" class="sHead">Salary</h3>
      <p *ngIf="jobsal" class="educationSummary">{{jobsal}} {{jobcurrency}}</p>
      
      <h3 class="sHead">Location</h3>
      <p class="educationSummary">{{jobcity}}, {{jobste}}, {{jobcunty}}</p>

      <h3 *ngIf="healthLicence" class="sHead">Healthcare Licence</h3>
      <p *ngIf="healthLicence" class="educationSummary">{{healthLicence}}</p>

      <h3 *ngIf="licenceNo" class="sHead">Licence Number</h3>
      <p *ngIf="licenceNo" class="educationSummary">{{licenceNo}}</p>

       <!-- <h3 class="sHead">Location</h3>
       <div class="">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25595.24322269211!2d117.1397154952254!3d36.68879491397325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x970da2e0d092cef6!2sJinan+MORN+Technology+Co.%2CLtd!5e0!3m2!1sen!2sus!4v1512722168933" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
       </div> -->
       
      </div>
       
     </div><!--col-md-9 ends-->
     
     <div class="col-lg-3 col-md-4">
       <div class="clientDetailsVBlock">
         <div class="cdbHead">Company Overview</div>
         <div class="cImage"><img src="{{comlogo}}"/></div>

         <div class="cName">{{comName}}</div>
         <div class="cProf">{{comCat}}</div>
         
         <ul class="clientQuickViewList">
          <li class="jobsLoc"><label>Company Website:</label>{{comSite}}</li>
          <li class="jobsOpen"><label>Company E-mail:</label>{{comMail}}</li>        
          <li class="jobsCat"><label>Company Size:</label>{{comSize}} Employes</li>        
         </ul>
         
         <a class="viewJobs" (click)="comJobList(comid)">View Jobs</a>
       </div>
     </div>
     </div>
    </div>
  </div>
  <app-footer *ngIf="service.login_type != 'admin'"></app-footer>
</ion-content>
