<ion-header>
      <ion-toolbar padding>
          <ion-button fill="clear" slot="end" size="small" (click)="closeModal()">
            <ion-icon name="close" class="color-cross" ></ion-icon>
          </ion-button>
    <ion-title>Complete your registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
      <form #register="ngForm" id="registerform" (ngSubmit)="validateuser(register)" class="form-sty"> 
           <div class="form-new-sec">
              <ion-label>Phone No</ion-label>
              <input type="text" placeholder="+971" name="ccode" required [(ngModel)]="ccode" class="code-sec">
              <input type="text" placeholder="Phone Number" name="phone" required [(ngModel)]="phone" #pphone="ngModel" autocomplete="off" class="input-seec" pattern="^[1-9][0-9]*$" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"/>
              <span *ngIf="pphone.errors && (pphone.dirty || pphone.touched || register.submitted)" class="required-sec">Phone Number & Country Code both are required</span>
            </div>
            <div class="sect-sec">
                <ion-label>company Name</ion-label>
              <input type="text" placeholder="Company Name" class="companyName" name="cname" #cmpname="ngModel" autocomplete="off" class="select-box-sty" required [(ngModel)]="cname" />
              <span *ngIf="cmpname.errors && (cmpname.dirty || cmpname.touched || register.submitted)" class="required-sec">Company name is required</span>
            </div>  
            <div class="sect-sec">
                <ion-label>Company Size</ion-label>
            <select name="csize" [(ngModel)]="csize" required class="csize select-box-sty" >                          
              <option [value]="size" [selected]="size == 'Company Size'" disabled>Company Size</option>
              <option *ngFor='let s of companysizelist' [value]="s.size">{{s.size}}</option>
            </select>
            <span *ngIf="csize=='Company Size' || register.submitted" class="error">Please select Company Size</span>
            <ion-label>Company Type</ion-label>
            <select name="ctype" [(ngModel)]="ctype" required class="ccat select-box-sty">
              <option [value]="type" [selected]="type == 'Company Type'" disabled>Company Type</option>
              <option *ngFor='let t of companytypelist' [value]="t.category_id">{{t.title}}</option>
            </select>
            <span *ngIf="ctype == 'Company Type' || register.submitted" class="error">Please select Company Type</span>
          </div>
            <!-- <input type="checkbox" name="checked" required [(ngModel)]="checked"/><span class="atc">Accept Terms & Conditions</span> -->
            <input class="btn btn-sty" value="Save" type="submit" />
    </form>
  </div>

</ion-content> 
