.dropdown:hover .dropdown-menu {display: block;}
img.hdProfilePic {
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    height: 35px;
}
.dropdown-toggle::after {
    margin-right: 5px;
}


.header-menu{
    padding-left:33px
}


@media (max-width:1280px){
    .main_header_nav {
        padding: 9px 0 0;
    }
}

@media (max-width: 1140px){
.main_header_nav {
    padding: 5px 0 0;
}
}


@media only screen and (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link:hover {
        color: gray;
        cursor: pointer;
        background: none
    }

    .navbar-light .navbar-nav .nav-item:hover .nav-link i{
        color: gray;
    }
}
@media only screen and (max-width: 992px) {

.navbar {
    padding: 0px 0 !important;
}

}

@media (max-width:479px){
    .container-fluid{
        padding: 0 !important;
    }

    .navbar{padding: 0 10px !important;}
}