<div class="container-fluid bg-rfrBlue">

  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-rfrBlue" >

      <ion-row class="ion-no-margin ion-no-padding" style="width:100%">

      <ion-col size-md="12"  size-lg="2" size-sm="12" size-xs="12" class="ion-no-margin ion-no-padding">
            <a class="navbar-brand logo" href="#"><img style="max-height:50px" src="{{dataserv.mainLogo}}"/></a>
      </ion-col>

      <ion-col size-md="12"  size-lg="10" size-sm="12" size-xs="12">

      <button class="navbar-toggler navbar-dark toggle_menu01" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse main_header_nav" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto header-menu" style="padding: 0;" *ngIf="!dataserv.userid">
            <li class="nav-item active">
              <a class="nav-link nav-actv" (click)="clogin()" *ngIf="!dataserv.userid"><i class="fa fa-user"></i>  For Employers<span class="sr-only">(current)</span></a>
            </li>

            <li _ngcontent-swn-c2="" class="nav-item" *ngIf="!dataserv.userid"><a _ngcontent-swn-c2="" class="nav-link" (click)="post_job()"><i class="fa fa-telegram"></i> Post a Job</a></li>
          </ul>


      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link nav-actv" (click)="home();">Home <span class="sr-only">(current)</span></a>
        </li> -->

        <li class="nav-item" *ngIf="dataserv.login_type == 'candidate'">
          <a class="nav-link" (click)="jsDashboard();"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>

        <li class="nav-item" *ngIf="dataserv.login_type == 'client'">
          <a class="nav-link" (click)="clientDashboard();"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>

        <li class="nav-item" *ngIf="dataserv.login_type == 'candidate' || !dataserv.userid">
          <a class="nav-link" (click)="jobListing()"><i class="fa fa-list-alt"></i> Job Listing</a>
        </li>
        <li class="nav-item" *ngIf="dataserv.login_type == 'candidate'">
          <a class="nav-link" (click)="appledjob();"><i class="fa fa-clipboard"></i>Applied Job</a>
        </li>
        <li class="nav-item" *ngIf="dataserv.login_type == 'candidate'">
          <a class="nav-link" (click)="FvouriteJob();"><i class="fa fa-heart"></i>Favourite Job</a>
        </li>
        <li class="nav-item" *ngIf="!dataserv.userid">
            <a class="nav-link" (click)="registercv()"><i class="fa fa-file-pdf-o"></i> Register CV</a>
          </li>
          <li class="nav-item" *ngIf="!dataserv.userid">
              <a class="nav-link" (click)="jsSignin()"><i class="fa fa-sign-in"></i> Login</a>
            </li>

        <li class="nav-item" *ngIf="dataserv.login_type == 'client'">
          <a class="nav-link" (click)="clientCompany();"><i class="fa fa-building"></i> Company</a>
        </li>
        
        <li class="nav-item" *ngIf="dataserv.login_type == 'client'">
          <a class="nav-link" (click)="jobposting()"><i class="fa fa-cogs"></i> Job Posting</a>
        </li>

        <!-- <li class="nav-item" *ngIf="dataserv.login_type == 'client'">
          <a class="nav-link" (click)="jsListing();">Candidate</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" (click)="jobPost();">Clients</a>
        </li> -->
        <!-- <li class="dropdown nav-item" *ngIf="dataserv.login_type != 'candidate'">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-expanded="false">Clients<span class="caret"></span></a>
            <ul class="dropdown-menu" style="background:midnightblue" role="menu">
              <li><a class="nav-link">Job Posting</a></li>
            </ul>
        </li>  -->   
        <!-- <li class="dropdown nav-item" *ngIf="!dataserv.userid">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-expanded="false">Signin<span class="caret"></span></a>
            <ul class="dropdown-menu dropNavList" role="menu">
              <li><a (click)="jsSignin()">Candidate</a></li>
              <li><a (click)="clogin()">Client</a></li>
            </ul>
        </li>-->
        
        <!--<li class="nav-item">
        <a class="nav-link" (click)="logout();" *ngIf="dataserv.userid">Logout</a>
      </li>-->

      <li class="dropdown nav-item profileDrop" *ngIf="dataserv.userid">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-expanded="false"> <img src="{{profilePic}}" class="hdProfilePic"/>{{firstName}}<span class="caret"></span></a>
            <ul class="dropdown-menu dropNavList" role="menu">
              <!--  <li><a href="#">Profile & CV</a></li>
              <li><a href="#">Draft Applications</a></li>
              <li><a href="#">Profile & CV</a></li>
              <li><a href="#">Draft Applications</a></li>
              <li><a href="#">Profile & CV</a></li>
              <li><a href="#">Draft Applications</a></li>
              <li><a href="#">Profile & CV</a></li>
              <li><a href="#">Draft Applications</a></li> -->
              <li><a (click)="goto_profile()" *ngIf="dataserv.login_type == 'client'">Profile</a></li>   
              <li><a (click)="logout();" *ngIf="dataserv.userid">Logout</a></li>       
            </ul>
        </li>


      <!-- <li class="nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-expanded="false"><img src="http://172.105.47.7:3302/contents/no_image_redford.jpg" class="hdProfilePic"/><span class="hdLogName">Mitrajit </span></a>
          <ul class="dropdown-menu dropNavList">
              <li><a href="#">Profile & CV</a></li>
              <li><a href="#">Draft Applications</a></li>
            </ul>

          
        </li>-->
        <!-- <li class="nav-item">
          <a class="nav-link" (click)="jsDetails()">Candidate Details</a>
        </li>   -->
      </ul>

      </div> 

      </ion-col>

      </ion-row>

  </nav>  <!--headerContainer ends-->


</div>