<app-header *ngIf="service.login_type != 'admin'"></app-header>
<app-admin-header *ngIf="service.login_type == 'admin'"></app-admin-header>

<ion-content>
  <div class="cms_wrapper">



  <div class="container">
    <div  class="searchResultHead clears">
      <div class="searchResults"><h4>{{title}}</h4></div>
      <div class="upgradePlan"><img src="../../../assets/images/red_bar01.png"></div>
    </div> 

    
    <div id="xyz" [innerHtml]="content | mdToHtml"></div>
  </div>

</div>


  <app-footer></app-footer>
</ion-content>
