<app-admin-header></app-admin-header>

<ion-content>
  <div class="cms_list_wrap">
  <div class="container">
    <div class="cms_btn_top clears">
      <h2>Email Template</h2>
      <button (click)="addTemplate()">Add Template</button>
    </div>
    <div>
      <ul>
        <h3>{{errorMsg}}</h3>
        <li *ngFor="let list of cmslist">

          <ion-card class="ion-padding">
            <div class="cms_info clears">
            <div class="cms_left">
            <div class="title" (click)="edit_cms(list.email_template_id)"><h5>{{list.title}}</h5></div>
            <div class="status"><h5>{{list.status}}</h5></div>
           </div>

            <div class="j_corn cms_right">
              <i (click)="edit_cms(list.email_template_id)" class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <!-- <i (click)="DeleteConfirm(list.email_template_id)" class="fa fa-trash" aria-hidden="true"></i> -->
            </div>
          </div>

          </ion-card>
        </li>
        
      </ul>
    </div>
  </div>
</div>

</ion-content>
