.nav-actv{color: #0693f5 !important;}
.btn:disabled{ opacity: 0.5;}
.mainContainer{ background-image: url("../../../assets/images/client.jpg"); background-position: center;
    background-repeat: no-repeat;
    background-size: cover; position: relative; }
    .form-cont {width: 48%;
        float: left;
        margin: 0px 1%;} 
    
        .form-cont input{ width: 100%;}
        .form-sty{ margin: 5px;}
        .registerBlock select:nth-child(2n-1) {
            margin: 5px;
        }
        
        .registerBlock select {
            width: 48%;
            float: left;
            clear: both;
        }
       .conform-pass{margin-right: 0px;
        width: 47%;} 
        .registerBlock[_ngcontent-lyv-c1] select[_ngcontent-lyv-c1]:nth-child(2n-1) {
            margin-left: 0%!important;
        }
    .ng-pristine span{ color: #dd4b39;}    
    .registerBlock input[type=text], .registerBlock input[type=email], .registerBlock input[type=tel], .registerBlock input[type=password] {
        margin-bottom: 3px;
        margin-top: 5px; }
     span{ color: #dd4b39;}     
        
     .form-sty-new {clear: both;
        width: 48%;
        float: left;
        margin: 0px 10px 0px 5px;} 
    
        .form-sty-new input{ width: 100%;}
        .registerBlock select {
            background: #fff;
            border: 1px solid #c8c8c8;
            border-radius: 6px;
            padding: 8px;
            color: #222e3a;
            margin-bottom: 10px;
            font-size: 14px;
            width: 100%;
            margin-top: 8px;
        }
      .srOR span{ color:#fff;}  
      .atc{ color:#000!important;}
      @media screen and (max-width: 1200px){
        .mainContainer {
            height: 900px!important;
        }
        .srMatr {
            background: #fcfcfc;
            border: 1px solid #ebebeb;
            padding: 30px 15px;
            border-radius: 0px 0px 6px 6px;
        }
      }

    
    .registerBlock select {
        width: 97%;}

    @media screen and (max-width: 1800px){
        .mainContainer {
            height: 1000px!important;
        } }   
   .check-input{ width: 100%;clear: both;}   
   .term-con{ 
    display: block; margin-bottom: 0px!important; float: inherit!important;}
.reqri-sec{ margin-left: 6px;}

#registerform .form-sty select{
        margin: 5px 0;
        width: 100%;
}


