<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="body">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="logo_admin">
        <img src="../../../assets/images/n/redford-recruiters-logo.png">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form  #login="ngForm" id="loginform" (ngSubmit)="validateuser(login)"  class="ion-padding">
      <div class="admin_login">
        <label>Username</label>
        <input class="admin_email form-control" name="admin_email" type="text"  required [(ngModel)]="uname" #un="ngModel" autocomplete="off">
        <span *ngIf="un.errors && (un.dirty || un.touched || login.submitted)" class="reqri-sec error">This field is required</span>
        <label class="admin_pass">Password</label>
        <input type="password" class="admin_password form-control" name="admin_password" required [(ngModel)]="password" #pw="ngModel" autocomplete="off">
        <span *ngIf="pw.errors && (pw.dirty || pw.touched || login.submitted)" class="reqri-sec error">This field is required</span>
        <a (click)="forgot_password()" class="forgotPassword" style=" color: #1ab1eb;">Forgot your password?</a>
        <button class="btn btn-primary admin_button" type="submit">Login</button>
        <span class="error" style="width:100%; text-align:center;">{{errMsg}}</span>
      </div>
     </form> 
    </div>
  </div>
</ion-content>
