.body
{
    --background: #054774;
}
.admin_login
{
    background-color: #E8EAED;
    border: 2px solid #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}
.admin_login span
{
    font-family:Arial, Helvetica, sans-serif;
}
.form-control:focus
{
    box-shadow:none !important;
}
.forget_admin
{
    float:right;
    margin-top: 5px;
}
.admin_button
{
    width: 100%;
    margin-top: 10px;
}
.logo_admin
{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-top: 100px;;
}
.forget_admin a
{
    text-decoration: none;
}
.admin_login input[type="password"], .admin_login input[type="text"]{
    margin:0 0 5px
}

.admin_login label{
    font-size: 14px;
    color: #666;
    display: block;
}

.error {
    font-size: 14px;
}
