<!-- <ion-header>
  <ion-toolbar>
    <ion-title>job_listing</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header></app-header>
<ion-content>
  <div class="mainContainer">
    <div class="container">  
    <div class="row searchResultHead">
       <div class="col-md-9">
          <div class="searchResults">We found <span>347</span> matches for you</div>
       </div>
       <div class="col-md-3">
          <a href="#" class="upgradePlan">Upgrade Your Plan</a>
       </div>
    </div>
    
     <div class="row">
     <div class="col-md-3">
       <div class="filterBlock">
         <h5>Jobs By Category</h5>
         <ul class="fbList" >
          <!-- <li class="active"> Medical <span>(214)</span></li> -->
          <li *ngFor="let byCat of job_list_by_cat" ><input type="radio" name="typee" id="{{byCat.category_id}}" (click)="getcategoryid(byCat.category_id)"/> {{byCat.title}} </li>
         </ul>
       </div><!--filterBlock ends-->
       
        <div class="filterBlock">
         <h5>Jobs By Location</h5>
         <ul class="fbList">
          <li *ngFor="let byLoc of job_list_by_loc">Jobs in {{byLoc.job_location}} <span>({{byLoc.job_count_by_location}})</span></li>
         </ul>
       </div><!--filterBlock ends-->
       
       <div class="addResumeCTA">
       <div class="arcImage"><img src="../../../assets/images/n/cr1.jpg"/></div>
       <div class="arcOver">Get Best Matched Jobs On your Email. <br/> Add Resume NOW! <a href="#">Add Resume</a></div>
       </div><!--addResumeCTA ends-->
       
       
     </div><!--col-md-3 ends-->
     
     <div class="col-md-9">
       <ul class="jobsList">
         <li *ngFor="let jobList of job_details_by_id">
            <div class="clMatr">
             <p class="cName">{{jobList.job_title}}</p><p class="cExp">({{jobList.person_work_exp}} exp.)</p>
            <p class="postedonby">Posted on <span class="pdate">{{jobList.createdAt.split('T')[0]}}</span> by <a href="">{{jobList.client_name}}</a></p>
            <div class="perkLoc"><p class="perk"><span class="currency">{{jobList.person_salary.split(' ')[1]}}</span> {{jobList.person_salary.split(' ')[0]}} P.A</p><p class="loc">{{jobList.client_address}}</p></div>
            <div class="clAction" (click)="job_details(jobList.job_id)"><a>Apply</a></div>
            </div>
            <div class="clRight"><a href="" class="add2Wishlist">Add to Wishlist</a><div class="clImage"><img src="../../../assets/images/cl6.jpg"/></div></div>
         </li>
         
         <!-- 
         <li>
            <div class="clMatr">
             <p class="cName">Stores Assistant Industrial  </p><p class="cExp">(1 - 2 Yrs Exp.)</p>
            <p class="postedonby">Posted on <span class="pdate">11.11.2019</span> by <a href="">First Technology Pvt. Ltd.</a></p>
            <div class="perkLoc"><p class="perk"><span class="currency">AED</span> 10,000 - 24,000 P.A</p><p class="loc">Caliphonia, PO 455001</p></div>
            <div class="clAction"><a href="">Apply</a></div>
            </div>
            <div class="clRight"><a href="" class="add2Wishlist">Add to Wishlist</a><div class="clImage"><img src="../../../assets/images/cl7.jpg"/></div></div>
         </li>
         
         
         <li>
            <div class="clMatr">
             <p class="cName">Heart Surgeon </p><p class="cExp">(1 - 2 Yrs Exp.)</p>
            <p class="postedonby">Posted on <span class="pdate">11.11.2019</span> by <a href="">First Technology Pvt. Ltd.</a></p>
            <div class="perkLoc"><p class="perk"><span class="currency">AED</span> 10,000 - 24,000 P.A</p><p class="loc">Caliphonia, PO 455001</p></div>
            <div class="clAction"><a href="">Apply</a></div>
            </div>
            <div class="clRight"><a href="" class="add2Wishlist">Add to Wishlist</a><div class="clImage"><img src="../../../assets/images/cl6.jpg"/></div></div>
         </li>
         
         
         <li>
            <div class="clMatr">
             <p class="cName">Stores Assistant Industrial </p><p class="cExp">(1 - 2 Yrs Exp.)</p>
            <p class="postedonby">Posted on <span class="pdate">11.11.2019</span> by <a href="">First Technology Pvt. Ltd.</a></p>
            <div class="perkLoc"><p class="perk"><span class="currency">AED</span> 10,000 - 24,000 P.A</p><p class="loc">Caliphonia, PO 455001</p></div>
            <div class="clAction"><a href="">Apply</a></div>
            </div>
            <div class="clRight"><a href="" class="add2Wishlist">Add to Wishlist</a><div class="clImage"><img src="../../../assets/images/cl7.jpg"/></div></div>
         </li>
         
  --> 
         
       </ul>
     </div><!--candidate listing ends-->
     </div>
    
    
  
    </div><!--container ends-->
   
  </div><!--mainContainer ends-->
  <app-footer></app-footer>
</ion-content>
