
ion-content{

    --ion-background-color:#f4f6f9;
}
.pageHeadBlock {
    width: 100%;
    clear: both;
    display: block;
    background-image: url("../../../assets/images/n/banner-form.jpg"); background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.beadcrumbs {
    clear: both;
    display: block;
    margin-bottom: 40px;
}
.beadcrumbs ul li {
    display: inline-block;
    float: left;
    color: #00aeef;
    font-size: 1.2em;
}
.beadcrumbs ul li a {
    color: #fff;
}
.beadcrumbs ul li a::after {
    content: "/";
    float: right;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}
.pageHeadBlock::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(5,71,116,.7);
    clear: both;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
}
.pageHeadBlock .container {
    padding: 20px 0 10px;
    position: relative;
    z-index: 9;
}
h1.pageTitle {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}
.button-sty{display: flex;
    margin: 0px;
    white-space: nowrap;
    margin-top: 12px;
}
.button-sty ion-button {
    width: auto;
    padding: 0px 5px;
    font-size: 12px;
    float: right;
    margin-right:4px;
}

.button-native{  background: #054774;}    
 .company-text h2{font-size: 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
}  
    .company-text h3{    font-size: 16px;
        font-weight: 400;
        padding: 6px 0px;
        color: #666666;
        }  
.img-ion-sec{ width: 100%; overflow: hidden;}  

.company-list-sec{ width:74%; margin: auto;}  
.button-comp{ float: right; margin-bottom: 15px; margin-top: 10px;}  
.company-text{padding:0px 20px;}    
img { width: 100%;
    max-width: 100%;
    height: -webkit-fill-available;
} 







 @media screen and (max-width:768px){    
    .company-list-sec {
            width: 100%;
            margin: auto;
        }
        .button-sty ion-button{  
            width: 100%;
            padding: 3px 5px;
            font-size: 10px;
            float: right;
        }
        .button-sty{
            display: initial!important;
            margin: 0px;
            white-space: nowrap;
            margin-top: 0px!important;
        }
        .pageHeadBlock{
            padding: 0px 10px;
        }   

    }    