
ion-content{

    --ion-background-color:#f4f6f9;
}
.pageHeadBlock {
    width: 100%;
    clear: both;
    display: block;
    background-image: url("../../../assets/images/n/banner-form.jpg"); background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.beadcrumbs {
    clear: both;
    display: block;
    margin-bottom: 40px;
}
.beadcrumbs ul li {
    display: inline-block;
    float: left;
    color: #00aeef;
    font-size: 1.2em;
}
.beadcrumbs ul li a {
    color: #fff;
}
.beadcrumbs ul li a::after {
    content: "/";
    float: right;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}
.pageHeadBlock::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(5,71,116,.7);
    clear: both;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
}
.pageHeadBlock .container {
    padding: 20px 0 10px;
    position: relative;
    z-index: 9;
}
h1.pageTitle {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}
.button-sty{display: flex;
    margin: 0px;
    white-space: nowrap;
    margin-top: 12px;
}





.button-sty ion-button {
    width: auto;
    padding: 0px 5px;
    font-size: 12px;
    float: right;
    margin-right:4px;
}

.button-native{  background: #054774;}    
 .company-text h2{
     font-size: 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: deepskyblue;
    margin: 0 0 8px;
}  
.company-text h3{    font-size: 16px;
    font-weight: 400;
    padding: 6px 0px;
    color: #666666;
    }  
.img-ion-sec{ width: 100%; height: 110px; overflow: hidden;}  

.company-list-sec{ width:74%; margin: auto;}  
.button-comp{ float: right; margin-bottom: 15px; margin-top: 10px;}  
  
img { width: 100%;
    max-width: 100%;
    height: -webkit-fill-available;
} 

.client_dec01{
    margin:0 0 10px
}

.company-list-sec .add_client_wrapper .img-ion-sec{
    display: inline-block;
    margin-right: 20px;
    width: 150px;
    vertical-align: middle;
}

.company-list-sec .add_client_wrapper .img-ion-sec img{
    width:100%;
    height: auto;
}

.add_client_info{
    display: inline-block;
    vertical-align: middle;
}

.company-list-sec .add_client_wrapper .img-ion-sec img{    
    height: auto;
    width: auto;
    margin-right: 0;
}




 @media screen and (max-width:768px){  
     
    
    .company-list-sec .button-sty.admin_btns {
        position: static;
        width: 100%;
        bottom: 0;
    }

    .company-list-sec .img-ion-sec{    
        width: 160px;
        margin: 0 0 10px;
    }

    .company-list-sec .company-text {
        padding: 0;
    }
   

    .company-list-sec .button-sty.admin_btns br{display: none;}


    .company-list-sec {
            width: 100%;
            margin: auto;
        }
        .button-sty ion-button{  
            width: 100%;
            padding: 3px 5px;
            font-size: 10px;
            float: right;
        }
        .button-sty{
            display: initial!important;
            margin: 0px;
            white-space: nowrap;
            margin-top: 0px!important;
        }
        .pageHeadBlock{
            padding: 0px 10px;
        }   

    }




    @media screen and (max-width:585px){

    .company-list-sec .button-sty.admin_btns button{
        width: 139px;
        margin: 0 5px 5px 0;
    }
    .company-list-sec .button-sty.admin_btns{
        white-space: inherit;
        text-align: center;
    }

    .company-list-sec .img-ion-sec {
        width: 160px;
        margin: 0 auto 10px;
    }

    .company-list-sec .company-text {
        padding: 0;
        text-align: center;
    }

    .company-list-sec .add_client_wrapper .img-ion-sec{
        display: block;
        margin: 0 auto 18px;
        width: 150px;
    }

    .company-list-sec .add_client_wrapper .add_client_info {
        display: block;
        text-align: center;
    }
    

}