<app-admin-header></app-admin-header>

<ion-content>
  <div class="container">
    <div class="company-list-sec">
      <ion-row class="clientHeadRow">
        <ion-col>
          <h1 class="clientListHead" style="border: none;">Client List</h1>
        </ion-col>
        <ion-col style="text-align: right;">
          <button class="addButton" (click)="addClient()">ADD CLIENT</button>
        </ion-col>
      </ion-row>

      <!-- pagination -->
    <!-- <ion-item>
      <ion-button *ngFor="let n of pages" (click)="showPagination(n)">{{n}}</ion-button>
    </ion-item> -->
    <!-- pagination -->
    <!-- <p id="showingResult"></p> -->
    <ion-virtual-scroll [items]="comDetls">
      <div *virtualItem="let cd" class="sec-div-sty add_client_wrapper">
     
         
          <div class="img-ion-sec">
            <img src="{{cd.profile_image}}" class="img-comp">
          </div>
         
          <div class="add_client_info">

            <div class="company-text">

              <h2 (click)="clientDetails(cd.client_id)" style="cursor: pointer;">{{cd.full_name}}</h2>
              <h3 *ngIf="cd.city || cd.state || cd.country">{{cd.city}}<span *ngIf="cd.city">,</span> {{cd.state}}<span *ngIf="cd.state">,</span> {{cd.country}}</h3>
              <div class="client_dec01">
              <p>Registered on: {{cd.registered_on | date:'dd/MM/yyyy'}}</p>
              <p>No. of Companies: {{cd.no_of_companies}}</p>
            </div>

            </div>

            <div class="button-sty clears admin_btns">
              <button (click)="clientDetails(cd.client_id)"><i class="fa fa-info-circle"></i>Client Details</button><br>
              <button (click)="companyList(cd.client_id)"><i class="fa fa-eye"></i>View Companies</button>
              <button (click)="deleteClient(cd.client_id)"><i class="fa fa-trash"></i>Delete Client</button>
              <!-- <ion-button>Job List</ion-button> -->
            </div>

        </div>

    </div>
    </ion-virtual-scroll>
    <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

  </div>
</ion-content>
