<app-header *ngIf="service.login_type != 'admin'"></app-header>
<app-admin-header *ngIf="service.login_type == 'admin'"></app-admin-header>

<ion-content style="text-align: center;">
  <div class="pageHeadBlock" *ngIf="service.login_type != 'admin'"><div class="container company-details">
    <h1 style="text-align: left;" class="pageTitle">{{addoredit}} Company</h1>
    <div class="beadcrumbs">
      <ul>
        <li><a routerLink="/client/dashboard" style="color: white;">Home</a></li>
        <li>Company</li>
      </ul>
    </div>
    </div>
  </div>
    
  <!--<h2 style="text-decoration: underline;" class="heading-top">Add Company Details</h2>-->
  <div class="edit_company_section">
<div class="container">

   <!-- <div  class="searchResultHead clears">
        <div class="searchResults">Edit Company</div>
        <a class="upgradePlan"><img src="../../../assets/images/red_bar01.png"></a>
    </div> 
 -->
  
  <form #register="ngForm" id="registerform" (ngSubmit)="validateuser(register)">
    <ion-card class="heading-sec-top">
        <h5 class="header-sec"><span>Basic Information</span></h5>
        <div class="form-input">
            <ion-label>Company Name<span style="color: red;">*</span></ion-label> 
      <ion-input required [(ngModel)]="comName" name ="comName" #cname="ngModel" placeholder="Company Name" class="text_capatilize input-text-area"></ion-input>
      <span *ngIf="cname.errors && (cname.dirty || cname.touched || register.submitted)" class="error">Please input Company Name</span>
    </div>
    <div class="form-input">
        <ion-label>Company Size<span style="color: red;">*</span></ion-label>
      <select name="csize" [(ngModel)]="csize"  #selCSze="ngModel" required class="csize select-valida">                          
        <option [value]="size" [selected]="size == 'Company Size'" disabled>Company Size</option>
        <option *ngFor='let s of companysizelist' [value]="s.size">{{s.size}}</option>
      </select>
      <span *ngIf="selCSze.errors && (selCSze.dirty || selCSze.touched || register.submitted)" class="error">Please select Company Size</span>
    </div>
    <div class="form-input">
        <ion-label>Company Type<span style="color: red;">*</span></ion-label>
      <select name="ctype" [(ngModel)]="ctype" #selCtyp="ngModel" required class="ccat select-valida">
        <option [value]="type" [selected]="type == 'Company Type'" disabled>Company Type</option>
        <option *ngFor='let t of companytypelist' [value]="t.category_id">{{t.title}}</option>
      </select>
      <span *ngIf="selCtyp.errors && (selCtyp.dirty || selCtyp.touched || register.submitted)" class="error">Please select Company Type</span>
    </div>
      <div class="form-input">
          <ion-label>Company Phone Number<span style="color: red;">*</span></ion-label>

          <div class="cont-sty">
        <div class="code-cont">
        <input required type="text" placeholder="+971" name="cmpcode" [(ngModel)]="cmpcode" #cmpcc="ngModel" class="code-comp">
        <!-- <span *ngIf="cmpcc.errors && (cmpcc.dirty || cmpcc.touched)">Please input only number.</span> -->
      </div>
      <div class="phone-no-cont">
        <ion-input required [(ngModel)]="cmpphone" name ="cmpphone" #cpho="ngModel" placeholder="Company Phone Number" pattern="^[1-9][0-9]*$"></ion-input>
        
      </div>
      <span *ngIf="(cpho.errors && (cpho.dirty || cpho.touched || register.submitted)) || (cmpcc.errors && (cmpcc.dirty || cmpcc.touched || register.submitted))" class="error">Please input valid Phone Number with Country Code</span>
      </div>

      </div>
      <div class="form-input">
          <ion-label>Company Email<span style="color: red;">*</span></ion-label>
      <ion-input required [(ngModel)]="cmpemail" name ="cmpemail" #cem="ngModel" placeholder="Company Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></ion-input>
      <span *ngIf="cem.errors && (cem.dirty || cem.touched || register.submitted)" class="error">Please input valid Company Email</span>
      </div>
      <div class="form-input">
          <ion-label>Company Website</ion-label>
      <ion-input [(ngModel)]="comWeb" name ="comWeb" #cweb="ngModel" placeholder="Company Website" pattern="^(ftp|http|https):\/\/[^ ]+$"></ion-input>
      <span *ngIf="cweb.errors && (cweb.dirty || cweb.touched || register.submitted)" class="error">Please input valid url ex: http://google.com</span>
      </div>
      <div class="form-input" style="width:98%">
        <ion-label>Company Description<span style="color: red;">*</span></ion-label>
    <textarea rows="4" cols="50" [(ngModel)]="description" name ="description" #des="ngModel" placeholder="Company Description" required></textarea>
    <span *ngIf="des.errors && (des.dirty || des.touched || register.submitted)" class="error">Please input Company Description </span>
    </div>
    </ion-card>


    <ion-card class="heading-sec-top">
        <h5 class="header-sec"><span>Company Information</span></h5>

    

      <!-- <ion-input required [(ngModel)]="comCountry" name ="comCountry" #ccoun="ngModel" placeholder="Company Country" class="text_capatilize"></ion-input> -->
      <!-- <span *ngIf="ccoun.errors && (ccoun.dirty || ccoun.touched)">Company country is required.</span> -->

      <!-- <ion-input required [(ngModel)]="comState" name ="comState" #csta="ngModel" placeholder="Company State" class="text_capatilize"></ion-input> -->
      <!-- <span *ngIf="csta.errors && (csta.dirty || csta.touched)">Company state is required.</span> -->
      <div class="form-input">
          <ion-label>Select Country<span style="color: red;">*</span></ion-label>
      <select name="comCountry" [(ngModel)]="comCountry" #selCun="ngModel" required class="ccat select-valida" (change)="onChange($event.target.value)" >
          <option [value]="country" [selected]="type == 'Select country'" disabled>Select country</option>
          <option *ngFor='let t of countrylist;let i = index' [value]="t.country">{{t.country}}</option>
        </select>
        <span *ngIf="selCun.errors && (selCun.dirty || selCun.touched || register.submitted)" class="error">Please Select Country</span>
        </div>
        <div class="form-input">
            <ion-label>Select State<span style="color: red;">*</span></ion-label>
       <select name="comState" [(ngModel)]="comState" required #selSte="ngModel" class="ccat select-valida">
          <option [value]="state" [selected]="type == 'Select State'" disabled>Select State</option>
          <option *ngFor='let ttt of statelist' [value]="ttt">{{ttt}}</option>
      </select>
      <span *ngIf="selSte.errors && (selSte.dirty || selSte.touched || register.submitted)" class="error">Please Select State</span>
      </div>

     

      <div class="form-input">
          <ion-label>City<span style="color: red;">*</span></ion-label>
      <ion-input required [(ngModel)]="comCity" name ="comCity" #ccit="ngModel" placeholder="City" class="text_capatilize input-text-area"></ion-input>
      <span *ngIf="ccit.errors && (ccit.dirty || ccit.touched || register.submitted)" class="error">Please input City</span>
      </div>


      <div class="form-input" style="width:98%">
        <ion-label>Address<span style="color: red;">*</span></ion-label>
  <textarea style="border:1px solid #ebebeb; border-radius:4px; background: #fff; " required [(ngModel)]="comAddress" #caddr="ngModel" name ="comAddress" placeholder="Address" class="input-text-area select-area-company-info"></textarea>
  <span *ngIf="caddr.errors && (caddr.dirty || caddr.touched || register.submitted)" class="error">Please input Address</span>
  </div>


  <div class="comp_upld_img_wrap">
      <div class="form-input-valid-sec upld_btn01">
        <a class="addCV hover" (click)="uploadIMG()" class="select-valida2">Upload Logo</a>
      </div>
     

      <div class="form-input" style="height: auto;" class="company_upload_img">
        <img *ngIf="rdrRslt" src="{{rdrRslt}}">
        <input type="file" id="videoInput" style="display:none;" (change)="changeImg($event.target)" accept="image/jpg,image/jpeg,image/png" class="select-valida">
      </div>

    </div>

    </ion-card>
    <ion-card class="heading-sec-top">
        <h5 class="header-sec"><span>Contact Person Information</span></h5>
        <div class="form-input">
            <ion-label>Contact Person Name<span style="color: red;">*</span></ion-label>
      <ion-input required [(ngModel)]="comCntPrsn" name ="comCntPrsn" #conper="ngModel" placeholder="Contact Person Name" class="text_capatilize input-text-area" oninput="this.value=this.value.replace(/[^A-Za-z ]/g,'');"></ion-input>
      <span *ngIf="conper.errors && (conper.dirty || conper.touched || register.submitted)" class="error">Please input Contact Person Name</span>
      </div>
      <div class="form-input">
          <ion-label>Contact Email<span style="color: red;">*</span></ion-label>
      <ion-input required [(ngModel)]="comCntMail" name ="comCntMail" #conmal="ngModel" placeholder="Contact Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="input-text-area"></ion-input>
      <span *ngIf="conmal.errors && (conmal.dirty || conmal.touched || register.submitted)" class="error">Please input valid Contact Email</span>
      </div>
      <div class="form-input">
          <ion-label>Phone Number<span style="color: red;">*</span></ion-label>
          <div class="cont-sty">
              <div class="code-cont">
        <input type="text" placeholder="+971" name="concode" required [(ngModel)]="concode" #conccc="ngModel" class="code-comp">
        <!-- <span *ngIf="conccc.errors && (conccc.dirty || conccc.touched || register.submitted)" class="error">Please input country code</span> -->
         </div>
         <div class="phone-no-cont">
        <ion-input required [(ngModel)]="comCntPh" name ="comCntPh" #conph="ngModel" placeholder="Contact Mobile Number" pattern="^[1-9][0-9]*$" class="input-text-area"></ion-input>
       
      </div> 
      <span *ngIf="(conph.errors && (conph.dirty || conph.touched || register.submitted)) || (conccc.errors && (conccc.dirty || conccc.touched || register.submitted))" class="error">Please input valid Contact Number with Country Code</span>
    </div>

      </div>
    </ion-card>
    <div class="client_submit_wrap01">
        <ion-button type="submit" class="btn-submit edit_company_btn01">{{companyUpdate}}</ion-button>
    </div>
    <div class="clearfix"></div>
  </form> 
  
</div>
</div>

    <app-footer *ngIf="service.login_type != 'admin'"></app-footer>
</ion-content>
