

ion-card{
    text-align: left;
}

ion-input, ion-textarea{
    margin: 15px;
    width: 95%;
}
ion-content{

    --ion-background-color:#f4f6f9;
}
.pageHeadBlock {
    width: 100%;
    clear: both;
    display: block;
    background-image: url("../../../assets/images/n/banner-form.jpg"); background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.beadcrumbs {
    clear: both;
    display: block;
    margin-bottom: 40px;
}
.beadcrumbs ul li {
    display: inline-block;
    float: left;
    color: #00aeef;
    font-size: 1.2em;
}
.beadcrumbs ul li a {
    color: #fff;
}
.beadcrumbs ul li a::after {
    content: "/";
    float: right;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}
.pageHeadBlock::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(5,71,116,.7);
    clear: both;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
}
.pageHeadBlock .container {
    padding: 20px 0px 10px;
    position: relative;
    z-index: 9;
}
h1.pageTitle {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}
.postJobBlock ul li input[type=text], .postJobBlock ul li select, .postJobBlock ul li textarea, ion-input {
    background: #fff;
    border: 1px solid #ebebeb; 
    font-size: 14px;
    color: #747474;
    font-family: "Open Sans",sans-serif;
}
.btn:disabled{ opacity: 0.5;}
.text_capatilize{text-transform: capitalize;}
.sc-ion-card-md-h {
    box-shadow: none;
}
.heading-sec-top h5 {
    clear: both;
    display: block;
    color: #054774;
    font-family: open_sansregular;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    margin: 20px 0px; font-size: 16px;
    
}
.heading-sec-top h5 span {background: #fff}
/* .heading-sec-top h5::before {
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: -20px;
    background-image: url("../../../assets/images/n/pencil2.png"); background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.heading-sec-top h5::after {
    content: "";
    height: 1px;
    width: 100%;
    clear: both;
    display: block;
    border-top: 1px solid #054774;
    margin-top: -12px;
}
ion-input {
    margin:5px 0px;
    width: 100%;
}
.form-input ion-label{ margin: 0px;     color: #555;}
.text_capatilize{ position: relative;}
.text_capatilize span 
{ position: absolute;}
.select-valida{border: 1px solid #ebebeb;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
     margin:5px 0px; font-size: 14px; font-family: "Open Sans",sans-serif;
     color: #a3a3a3;}
   .input-text-area{ position: relative;}

     

   .code-comp{border: 1px solid #ebebeb;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
     margin:5px 0px; } 
   .form-input{    
       height: auto;
    width: 30%;
    float: none;
    display:inline-block;
    vertical-align: top;
    margin: 15px 12px;
    font-size: 14px;
    color: #a3a3a3;
    position: relative;

}


    .sc-ion-textarea-md-h{
        padding-top: 0px!important;
        padding-bottom: 0px!important; color: #000!important;}   
     .form-input ion-textarea {margin:5px 0px;
     width: 100%;
     padding: 0!important;
     --padding-top: 0px;
     --padding-bottom: 0px; font-size: 16px;
     color: #a3a3a3; }   
     .select-valida2{
         border: 1px solid #ebebeb;
        border-radius: 4px;
        float: none;
        width: 100%;
        display:block;
        padding: 10px 17px;
        margin-left: 0;
        text-align: center; 
        background: #3e6e91;
        color: #fff!important;}

        
    .heading-top {color: #000;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 21px;
    text-transform: capitalize;
    margin: 20px;
    padding: 0;
    text-decoration: none;}
    .form-input-valid-sec{ width: 30%;
    float: left;
    display: inline-flex;
    margin-top: 41px;}
    .sc-ion-card-ios-h { box-shadow:none; } 
    .code-cont{ width: 20%; float: left;}
    .phone-no-cont{ width: 80%; float: left;}
    .btn-submit{ float: left;
        margin-left: 19%;
        padding: 0px;
        height: 44px;
        width: 123px;
        color: #fff;
        border: #000 solid 1px;
        margin-bottom: 40px;}


.btn-submit.edit_company_btn01{
    border:0
}


.native-input.sc-ion-input-md{
    padding:10px
}

#registerform .form-input-valid-sec{
    height: auto;
    width: 30%;
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 19px 12px;
    font-size: 14px;
    color: #a3a3a3;
    position: relative;
}

#registerform .form-input img{
    width:90px !important
}

#registerform .form-input textarea{
    padding:10px;
    height:60px;
    overflow: auto;
    resize: none;
}
        

    @media screen and (max-width:860px){
        #registerform .form-input{
            width: 41%;

        }
    }
    
    @media screen and (max-width:768px){
     .form-input{
    
            width: 90%;
            float: left;
            margin: 10px 15px;
        }
        .company-details{ padding: 0px 15px!important;}

    }

    .form-input ion-textarea { font-size: 14px;
        padding: 5px 5px 0px;} 


    @media screen and (max-width:585px){

        #registerform .form-input {
            width: 97%;
        }

        #registerform textarea {
            width: 99% !important;
        }

        .edit_company_section #registerform .form-input{
            margin: 10px 8px;
        }

        

    }