<app-admin-header></app-admin-header>

<ion-content>
    <div class="company-list-sec">
    <ion-row class="clientHeadRow">
      <ion-col>
        <h1 class="clientListHead" style="border: none;">Client Details</h1>
      </ion-col>
      <ion-col style="text-align: right;">
        <button class="addButton" (click)="editClient()">EDIT</button>
        <button class="addButton">DELETE</button>
      </ion-col>
    </ion-row>
    <div class="sec-div-sty">
        <ion-row style="text-align: left;">
          <ion-col size="2">
            <div class="img-ion-sec">
            <ion-img src="{{client_profile_picture}}" class="img-comp"></ion-img>
          </div>
          </ion-col>
          <ion-col size="10" class="company-text">
            <h2>{{first_name}} {{last_name}}</h2>
            <h3>{{username}}</h3>
            <h3>{{mob_country_code}} {{mobile}}</h3>
            <p>{{address}}</p>
            <p>{{city}}<span *ngIf="city">,</span> {{state}}<span *ngIf="state">,</span> {{country}}</p>
            <p>Gender: {{gender}}</p>
            <p>Nationality: {{nationality}}</p>
            <p *ngIf="alternate_mobile">Alternative Mobile: {{alt_mob_country_code}} {{alternate_mobile}}</p>
            <p *ngIf="alternate_email">Alternative Email: {{alternate_email}}</p>
            <!-- <ion-col class="button-sty clears">
              <ion-button style="--background: #054774;" (click)="clientDetails(cd.client_id)">Client Details</ion-button><br>
              <ion-button>View Companies</ion-button>
              <ion-button>Job List</ion-button>
            </ion-col> -->
          </ion-col>
        </ion-row>
    </div>
    </div>

</ion-content>
