<app-header *ngIf="!candidateID"></app-header>
<app-admin-header *ngIf="candidateID"></app-admin-header>

<ion-content>
  <div *ngIf="!candidateID" class="pageHeadBlock">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="dbSearch">
            <div class="srch_field125">
            <p><label>What</label><input type="text" name="keyword" placeholder="e.g. web designer" [(ngModel)]="keyword"/></p>
            <p><label>Where</label><input type="text" name="town" placeholder="town" [(ngModel)]="town"/></p>
          </div>
            <input type="button" name="" value="Search Jobs" (click)="search()"/>
          </div>
        </div>
        
        <!-- <div class="col-md-1"><ion-icon no-padding slot="end" name="ios-arrow-forward" class="left_arrow"></ion-icon></div> -->
      </div>
    </div>
  </div>
  <div class="mainContainer">
    <div class="container">
    
    <div class="row">
    <div class="col-md-3">
    
      <div class="aboutYou">
      <div class="dbBlockHd">
        <h4 *ngIf="service.login_type != 'candidate'">About Candidate</h4>
        <h4 *ngIf="service.login_type == 'candidate'">About You</h4>
      </div>
      
      <div class="dbBlockMatr" >
        <div class="cImage prof_img020">
          
          <a (click)="uploadPrfleIMG()" class="prof_edit"><i class="fa fa-pencil"></i></a>
          <!-- <p *ngIf=!profileimg >contents/no_image_redford.jpg</p> -->
          <img src="{{profile_pic}}">
          <input type="file" id="picInput" style="display: none;" (change)="changeprofilePic($event.target)" accept="image/jpg,image/jpeg,image/png">
        </div>
        <p style="cursor: pointer;" class="saveBtn" (click)="updatePic()" *ngIf=profileimg >Save</p>

        <div><p class="cName" *ngFor="let j of personalinfolist">{{j.first_name}} {{j.last_name}}</p>
          <p class="cPhone" *ngFor="let j of personalinfolist">{{j.email}}</p>
          <p class="cPhone" *ngFor="let jj of personalinfolist">{{jj.mob_country_code}} {{jj.mobile}}</p>
        </div>
      </div>
      </div><!--aboutYou ends-->
      
      <!-- <div class="dbjobAlerts desktop">
        <h4>Job Alerts</h4>
        <ul class="alertsList">
          <li><a>Temporary 'Web Designer' Jobs | Birmingham, West Midlands Jobs & Vacancies...</a></li>
          <li><a>Permanent 'PHP Developer' Jobs | Birmingham, West Midlands Jobs & Vacancies...</a></li>
        </ul>
        <a style="color: #00aeef; text-decoration: underline;" class="moreBlue dashboard_job_alert">Manage Searches</a>
      </div> --><!--dbjobAlerts ends-->
      

      <div class="dbrecJobs desktop" *ngIf="relatedJobs">
        <h4>Related Jobs</h4>
        <div *ngIf="relatedJobs">
          <ul class="recJobsList">
          <li *ngFor="let rj of relatedJobs" (click)="jobDetails(rj.job_id)"><a> <p style="font-size: 15px;" class="jobName">{{rj.job_title}} - {{rj.skill_set}}</p>
            <p class="jobPerks" *ngIf="rj.person_salary">{{rj.currency}} {{rj.person_salary}}</p>
            <p class="jobLocation">{{rj.basic_info_city}}, {{rj.basic_info_state}} {{rj.basic_info_cuntry}}</p>
            </a></li>
  <!--           
          <li><a> <p class="jobName">Recruitment Account Manager - IT Sector</p>
            <p class="jobPerks">£20,000 - £50,000 per annum, </p>
            <p class="jobLocation">Birmingham, West Midlands</p>
            </a></li>
            
            <li><a> <p class="jobName">Tutor Jobs Available - No experience required</p>
            <p class="jobPerks">Competitive salary </p>
            <p class="jobLocation">Birmingham, West Midlands</p>
            </a></li>
            
            <li><a> <p class="jobName">Team Member - Bar</p>
            <p class="jobPerks">Competitive salary</p>
            <p class="jobLocation">Birmingham, West Midlands</p>
            </a></li>
            
          <li><a> <p class="jobName">Recruitment Account Manager - IT Sector</p>
            <p class="jobPerks">£20,000 - £50,000 per annum, </p>
            <p class="jobLocation">Birmingham, West Midlands</p>
            </a></li>
            
            <li><a> <p class="jobName">Tutor Jobs Available - No experience required</p>
            <p class="jobPerks">Competitive salary </p>
            <p class="jobLocation">Birmingham, West Midlands</p>
            </a></li>
  -->
          </ul>
        </div>  
        <!-- <a *ngIf="relatedJobs" (click)="moreJobs()" style="color: #00aeef; text-decoration: underline;" class="moreBlue dashboard_more">More Jobs</a> -->
      </div><!--dbrecJobs ends-->
      
      
    </div><!--col-md-3 ends-->
    
    
    
    <div class="col-md-9">
      
      
      <div class="addCV">
      <div class="dbBlockHd">
        <h4>CV</h4>
      </div>     
      <div class="dbBlockMatr down_cv">
        <a class="addCV viewcv hover" *ngIf="file_name" (click)="view_yourcv()"><i class="fa fa-file-text"></i>View / Download CV</a>
        <p class="redAlert" *ngIf="!file_name && service.login_type == 'candidate'">You haven't uploaded a CV yet. To apply for jobs, you'll need a CV</p>
        <p class="redAlert" *ngIf="!file_name && service.login_type != 'candidate'">Candidate haven't uploaded a CV yet. To apply for jobs, the Candidate will need a CV</p>      
        <p>Upload a new CV, or use our CV builder to build one for you</p>
        <a class="addCV hover" (click)="uploadIMG()"><i class=""></i>Add CV</a>
        <!-- <p>{{file_name}}</p> -->
        <input type="file" id="videoInput" style="display: none;" (change)="changeImg($event.target)" accept="application/pdf">

      </div>
      </div><!--addCV ends-->
      
      
      <div class="lookingFor dbContainer lookingForList personal_list01" id="lookingFor">
      <div  *ngIf="looking_edit">
      <div class="dbBlockHd">
        <h4>Looking For</h4><a id="lookFor" class="shootEdit" autofocus  (click)="lookingForEdit();">Edit</a>
      </div>     
      <div class="dbBlockMatr">
        <ul class="lookingForList">
          <li><p class="dbmLabel">Desired Job Title</p><p class="dbmMatr" *ngFor="let j of lookingforjoblist">{{j.desired_job_title}}</p></li>
          <li><p class="dbmLabel">Job Type</p><p class="dbmMatr" *ngFor="let j of lookingforjoblist">{{j.job_type}}</p></li>
          <li><p class="dbmLabel">Currency</p><p class="dbmMatr" *ngFor="let j of lookingforjoblist">{{j.currency}}</p></li>
          <li><p class="dbmLabel">Expected Salary</p><p class="dbmMatr" *ngFor="let j of lookingforjoblist">{{j.salary}}</p></li>
          <li><p class="dbmLabel">Sectors</p><p class="dbmMatr" *ngFor="let j of lookingforjoblist">{{j.category_title}}</p></li>
          <li><p class="dbmLabel">Location</p><p class="dbmMatr" *ngFor="let j of lookingforjoblist">{{j.location}}</p></li>        
        </ul>
      </div><!--dbBlockMatr ends-->
      </div>
      <div *ngIf="!looking_edit">
        <form #job="ngForm" id="jobform" (ngSubmit)="validate_job(job)">
          <div class="dbBlockHd">
            <h4>Looking For</h4>
          </div>     
          <div class="dbBlockMatr dbmEditable look-sec" style="display: block;">
          <ul class="lookingForList">
          <li><p class="dbmLabel">Desired Job Title</p><p class="dbmMatr">
            <input type="text" placeholder="" [(ngModel)]="des_job_title" name="des_job_title" #deJob="ngModel" required/>
            <span *ngIf="deJob.errors && (deJob.dirty || deJob.touched || job.submitted)" class="error">Desired Job is required</span>
          </p></li>      
          <li><p class="dbmLabel">Job Type</p>
            <p class="dbmMatr">
              <select [(ngModel)]="job_type" name="job_type" required>
                <option disabled>Select Job Type</option>
                <option>Full Time</option>
                <option>Part Time</option>
                <option>Contractual</option>
                <option>Temporary</option>
              </select>
              <span *ngIf="this.job_type == 'Select Job Type' && job.submitted" class="error">Please select Job Type</span>
            </p>
          </li>

          <li><p class="dbmLabel">Currency</p>
            <p class="dbmMatr"><select name= "currency" [(ngModel)]="currency" required>
                <option [value]="curren" [selected]="curren == 'Select Currency'" disibled>Select Currency</option>
              <option *ngFor="let c of currencylist" [value]="c.cc">{{c.name}}</option>
            </select>
            <span *ngIf="!this.currency && job.submitted" class="error">Please select Currency</span>
          </p></li>

          <li><p class="dbmLabel">Expected Salary</p>
            <p><input type="text" placeholder="" [(ngModel)]="salary" name="salary" #sal="ngModel" required/>
            <span *ngIf="sal.errors && (sal.dirty || sal.touched || job.submitted)" class="error">Salary is required</span>
          </p>
          <p class="dbmMatr"></p></li>
          
          <!-- <li><p class="dbmLabel">Sectors</p>
          <p class="dbmMatr">
            <select [(ngModel)]="category" name="category" required>
              <option *ngFor="let cat of categorylist" [value]="cat.category_id">{{cat.title}}</option> -->
              <!-- <option>Digital</option>
              <option>Creative</option> -->
            <!-- </select></p></li> -->
          <li><p class="dbmLabel">Location</p><p class="dbmMatr">
            <input type="text" placeholder="" [(ngModel)]="location" name="location" #loc="ngModel" required/>
            <span *ngIf="loc.errors && (loc.dirty || loc.touched || job.submitted)" class="error">Location is required</span>
          </p></li>        
          </ul>
          <div class="button-info1 clears">
          <input type="submit" value="Update" class="updateBlock"/>
          <input type="button" value="Cancel" class="updateBlock" (click)="cancel_lookingfor()"/>
        </div>
          </div><!--dbBlockMatr dbmEditable ends-->
        </form>
      </div>
      </div><!--lookingFor ends-->
      
      <div class="personalInfo dbContainer" id="personalInfo">
        <div  *ngIf="personal_edit">
        <div class="dbBlockHd">
          <h4>Personal Information</h4><a id="pInfo" class="shootEdit" autofocus  (click)="persolnalEdit();">Edit</a>
        </div>     
        <div class="dbBlockMatr">
          <ul class="lookingForList personal_list01">
            <li><p class="dbmLabel">First Name</p><p class="dbmMatr" *ngFor="let j of personalinfolist">{{j.first_name}}</p></li>
            <li><p class="dbmLabel">Last Name</p><p class="dbmMatr" *ngFor="let j of personalinfolist">{{j.last_name}}</p></li>
            <li><p class="dbmLabel">Gender</p><p class="dbmMatr" *ngFor="let j of personalinfolist">{{j.gender}}</p></li>
            <li><p class="dbmLabel">Nationality</p><p class="dbmMatr" *ngFor="let j of personalinfolist">{{j.nationality}}</p></li>
            <li><p class="dbmLabel">Country</p><p class="dbmMatr" *ngFor="let j of personalinfolist">{{j.country}}</p></li>
            <li><p class="dbmLabel">State</p><p class="dbmMatr" *ngFor="let j of personalinfolist">{{j.state}}</p></li>
            <li><p class="dbmLabel">City</p><p class="dbmMatr" *ngFor="let j of personalinfolist">{{j.city}}</p></li>
            <li><p class="dbmLabel">Address</p><p class="dbmMatr" *ngFor="let j of personalinfolist">{{j.address}}</p></li>
            <li><p class="dbmLabel">Zipcode / PO Box / Post Code</p><p class="dbmMatr" *ngFor="let j of personalinfolist">{{j.zip_code}}</p></li>
            <!-- <li><p class="dbmLabel">Alternative Email</p><p class="dbmMatr" *ngFor="let j of personalinfolist">{{j.alternate_email_id}}</p></li> -->
            <li><p class="dbmLabel">Phone Number</p><p class="dbmMatr" *ngFor="let j of personalinfolist">{{j.mob_country_code}} {{j.mobile}}</p></li>
            <!-- <li><p class="dbmLabel">Alternative Phone Number</p><p class="dbmMatr" *ngFor="let j of personalinfolist">{{j.alt_no_country_code}} {{j.alternate_no}}</p></li> -->
            <li><p class="dbmLabel">CV Link</p><p class="dbmMatr" *ngFor="let j of personalinfolist">{{j.website}}</p></li>        
          </ul>
        </div><!--dbBlockMatr ends-->
        </div>
        <div  *ngIf="!personal_edit">
          <form #pinfo="ngForm" id="pinfoform" (ngSubmit)="validate_personalinfo(pinfo)">
            <div class="dbBlockHd">
              <h4>Personal Information</h4>
            </div>     
            <div class="dbBlockMatr dbmEditable personal-info" style="display: block;">
            <ul class="lookingForList">
              <!-- <li><p class="dbmLabel">Father Name</p><p class="dbmMatr">
                <input type="text" placeholder="" [(ngModel)]="father_name" name="father_name" #fName="ngModel" pattern="^[a-zA-Z ]+$" onkeyup="this.value=this.value.replace(/[^A-Za-z ]/g,'');" required autocomplete="off"/>
                <span *ngIf="fName.errors && (fName.dirty || fName.touched || pinfo.submitted)" class="error">Father Name is required</span>
              </p></li> --> 
              <li><p class="dbmLabel">First Name</p><p class="dbmMatr">
                <input type="text" placeholder="" [(ngModel)]="fastName" name="fastName" #faName="ngModel" oninput="this.value=this.value.replace(/[^A-Za-z ]/g,'');" required autocomplete="off"/>
                <span *ngIf="faName.errors && (faName.dirty || faName.touched || pinfo.submitted)" class="error">First Name is required</span>
              </p></li>
              <li><p class="dbmLabel">Last Name</p><p class="dbmMatr">
                <input type="text" placeholder="" [(ngModel)]="lastName" name="lastName" #lName="ngModel" oninput="this.value=this.value.replace(/[^A-Za-z ]/g,'');" required autocomplete="off"/>
                <span *ngIf="lName.errors && (lName.dirty || lName.touched || pinfo.submitted)" class="error">Last Name is required</span>
              </p></li>     
                <li><p class="dbmLabel">Gender</p><p class="dbmMatr"><select name="gender" [(ngModel)]="gender" required><option disabled>Select Gender</option><option>Female</option> <option>Male</option> <option>Other</option></select>
                  <span *ngIf="gender == 'Select Gender' && pinfo.submitted" class="error">Please select Gender</span>
                </p></li>

                <li><p class="dbmLabel">Address</p>
                <p class="dbmMatr">
                  <textarea class="pIaddress" placeholder="" [(ngModel)]="address" name="address" #adds="ngModel" required autocomplete="off"></textarea>
                  <span *ngIf="adds.errors && (adds.dirty || adds.touched || pinfo.submitted)" class="error">Address is required</span>
                </p>
              </li>
              
              <li><p class="dbmLabel">Zipcode / PO Box / Post Code</p><p class="dbmMatr">
                <input type="text" placeholder="" [(ngModel)]="zipcode" name="zipcode" #zip="ngModel" required autocomplete="off"  pattern="^[1-9][0-9]*$" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"/>
                <span *ngIf="zip.errors && (zip.dirty || zip.touched  || pinfo.submitted)" class="error">Zipcode is required</span>
              </p></li>      
              
                <li><p class="dbmLabel">Nationality</p>
                  <p class="dbmMatr"><select name= "Nationality" [(ngModel)]="Nationality" required>
                      <option disabled>Select Nationality</option>  
                    <option *ngFor="let nan of nationlist">{{nan}}</option>
                  </select>
                  <span *ngIf="Nationality == 'Select Nationality' && pinfo.submitted" class="error">Please select Nationality</span>
                </p></li>

                <li><p class="dbmLabel">Country</p>
                  <p class="dbmMatr"><select  name = "country" [(ngModel)]="country" required (change)="onChange($event.target.value)">
                      <option disabled>Select Country</option>  
                      <option *ngFor='let t of countrylist' [value]="t.country" >{{t.country}}</option>
                  </select>
                  <span *ngIf="country == 'Select Country' && pinfo.submitted" class="error">Please select Country</span>
                </p></li>
                  <li><p class="dbmLabel">State</p>
                    <p class="dbmMatr"><select name = "state" [(ngModel)]="state" required>
                        <option disabled>Select State</option>
                        <option *ngFor='let tt of statelist' [value]="tt">{{tt}}</option>
                    </select>
                    <span *ngIf="state == 'Select State' && pinfo.submitted" class="error">Please select State</span>
                  </p>
                  </li>

                  <li><p class="dbmLabel">City</p>
                    <p class="dbmMatr">
                      <input type="text" placeholder="" [(ngModel)]="city" name="city" autocomplete="off"/>
                    </p>
                  </li>

                <li><p class="dbmLabel">CV Link</p>
                <p class="dbmMatr">
                  <input type="text" placeholder="" [(ngModel)]="website" name="website" autocomplete="off"/>
                </p>
              </li>

              <!-- <li><p class="dbmLabel">Alternative E-mail</p>
                <p class="dbmMatr">
                  <input type="email" placeholder="" [(ngModel)]="altmail" name="altmail" #amail="ngModel" autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
                  <span *ngIf="amail.errors && (amail.dirty || amail.touched  || pinfo.submitted)" class="error">Please select State</span>
                </p>
              </li> -->

              <li>
                  <p class="dbmLabel">Phone Number</p><p class="dbmMatr">
                    <input type="text" placeholder="+971" [(ngModel)]="c_code" name="c_code" #cCode="ngModel" class="country-code" required autocomplete="off"/>
                    <!-- <span *ngIf="cCode.errors && (cCode.dirty || cCode.touched)" class="error">Country code and phone no is required</span> -->
                  </p>
                <p class="dbmMatr">
                <input type="text" placeholder="" [(ngModel)]="can_phone" name="can_phone" #pNo="ngModel" class="phone-sty" required autocomplete="off" pattern="^[1-9][0-9]*$" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"/>
                <span *ngIf="(pNo.errors && (pNo.dirty || pNo.touched || pinfo.submitted)) || (cCode.errors && (cCode.dirty || cCode.touched || pinfo.submitted))" class="error">Country code and phone number is required</span>
              </p></li>      
              <!-- <li>
                <p class="dbmLabel">Alternative Phone Number</p><p class="dbmMatr">
                  <input type="text" placeholder="+971" [(ngModel)]="alt_c_code" name="alt_c_code" #acc="ngModel" class="country-code" autocomplete="off"/>
                </p>
                <p class="dbmMatr">
                  <input type="text" placeholder="" [(ngModel)]="alter_no" name="alter_no" #apn="ngModel" class="phone-sty" autocomplete="off" pattern="^[1-9][0-9]*$" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"/>
                  <span *ngIf="(alter_no && !alt_c_code && pinfo.submitted) || (alt_c_code && !alter_no && pinfo.submitted)" class="error">Country code and phone number is required</span>

                </p>
              </li> -->
            </ul>
            <div class="button-info gap clears">
            <input *ngIf="!pinfoUpdate" type="submit" value="Save" class="updateBlock"/>
            <input *ngIf="pinfoUpdate" type="submit" value="Update" class="updateBlock"/>
            <input type="button" value="Cancel" class="updateBlock btn" (click)="cancel_personalInfo()"/>
          </div>
            </div><!--dbBlockMatr dbmEditable ends-->
          </form>

          <!-- change password section -->
          <div id="password">
            <div class="divd-sec-border dbContainer change_pass_wrap01">
              <div class="password-sec" *ngIf="password_edit">
                <div class="dbBlockHd change_pass002">
                  <h4><img class="reset01" src="../../../assets/images/reset.png">Change Password</h4><a (click)="changepassword();"   class="shootEdit">Edit</a>
                </div>
                <div class="pass_sec02">
                    <p class="dbmLabel">Password</p>
                    <p class="dbmMatr">*********</p>
                </div> 
              </div>
              <div class="password-sec" *ngIf="!password_edit">
                  <div class="dbBlockHd change_pass002">
                    <h4><img class="reset01" src="../../../assets/images/reset.png">Change Password</h4>
                  </div> 
                  <div class="pass_sec02">
                      <form class="input-pass-sec" #pass="ngForm" id="passform" (ngSubmit)="validate_password(pass)">
                        <ul class="chpass_list">
                          <li class="row">
                            <div class="col-md-6">
                            <label class="dbmLabel">Current Password</label>
                            <p class="pass_wrap">
                              <input type="password" name="currentpass" [(ngModel)]="currentpass" #cunpas="ngModel" class="input-sty password-current" required/>
                                <!-- <span class="requied">Current Password is required</span> -->
                              <span *ngIf="cunpas.errors && (cunpas.dirty || cunpas.touched || pass.submitted)" class="requied">Current Password is required</span>
                            </p>
                            </div>
                          </li>
                          <li class="row">
                            <div class="col-md-6">
                            <label class="dbmLabel">New Password</label>
                            <p class="pass_wrap">
                              <input type="password" name="newpass" [(ngModel)]="newpass" #newpas="ngModel"  class="input-sty password-current" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"/>
                              <span class="requied" *ngIf="newpas.errors && (newpas.dirty || newpas.touched || pass.submitted)">Should contain at least one lowercase letter, one uppercase letter, one number with minimum 6 character</span>
                              <!-- <span *ngIf="amail.errors && (amail.dirty || amail.touched)" class="error">Please input valid email.</span> -->
                            </p>
                            </div>

                            <div class="col-md-6">
                                <label class="dbmLabel">Confirm Password</label>
                                <p class="pass_wrap">
                                  <input type="password" name="confpas" [(ngModel)]="confpas" #cmp="ngModel" class="input-sty password-current" (keyup)="focusOut()" required/>
                                  <span class="requied" *ngIf="errorMsgS || (cmp.errors && (cmp.dirty || cmp.touched || pass.submitted))">Password doesn't match confirmation</span>
                                  <!-- <span *ngIf="amail.errors && (amail.dirty || amail.touched)" class="error">Please input valid email.</span> -->
                                </p>

                            </div>
                          </li>
                        
                        </ul>
                      
                        <div class="button-cliebt-sce pass_btnwrap ">
                          <div class="clears">
                          <input type="submit" value="Update" class="updateBlock"/>
                          <input type="button" value="Cancel" class="updateBlock" (click)="cancel_password()"/>
                          </div>
                        </div>
                      </form>
                    </div>  
              </div>
            </div>
          </div>
          <!-- End section change password  -->

        </div>
        </div><!--lookingFor ends-->
      
      
      <div class="workExperience dbContainer" id="work">
        <div *ngIf="workExp_edit">
          <div class="dbBlockHd">
            <h4>Work Experience</h4><a class="shootEdit"   (click)="workExpEdit();">Add</a>
          </div>     
          <div class="dbBlockMatr">
            <!-- <ul class="workExperienceList">
              <li *ngFor="let exp of experiencelist;" (click)="edit_experience_idwise(exp)"><p class="expHead">{{exp.job_experience_title}}</p>
                  <p class="expSummary">{{exp.description}}</p>
              </li>
         
            </ul> -->

            <div class="qualification_area" *ngFor="let exp of experiencelist">
                <div *ngIf="exp.is_current_employer=='1'" class="year_of_qualifi"><span>{{exp.from_month}} {{exp.from_year}} to present</span></div>
                <div *ngIf="exp.is_current_employer!='1'" class="year_of_qualifi"><span>{{exp.from_month}} {{exp.from_year}} - {{exp.to_month}} {{exp.to_year}}</span></div>
                <div class="details_of_qualifi">
                  <ul class="qualification_list"> 
                    <li>{{exp.job_title}}</li>
                    <li>{{exp.company}}</li>
                    <li>{{exp.description}}</li>
                  </ul>
                  <span (click)="edit_experience_idwise(exp)" class="editThisBlock">Edit</span>
                </div>
            </div>
          </div><!--dbBlockMatr ends-->
        </div>
        <div *ngIf="!workExp_edit">
        <div class="dbBlockHd">
            <h4>Work Experience</h4>
        </div>   
        <div class="dbBlockMatr dbmEditable" style="display: block;">
          <form #workexp="ngForm" id="workexpform" (ngSubmit)="validateuser(workexp)">
            <ul class="dbmForm workexp01">
              <li><p class="dbmLabel">Job Title</p><p class="dbmMatr">
                <input type="text" placeholder="Type here" name="job_title" [(ngModel)]="job_title" #jobT="ngModel" required/>
                <span *ngIf="jobT.errors && (jobT.dirty || jobT.touched || workexp.submitted)" class="error">Job Title is required</span>
              </p></li>      
              <li><p class="dbmLabel">Company</p>
              <p class="dbmMatr">
                <input type="text" placeholder="Type here" name="company" [(ngModel)]="company" #com="ngModel" required/>
                <span *ngIf="com.errors && (com.dirty || com.touched || workexp.submitted)" class="error">Company is required</span>
              </p></li>
              <li><p class="dbmLabel"><input type="checkbox" name="checked" [(ngModel)]="checked" (change)="setExpChecked()"/>Currently I am working here</p>
              </li> 

              <li>
                <ul class="clears">
                  <li>
                
                    <div class="dbmLabel">From</div>

                    <div class="dbmMatr clears">
                  <div class="workexpform">
                    <select name ="styear" [(ngModel)]="styear" required (focusout)="setEndYearTwo()">
                      <option disabled>Year</option>
                      <option *ngFor="let y of yearlist" [value]="y">{{y}}</option>
                    </select>
                    <span *ngIf="styear == 'Year' && workexp.submitted" class="error">Start Year is required</span>
                  </div>
                  <div class="workexpform">
                  
                    <select name="stmonth" [(ngModel)]="stmonth" required>
                      <option disabled>Month</option>
                      <option *ngFor="let m of month" [value]="m.name">{{m.name}}</option>
                      <!-- <option>February</option> -->
                    </select>
                    <span *ngIf="stmonth == 'Month' && workexp.submitted" class="error">Start Month is required</span>
                  </div>
                  </div>
                
                </li>
                  <li *ngIf="!checked">
                    
                    <div class="dbmLabel">To</div>
                  <div class="dbmMatr clears">
                    <div class="workexpform">
                      <select name="endyear" [(ngModel)]="endyear" required  (focusout)="setEndMonth()">
                        <!-- <option [value]="ye" [selected]="ye == 'Year'" disabled>Year</option> -->
                        <option disabled>Year</option>
                        <option *ngFor="let y of endYearListTwo" [value]="y">{{y}}</option>
                      </select>
                      <span *ngIf="endyear == 'Year' && workexp.submitted" class="error">End Year is required</span>
                    </div>

                    <div class="workexpform">
                      <select name="endmonth" [(ngModel)]="endmonth" required>
                        <!-- <option [value]="size" [selected]="size == 'Month'" disabled>Month</option> -->
                        <option disabled>Month</option>
                        <option *ngFor="let m of selectableMonth" [value]="m.name">{{m.name}}</option>
                        <!-- <option>February</option> -->
                      </select>
                      <span *ngIf="endmonth == 'Month' && workexp.submitted" class="error">End Month is required</span>
                    </div>
                    </div>
                  
                  </li>
                </ul>
              </li>
              
                      
              <li><p class="dbmLabel">Role</p><p class="dbmLabel"> <textarea placeholder="What did you do there?" name="description" [(ngModel)]="description" #desc="ngModel" required ></textarea>
                <span *ngIf="desc.errors && (desc.dirty || desc.touched || workexp.submitted)" class="error">Description is required</span>
              </p>
                <!-- <p class="dbmMatr">2000 characters remaining</p> -->
              </li>
                   
            </ul>

            <div class="thisBlockAction">
              <input *ngIf="cand_experience_id==''" type="submit" value="Save" class="updateBlock"/>
              <input type="button" value="Cancel" class="updateBlock" (click)="cancel_experience(workexp)"/>
              <input *ngIf="cand_experience_id!=''" type="button" value="Delete" class="updateBlock" (click)="delete_experience()" />
              <input *ngIf="cand_experience_id!=''" type="submit" value="Update" class="updateBlock"/>
            </div><!--thisBlockAction-->
          </form>
        </div><!--dbBlockMatr dbmEditable ends-->
        </div>     
      </div><!--workExperience ends-->

    <div *ngIf="candidateCategory == '1'" class="healthcare dbContainer health-info" id="health">
      

      <div *ngIf="!healthPart" class="dbBlockMatr no-pads">
          <div class="dbBlockHd">
              <h4>Healthcare License Details</h4><a *ngIf="!hcdEdit" class="shootEdit" (click)="healthEdit();">Edit</a>
              <a *ngIf="hcdEdit" class="shootEdit" (click)="clickEdit();">Edit</a>
            </div>

        <div class="qualification_area"  *ngFor="let q of healthCareDetails">
            <!-- <div class="year_of_qualifi"><span>{{exp.from_month}} {{exp.from_year}} - {{exp.to_month}} {{exp.to_year}}</span></div> -->
            <div class="">
              <div class="health_wrap editable">
                <div class="health_col">
                  <div class="edit" *ngIf="q.dha=='1'">
                  
                    <h3 class="dbmLabel">UAE LICENSE</h3>
                    <h2>DHA</h2>
                    <label *ngIf="q.dha_license_no">License Number</label>
                    <span *ngIf="q.dha_license_no">{{q.dha_license_no}}</span>
                    <label>Job Title on License</label>
                    <span>{{q.dha_license_title}}</span>
                  </div>

                  <div class="edit" *ngIf="q.doh=='1'">
                    <h2>DOH</h2>
                    <label *ngIf="q.doh_license_no">License Number</label>
                    <span *ngIf="q.doh_license_no">{{q.doh_license_no}}</span>
                    <label>Job Title on License</label>
                    <span>{{q.doh_license_title}}</span>
                  </div>

                  <div class="edit" *ngIf="q.moh=='1'">
                      <h2>MOH</h2>
                      <label *ngIf="q.moh_license_no">License Number</label>
                      <span *ngIf="q.moh_license_no">{{q.moh_license_no}}</span>
                      <label>Job Title on License</label>
                      <span>{{q.moh_license_title}}</span>
                  </div>
                </div>
                <div class="health_col" *ngIf="q.other_country_name">
                    <div class="edit" >
                      
                        <h3 class="dbmLabel">HOME COUNTRY LICENSE</h3>
                        <span>{{q.other_country_name}}</span>
                      </div>
                </div>
              </div>
              <span id="editIcon" style="display: none;" (click)="edit_heatth_idwise(q)" class="editThisBlock">Edit</span>
            </div>
        </div>
      </div>

      <div *ngIf="healthPart" class="dbBlockMatr dbmEditable" style="display: block;">
          <div class="dbBlockHd">
              <h4>Healthcare License Details</h4><a *ngIf="!hcdEdit" class="shootEdit" (click)="healthEdit();">Edit</a>
              <!-- <a *ngIf="hcdEdit" class="shootEdit" (click)="clickEdit();">Edit</a> -->
            </div>
        <form #health="ngForm" id="helthform" (ngSubmit)="validatehealth(health)">
          <div class="health_wrap">
          <div class="dbmForm health_col licence_left">

            <!-- <li>
              <p class="dbmLabel"> Helthcare Licence No.</p>
              <p class="dbmMatr">
                <input type="text" placeholder="Helthcare Licence No." name="hclno" [(ngModel)]="hclno" #hl="ngModel" required/>
                <span *ngIf="hl.errors && (hl.dirty || hl.touched || health.submitted)" class="error">Helthcare Licence Number is required</span>
              </p>
            </li>
            
            <li>
              <p class="dbmLabel">Other Helthcare Licence</p>
              <p class="dbmMatr">
                <input type="text" placeholder="Other Helthcare Licence" name="ohcl" [(ngModel)]="ohcl" #hel="ngModel" required/>
                <span *ngIf="hel.errors && (hel.dirty || hel.touched || health.submitted)" class="error">Helthcare Licence is required</span>
              </p>
            </li> -->

        
                <h3 class="dbmLabel">UAE LICENSE</h3>
                <ion-list>
                
                    <ul class="check_list01">

                    <li> 
                    <div class="check_sec01">
                    <ion-checkbox class="check_box01" style="width: 14px; height: 14px;" (ionChange)="checking($event)" [(ngModel)]="DOH" name="DOH" slot="start" value="DOH"></ion-checkbox>
                    <ion-label class="check_leb" style="margin-left: 10px; margin-top: 2px; font-size: 14px;">DOH</ion-label>
                    </div>
                    
                    <div *ngIf="DOH" class="check_body01">
                      <input type="text" placeholder="License Number" name="doh_liscence" [(ngModel)]="doh_liscence" />
                      <input type="text" placeholder="Job Title on License " name="doh_title" [(ngModel)]="doh_title" #dht="ngModel" required />
                      <span *ngIf="dht.errors && (dht.dirty || dht.touched || health.submitted)" class="error">This field is required</span>
                    </div>

                    </li>

                    <li>
                    <div class="check_sec01">
                    <ion-checkbox style="width: 14px; height: 14px;" (ionChange)="checking($event)" [(ngModel)]="DHA" name="DHA" slot="start" value="DHA"></ion-checkbox>
                    <ion-label style="margin-left: 10px; margin-top: 2px; font-size: 14px;">DHA</ion-label>
                    </div>

                    <div *ngIf="DHA" class="check_body01">
                      <input type="text" placeholder="License Number" name="dha_liscence" [(ngModel)]="dha_liscence" />
                      <input type="text" placeholder="Job Title on License " name="dha_title" [(ngModel)]="dha_title" #dhat="ngModel" required/>
                      <span *ngIf="dhat.errors && (dhat.dirty || dhat.touched || health.submitted)" class="error">This field is required</span>
                    </div>
                    </li>
               

                  <li>
                    <div class="check_sec01">
                    <ion-checkbox style="width: 14px; height: 14px;" (ionChange)="checking($event)" [(ngModel)]="MOH" name="MOH" slot="start" value="MOH"></ion-checkbox>
                    <ion-label style="margin-left: 10px; margin-top: 2px; font-size: 14px;">MOH</ion-label>
                  </div>
                    
                    <div *ngIf="MOH" class="check_body01">
                    
                      <input type="text" placeholder="License Number" name="moh_liscence" [(ngModel)]="moh_liscence"/>
                      <input type="text" placeholder="Job Title on License " name="moh_title" [(ngModel)]="moh_title"  #moht="ngModel"required />
                      <span *ngIf="moht.errors && (moht.dirty || moht.touched || health.submitted)" class="error">This field is required</span>
                    </div>

                  </li>

                  </ul>
             
                </ion-list>
                <!-- <span *ngIf="checkedAns.length == 0 && health.submitted" class="error">Please select Helthcare Licence</span> -->
             
            
            </div>

            <div class="health_col country_lic">
                <h3 class="dbmLabel">HOME COUNTRY LICENSE</h3>

                <div class="check_body01">
                  <ul >
                    <li>
                        <label>Select Country</label>
                        <select name="health_country" [(ngModel)]="health_country">
                            <option>Select Country</option>  
                            <option *ngFor='let t of healthcountrylist' [value]="t.country" >{{t.country}}</option>
                        </select>
                    </li>

                  <!--   <li><input type="text" placeholder="License Number" /></li>
                    <li><input type="text" placeholder="Job Title on License " /></li> -->
                      
                      
                      
                  </ul>
               
                  </div>
            </div>

          </div>

          <div class="thisBlockAction licence_btm">
            <input *ngIf="healthcare_id==''" type="submit" value="Save" class="updateBlock"/>
            <input *ngIf="healthcare_id!=''" type="submit" value="Update" class="updateBlock"/>
            <input type="button" value="Cancel" class="updateBlock" (click)="cancel_health(health)"/>
            <!-- <input *ngIf="healthcare_id!=''" type="button" value="Delete" class="updateBlock" (click)="delete_health()" /> -->
          </div><!--thisBlockAction-->
        </form>
      </div>
    </div>  
      

    <div class="qualifications dbContainer" id="qualification">
      <div *ngIf="quali_edit">
        <div class="dbBlockHd">
          <h4>Qualifications</h4><a   (click)="qualiEdit();">Add</a>
        </div>     
        <div class="dbBlockMatr clear" style="margin-top:0">
          <!-- <ul class="qualificationsList"> -->
            <!-- <li><div class="qcol">Type</div><div class="qcol">Institute</div><div class="qcol">From</div><div class="qcol">To</div><div class="qcol">Stream</div><div class="qcol">Grade</div></li>
              <li *ngFor="let q of qualificatiolist" (click)="edit_qualification(q)">
                <div class="qcol">{{q.qualification_type}}</div>
                <div class="qcol">{{q.school_college}}</div>
                <div class="qcol">{{q.from_year}}</div>
                <div class="qcol">{{q.specialization}}</div>
                <div class="qcol">{{q.marks_grade}}</div>
              </li> -->
              <!-- <li><div class="qcol">Intermediate Level</div><div class="qcol">CBSE</div><div class="qcol">1998</div><div class="qcol">1999</div><div class="qcol">English, Hindi, Maths, Science, Sanskrit, Social Studies</div><div class="qcol">A</div></li>      -->
             
          <!-- </ul> -->
         <div class="qualification_area" *ngFor="let q of qualificatiolist">
           <div class="year_of_qualifi"><span>{{q.from_year}} - {{q.to_year}}</span></div>
           <div class="details_of_qualifi">
             <ul class="qualification_list"> 
               <li>{{q.qualification_type}}</li>
               <li>{{q.school_college}}</li>
               <!-- <li>{{q.specialization}}</li> -->
               <li>{{q.marks_grade}}</li>
             </ul>
             <span (click)="edit_qualification(q)" class="editThisBlock">Edit</span>
           </div>
         </div>
  
        </div><!--dbBlockMatr ends-->
      </div>
      <div *ngIf="!quali_edit">
        <form #qualification="ngForm" id="qualificationform" (ngSubmit)="validate_qualification(qualification)">
          <div class="dbBlockHd">
            <h4>Qualifications</h4>
          </div>
          <div class="dbBlockMatr dbmEditable" style="display: block;">
          <ul class="dbmForm clears">
            <li><p class="dbmLabel">Qualification Type</p><p class="dbmMatr">
              <select name="qlevel" [(ngModel)]="qlevel" required>
                <!-- <option [value]="qtype" [selected]="qtype == 'Select Qualification Type'" disabled>Select Qualification Type</option> -->
                <option disabled>Select Qualification Type</option>
                <option>Secondary Level</option>
                <option>Higher Secondary Level</option>
                <option>Under Graduate Level</option>
                <option>Post Graduate Level</option>
              </select>
              <span *ngIf="qlevel == 'Select Qualification Type' && qualification.submitted" class="error">Please select Qualification Type</span>
            </p></li>      
            <li><p class="dbmLabel">School / College / Institute</p><p class="dbmMatr"><input type="text" placeholder="" name="college" [(ngModel)]="college" #sc="ngModel" required style="text-transform: capitalize;"/>
              <span *ngIf="sc.errors && (sc.dirty || sc.touched || qualification.submitted)" class="error">School/College/Institution is required</span>
            </p></li>
            <li><p class="dbmLabel">From</p> <p class="dbmMatr">
                <select [(ngModel)]="qstartyear" name="qstartyear" required (focusout)="setEndYear()">
                    <!-- <option [value]="ye" [selected]="ye == 'Year'" disabled>Year</option> -->
                    <option disabled>Year</option>
                    <option *ngFor="let y of yearlist" [value]="y">{{y}}</option>
                  </select>
                  <span *ngIf="qstartyear == 'Year' && qualification.submitted" class="error">Please select From Year</span>
                </p></li>
            <li><p class="dbmLabel">To</p> <p class="dbmMatr">
                <select name="qendyear" [(ngModel)]="qendyear" required>
                    <!-- <option [value]="ye" [selected]="ye == 'Year'" disabled>Year</option> -->
                    <option disabled>Year</option>
                    <option *ngFor="let y of endYearList" [value]="y">{{y}}</option>
                  </select>
                  <span *ngIf="qendyear == 'Year' && qualification.submitted" class="error">Please select To Year</span>  
                </p></li>
            <!-- <li><p class="dbmLabel">Stream</p><p class="dbmMatr"><input type="text" placeholder="" name="stream" [(ngModel)]="stream" #stm="ngModel" required/>
              <span *ngIf="stm.errors && (stm.dirty || stm.touched || qualification.submitted)" class="error">Stream is required</span>
            </p></li> -->
            <li><p class="dbmLabel">Grade/Marks</p><p class="dbmMatr"><input type="text" placeholder="" name="marks" [(ngModel)]="marks" #mks="ngModel" required/>
              <span *ngIf="mks.errors && (mks.dirty || mks.touched || qualification.submitted)" class="error">Grade/Marks is required</span>
            </p></li>
            <!-- <li><p class="dbmLabel"><input type="button" value="Add Another Subject" class="addAnother"/></p></li>         -->
          </ul>
          <div class="thisBlockAction">
            <input *ngIf="qualification_id==''" type="submit" value="Save" class="updateBlock"/>
            <input type="button" value="Cancel" class="updateBlock" (click)="cancel_qualification(qualification)"/>
            <input *ngIf="qualification_id!=''" type="button" value="Delete" class="updateBlock" (click)="delete_qualification()"/>
            <input *ngIf="qualification_id!=''" type="submit" value="Update" class="updateBlock"/>
          </div><!--thisBlockAction-->
        </div><!--dbBlockMatr dbmEditable ends-->
        </form>
      </div>     
    </div><!--qualifications ends-->
      
      
      
      
    <div class="skills dbContainer" id="skill">
      <div *ngIf="edu_edit">
      <div class="dbBlockHd">
        <h4>Skills</h4><a (click)="eduEdit();"   class="shootEdit">Add</a>
      </div>     
      <div class="dbBlockMatr" style="margin-top:0">
        <ul class="skillsList">
          <li *ngFor="let sk of skilllist">{{sk.skill}}<i class="del_cross" (click)="delete_skill(sk.candidate_skill_id)">  x </i></li>         
        </ul>
      </div><!--dbBlockMatr ends-->
      </div>
      <div *ngIf="!edu_edit">
         <form #education="ngForm" id="educationform" (ngSubmit)="validate_education(education)">
            <div class="dbBlockHd">
              <h4>Skills</h4>
            </div>
            <div class="dbBlockMatr dbmEditable" style="display: block;">
            <div class="skillsForm">
              <div class="dbmLabel">Your Skills</div>
              <div class="dbmMatr">
                    
                        <!-- <ul class="selectedSkillsList">
                        <li>Photoshop</li>
                        </ul> -->
                      
                      <p class="addSkills">
                        <input type="text" placeholder="Add a new skill or expertise" name="skil_name" [(ngModel)]="skil_name" #skl="ngModel" required/>
                        <span class="merror"> Comma (,) separated</span>
                        <span *ngIf="skl.errors && (skl.dirty || skl.touched || education.submitted)" class="error">Skill is required</span>
                        <!-- <button class="addAnotherItem"><i>+</i>Add</button> -->
                      </p><!--selectedSkills ends-->
                </div> <!--dbmMatr ends-->
                <!-- <div class="skillsSuggestions">
                  <ul class="skillsSuggestionsList">
                    <li>Photoshop</li><li>Illustrator</li><li>Print</li>
                  </ul>
                </div> -->
            </div>
            <div class="thisBlockAction">
              <input type="submit" value="Save" class="updateBlock"/>
              <input type="button" value="Cancel" class="updateBlock" (click)="cancel_skill()"/>
            </div><!--thisBlockAction-->
            
            </div><!--dbBlockMatr dbmEditable ends-->
          </form>  
      </div>    
    </div><!--skills ends-->
    
    
    <div class="languages dbContainer" id="language">
      <div *ngIf="lang_edit">
      <div class="dbBlockHd">
        <h4>Languages</h4><a (click)="langEdit();"   class="shootEdit">Add</a>
      </div>     
      <div class="dbBlockMatr">
        <ul class="languagesList" *ngIf='languagelist'>
          <li *ngFor="let l of languagelist">{{l.language}} <span class="fluency">{{l.fluency}}<i class="del_cross" (click)="delete_language(l.candidate_language_id)">  x </i></span></li>
          <!-- <li>Chinese <span class="fluency">Basic</span></li> 
          <li>Russian <span class="fluency">Intermediate</span></li>  
          <li>Hindi <span class="fluency">Fluent</span></li>     -->     
        </ul>
      </div><!--dbBlockMatr ends-->
      </div>
      <div *ngIf="!lang_edit">
        <form #languageform="ngForm" id="languageform_form" (ngSubmit)="validate_language(languageform)">
          <div class="dbBlockHd">
              <h4>Languages</h4>
          </div>     
          <div class="dbBlockMatr dbmEditable" style="display: block;">
          <div class="languagesForm clears">
            <div>
              <div class="chooseLanguage">
                 <label>Language</label> 
                  <input type="text" placeholder="Language" name="language" [(ngModel)]="language" #lang="ngModel" required style="text-transform: capitalize;"/>
                  <span *ngIf="lang.errors && (lang.dirty || lang.touched || languageform.submitted)" class="error">Please write a Language</span></div>
                  <!--chooseLanguage ends-->
              <div class="chooseFluency">
                <label>Fluency</label>
                  <div >
                    <p><input type="radio" [(ngModel)]="fluency" name="fluency" #flu="ngModel" value="Basic" required/> <label>Basic</label></p>
                    <p><input type="radio" [(ngModel)]="fluency" name="fluency" #flu="ngModel" value="Intermediate" required/> <label>Intermediate</label></p>
                    <p><input type="radio" [(ngModel)]="fluency" name="fluency" #flu="ngModel" value="Fluent" required/> <label>Fluent</label></p>
                  </div>
                  <span *ngIf="flu.errors && (flu.dirty || flu.touched || languageform.submitted)" class="error">Please select Fluency level</span>
              </div>
          </div>
              <!--chooseFluency ends-->
              <!-- <button class="addAnotherItem"><i>+</i>Add another language</button> -->
              
          </div>
          <div class="thisBlockAction clears">
            <input type="submit" value="Save" class="updateBlock"/>
            <input type="button" value="Cancel" class="updateBlock" (click)="cancel_language()"/>
          </div><!--thisBlockAction-->
          
          </div><!--dbBlockMatr dbmEditable ends--> 
        </form>
      </div>    
    </div><!--skills ends--> 
    
      <!-- <div class="dbjobAlerts mobile">
        <h4>Job Alerts</h4>
        <ul class="alertsList">
          <li><a>Temporary 'Web Designer' Jobs | Birmingham, West Midlands Jobs & Vacancies...</a></li>
          <li><a>Permanent 'PHP Developer' Jobs | Birmingham, West Midlands Jobs & Vacancies...</a></li>
        </ul>
        <a style="color: #00aeef; text-decoration: underline;" class="moreBlue dashboard_job_alert">Manage Searches</a>
      </div> --><!--dbjobAlerts ends-->
      

      <div class="dbrecJobs mobile" *ngIf="relatedJobs">
          <h4>Related Jobs</h4>
          <ul class="recJobsList" *ngIf="relatedJobs">
          <li *ngFor="let rj of relatedJobs" (click)="jobDetails(rj.job_id)"><a> <p style="font-size: 15px;" class="jobName">{{rj.job_title}} - {{rj.skill_set}}</p>
            <p class="jobPerks" *ngIf="rj.person_salary">{{rj.currency}} {{rj.person_salary}}</p>
            <p class="jobLocation">{{rj.basic_info_city}}, {{rj.basic_info_state}} {{rj.basic_info_cuntry}}</p>
            </a></li>
          
        </ul>
        <!-- <a (click)="moreJobs()" style="color: #00aeef; text-decoration: underline;" class="moreBlue dashboard_more">More Jobs</a> -->
      </div><!--dbrecJobs ends-->  
      
    </div><!--col-md-9 ends-->
   </div>
  
  

  </div><!--container ends-->
 
</div><!--mainContainer ends-->


  
  
  
  <app-footer *ngIf="!candidateID"></app-footer>

  
  
</ion-content>
