.nav-actv{color: #0693f5 !important;}
.btn:disabled{ opacity: 0.5;}
.hover{cursor: pointer;}
.saveBtn {
    border: .6px solid gray;
    padding: 2px 4px;
    color: darkgreen;
    width: 50%;
    margin: 16px auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 6px;
    text-transform: capitalize;
}

.pIaddress{
    height: 62px;
    border: 1px solid;
    border-radius: 4px;
    width: 89%;
    padding: 8px;
}
.error{ display: block; color: #fc0303;} 
.merror{ display: block; color: #0a0a0a;clear: both;}     
ul.lookingForList li { height: 70px;}
.pIaddress { height: 43px;}
.personal-info {
max-height: 100%;}
.button-info{     margin-top: 90px;
    margin-right: 30px;}
    .dbmEditable input.updateBlock {
        float: right;
    }  
.look-sec{ height: 380px;
    max-height: 100%;}   
    .button-info1{
        margin-right: 30px;}       
 .health-info{max-height: 100%;
    }   
    .thisBlockAction {
        padding-top: 95px;
        clear: inherit;
    }  
.health-info .thisBlockAction {
    padding-top: 312px;} 
    
    
.workExperience.dbContainer .dbBlockMatr{
    margin-top:0
}

.workExperience.dbContainer .dbBlockMatr.dbmEditable{
    padding:12px 12px
}

.languages.dbContainer .dbBlockMatr{
    margin-top:0
}

.languages.dbContainer ul.languagesList {
    margin-bottom: 0;
}

.dbBlockMatr.dbmEditable{
    padding-top:10px;
   
}

.languages.dbContainer .dbBlockMatr.dbmEditable{
    border-top: 1px solid #ebebeb;
}

.languages.dbContainer .dbBlockHd{
    border-bottom: 0;
}
    






    
@media screen and (max-width:900px){   
    ul.dbmForm li {
    height:inherit;}
    .personal-info {

    max-height: 100%;}
    .look-sec{ height: 580px;
        max-height: 100%;}  
    .health-info{max-height: 100%;
            height:inherit;}                       
    }

@media(max-width:500px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block !important;
    }
}

.mobile{
    display: none;
}
.country-code{ width: 20%; float: left;}
.phone-sty{ width: 70%; float: left; margin-left: 5px;}
.error{color: #da0808; clear: both;}

/////////////
.recJobsList li{
    cursor: auto;
}

.recJobsList a{
    cursor: auto;
}

.alertsList a:hover{
    color: #00aeef;
    text-decoration: underline;
}

/* style_vij17/12 */

.check_sec01{
    width:100%;  
}

.check_sec01 .check_leb{
    display:inline-block;
    vertical-align: middle;
}

.check_sec01 .check_box01{
    display:inline-block;
    vertical-align: middle;
}

.check_body01 input{
    display:inline-block
}

.health_wrap{
    display: flex;
    width:100%
}

.health_col{
    width:50%
}

.check_list01 li{
    display: block;
    padding: 5px 0;
}

.check_body01{
    padding-top:6px
}

.check_body01 input{
    margin-bottom:5px ;
}

.health_col.country_lic{
    padding-left:15px
} 

.health_col.licence_left{
    padding-right:15px
}

.country_lic label{
    display:block;
    font-size: 14px;
}

.country_lic ul li{
    display:block;
    margin:0 0 10px
}

.country_lic ul li input{
    margin: 0 !important;
}

.country_lic select{
    color: #777;
    padding: 10px 7px;
}

.thisBlockAction.licence_btm{
    padding-top: 15px !important;
}

.health_col .edit h2{
    color: #222e3a;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    padding: 0 0 6px;
    position: relative;
    font-weight: 500;
    margin: 0 0 10px;
    display:block;
    border-bottom: 1px solid #ccc;
}
h3.dbmLabel{
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 6px;
}

.health_wrap.editable .health_col:last-child{
    border-left: 1px solid #ccc;
    padding-left:15px;
}

.health_wrap.editable .health_col:first-child{
    padding-right:15px;
}

.health_wrap{
    padding-top:10px;
}

.health-info .dbBlockMatr{
    margin-top:0
}

.health-info .dbBlockMatr.dbmEditable{
    padding: 0;
}

.health_wrap{
    padding-left: 0;
    margin-bottom: 20px;
}

.qualification_area {
    padding: 10px 0;
    border-top:0
}
.dbmLabel {
    color: #222e3a !important;
}

.health-info .dbBlockMatr.dbmEditable{
    padding-top:0
}

.health_col .edit label{
    color: #222e3a;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 0;
    position: relative;
    margin: 0 0 5px;
    display: block;
}

.health_col .edit span{
    color: #747474;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 0;
    position: relative;
    margin: 0 0 10px;
    display: block;
}

.health_col .edit{
    margin: 0 0 25px;
}

.reset01{
    display:inline-block;
    width:29px;
    margin-right: 7px;
}

.pass_sec02{
    padding:20px 20px;
   
}

.chpass_list{
   margin: 0 0 20px
}

.pass_sec02 label{
    display: block;
    margin:0 0 5px;
}

.pass_sec02 span{
    display:block;
    color: red;;
}

.pass_sec02 input[type="password"]{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #A0A0A0;
    background: #fff;
    border-radius: 4px;
    width: 100%;
}

.pass_wrap{
    margin:0 0 6px;
}

.pass_btnwrap input{
    color: #fff;
    font-size: 14px;
    font-family: "open_sansregular";
    background: #054774;
    padding: 10px 20px;
    border-radius: 4px;
    vertical-align: middle;
    margin-right:3px;
    float:right;
    width: 20%;
    border:0 !important
}

.clears:after{
    content:'';
    clear:both;
    display: block;
}

ul.dbmForm.workexp01 li {
    float:none;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 0;
}

ul.dbmForm.workexp01 li ul{
    display: flex;
    width:100%;
}

ul.dbmForm.workexp01 li ul li{
    width: 50%;
    display: inline-block;

}

.workexpform{
    width: 44%;
    float: left;
    margin-right: 2%;
}

.workExperience .dbmEditable select{
    width: 100%;
    float:none
}

.thisBlockAction{
    padding-top:0
}

.clears:after{
    content:'';
    clear:both !important;
    display: block;
}

.workExperience ul.dbmForm li textarea{
    border: 1px solid #A0A0A0;
}


.languagesForm .chooseFluency p{
    margin-top:19px
}

.languagesForm label{
    margin: 0 0 5px;
}

.languagesForm{
    margin-bottom:20px
}

.cImage.prof_img020{
    position: relative;
}

.aboutYou .cImage.prof_img020 img:hover{
    box-shadow:none !important;
    -webkit-transform: none !important;
    transform:none !important;
}

.cImage.prof_img020 .prof_edit{
    position: absolute;
    right: 26px;
    top: 15px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    line-height: 45px;
    box-shadow: 0 0 4px;
    text-align: center;
}

.cImage.prof_img020 .prof_edit i{
    font: normal normal normal 19px/1 FontAwesome !important;
    color: #333;
}

.dbBlockMatr.down_cv .viewcv::before{
    display:none
}

.dbBlockMatr.down_cv .viewcv i{
    font: normal normal normal 18px/1 FontAwesome !important;
    margin-right:8px;
}

.addCV a.addCV::before{
    position: relative;
    top: 3px;
    margin-right:8px;
}

.addCV a.addCV:hover::before{
    background: #000;
}

.lookingForList.personal_list01 li {
    margin-bottom: 0;
    height: 60px;
}

.button-info.gap{
    margin: 0;
    padding-right: 34px;
}


.dbBlockHd.change_pass002 h4::before{
    display:none
}

.divd-sec-border.dbContainer.change_pass_wrap01{
    border:0
}

.chpass_list li{
    margin-bottom:12px
}

#pinfoform .dbmLabel{
    margin-bottom: 3px;
}

.lookingForList li{
    margin-bottom: 12px !important;
    height:auto !important
}

.dbmLabel{
    margin-bottom:4px ;
}

.look-sec{
    height: auto !important;
}

ul.lookingForList li {
    width: 50%;
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    padding-left: 20px;
}

span.editThisBlock {
    right: 17px;
}

.skills.dbContainer .dbBlockHd{
    border-bottom:0;
}

.skills.dbContainer .dbBlockMatr.dbmEditable{
    border-top: 1px solid #ebebeb;
    padding-top: 20px;
}


@media screen and (max-width: 767px){
    ul.dbmForm.workexp01 li ul{
        display: block;
        width:100%;
    }
    
    ul.dbmForm.workexp01 li ul li{
        width: 100%;
        display: block;
        margin:0 0 8px
    
    }
    .workexpform{
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 479px){
    .health_col{
        width:100%
    }

    .health_wrap{
        display: block;
    }

    .health_wrap.editable .health_col:last-child{
        border:0
    }

    .phone-sty{
        width: 78%;
    }

    .workexpform {
        width: 48%;
    }
}