<app-admin-header></app-admin-header>

<ion-content>

  <div class="company-list-sec container">
    <ion-row class="clientHeadRow">
      <ion-col>
        <h1 class="clientListHead" style="border: none;">Add Candidate</h1>
      </ion-col>
     
    </ion-row>
    <div class="sec-div-sty form_section01">
      <form #register="ngForm" id="registerform" (ngSubmit)="validateuser(register)">
        <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">
          <label>First Name</label>
          <div class="form-cont">
          <input type="text"  name="firstname" required [(ngModel)]="firstname"  #fname="ngModel"  autocomplete="off" style="text-transform: capitalize;" pattern="^[a-zA-Z ]+$" onkeyup="this.value=this.value.replace(/[^A-Za-z ]/g,'');"/>
          <span *ngIf="fname.errors && (fname.dirty || fname.touched || register.submitted)">First Name is required</span>
          </div>  
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <label>Last Name</label>
          <div class="form-cont">
            <input type="text"  name="lastname" required [(ngModel)]="lastname" #lname="ngModel" autocomplete="off" style="text-transform: capitalize;" pattern="^[a-zA-Z ]+$" onkeyup="this.value=this.value.replace(/[^A-Za-z ]/g,'');"/>
            <span *ngIf="lname.errors && (lname.dirty || lname.touched || register.submitted)">Last Name is required</span>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6">
          <label>Email</label>
        <div class="form-sty">
          <input type="email" name="email" required [(ngModel)]="email" autocomplete="off" #femail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
          <span *ngIf="femail.errors && (femail.dirty || femail.touched || register.submitted)">Please input valid E-mail</span>
        </div> 
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <label>Phone Number</label>
          <div class="phone_block">
            <input type="text" placeholder="+971" name="ccode" required [(ngModel)]="ccode" #coo="ngModel" pattern="^(\+?\d{1,3}|\d{1,4})$">
         
          <input type="text"  name="phone" required [(ngModel)]="phone" #pphone="ngModel" autocomplete="off" pattern="^[1-9][0-9]*$" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"/>
        </div>
          <span *ngIf="(pphone.errors && (pphone.dirty || pphone.touched || register.submitted)) ||  (coo.errors && (coo.dirty || coo.touched || register.submitted))">Country Code & Phone Number both are required</span>
          
          <!-- <span *ngIf="coo.errors && (coo.dirty || coo.touched || register.submitted)">Country Code is required</span> -->
        </div>
   

     

        <div class="col-lg-6 col-md-6 col-sm-6">
          <label>Password</label>
     
          <input type="password"  name="password" required [(ngModel)]="password" #passw="ngModel" autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"/>
          <span *ngIf="passw.errors && (passw.dirty || passw.touched || register.submitted)">Password should contain at least one lowercase letter, one uppercase letter, one number with minimum 6 character</span>
          <!-- <span *ngIf="passw.errors && (passw.dirty || passw.touched || register.submitted)">Password is invalid</span> -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <label>Confirm Password</label>
          <input type="password"  name="cpassword" [(ngModel)]="cpassword" #cnfPass="ngModel" required autocomplete="off" (keyup)="updateList($event)"/>
          <span *ngIf="(cnfPass.errors && (cnfPass.dirty || cnfPass.touched || register.submitted)) || errorMsgS">Password doesn't match</span>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <label>Category</label>
          <div class="form-sty">
            <select [(ngModel)]="category" name="category" required #cate="ngModel" style="margin-left: 0%; color:#75757d;padding:7px;">
               <option [value]="type" [selected]="type == 'Select Category'" disabled>Select Category</option>
               <option *ngFor="let cat of categorylist" [value]="cat.category_id">{{cat.title}}</option>
             </select>
             <span *ngIf="cate.errors && (cate.dirty || cate.touched || register.submitted)">Please select Category</span>
           </div>
          </div>
      

      </div>
        <!-- <div class="check-input"> 
          <input type="checkbox" name="checked" required [(ngModel)]="checked" #ck="ngModel" class="condition-term"/><span class="atc term-con">Accept Terms & Conditions</span>
          <span *ngIf="ck.errors && (ck.dirty || ck.touched || register.submitted)" class="reqri-sec">This field is required</span>
        </div> -->
        <span color="red">*All fields are mandatory</span>
        <input class="btn" value="SUBMIT" type="submit" />
      </form>
    </div>
  </div>

</ion-content>
