<app-admin-header></app-admin-header>

<ion-content>

<div class="container">
  <div class="ion-padding cms_edit_section">

    <h3>Create Template</h3>

    <form #jos="ngForm" id="loginform" (ngSubmit)="validatejob(jos)">

      <div class="jot_field_wrap">
        <label>Template title</label>
        <div class="cms_fiels">
          <!-- <input type="text" placeholder="Cms page title" name="title" required [(ngModel)]="title" #jst="ngModel" autocomplete="off" oninput="this.value=this.value.replace(' ','_');"/>
          <span *ngIf="jst.errors && (jst.dirty || jst.touched || jos.submitted)" class="field_error">Please input any title</span>      -->
          <select id="temTitle" name="title" [(ngModel)]="title">                          
            <option disabled>Template Title</option>
            <option *ngFor="let ttl of titleArrey" value="{{ttl.email_template_type_id}}">{{ttl.title}}</option>
          </select>
          <span *ngIf="title == 'Template Title' && jos.submitted" class="field_error">Please select Template Title</span>
        </div>
      </div>

      <div class="jot_field_wrap">
        <label>Template subject</label>
        <div class="cms_fiels">
          <input type="text" placeholder="Subject of the email" name="subject" required [(ngModel)]="subject" #sub="ngModel" autocomplete="off"/>
          <span *ngIf="sub.errors && (sub.dirty || sub.touched || jos.submitted)" class="field_error">Please input any subject</span>     
        </div>
      </div>

      <div class="jot_field_wrap">
        <ck-editor name="editorValue" [(ngModel)]="editorValue" id="editor" skin="moono-lisa" #det="ngModel" language="en" [fullPage]="true" required></ck-editor>
        <span *ngIf="det.errors && (det.dirty || det.touched || jos.submitted)" class="field_error">Please input template body</span>     
      </div>

      <div class="jot_field_wrap">
        <label>Active/Inactive</label>
        <select [(ngModel)]="status" name="status">
          <option disabled>Select status</option>
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
        <span *ngIf="status == 'Select status' && jos.submitted" class="field_error">Please select any status</span>
      </div>


      <div class="jot_btm_btn">
        <input value="Save"  type="submit" class="btn"/>
      </div>

    </form>
  </div>
</div>

</ion-content>

