@charset "utf-8";


@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../images/fonts/proximanova-reg-webfont.eot');
    src: url('../images/fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../images/fonts/proximanova-reg-webfont.woff2') format('woff2'),
         url('../images/fonts/proximanova-reg-webfont.woff') format('woff'),
         url('../images/fonts/proximanova-reg-webfont.ttf') format('truetype'),
         url('../images/fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant:normal;
}

@font-face {
    font-family: 'proxima_nova_ththin';
    src: url('../images/fonts/proximanova-thin-webfont.eot');
    src: url('../images/fonts/proximanova-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../images/fonts/proximanova-thin-webfont.woff2') format('woff2'),
         url('../images/fonts/proximanova-thin-webfont.woff') format('woff'),
         url('../images/fonts/proximanova-thin-webfont.ttf') format('truetype'),
         url('../images/fonts/proximanova-thin-webfont.svg#proxima_nova_ththin') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant:normal;
}


@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../images/fonts/proximanova-sbold-webfont.eot');
    src: url('../images/fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../images/fonts/proximanova-sbold-webfont.woff2') format('woff2'),
         url('../images/fonts/proximanova-sbold-webfont.woff') format('woff'),
         url('../images/fonts/proximanova-sbold-webfont.ttf') format('truetype'),
         url('../images/fonts/proximanova-sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant:normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../images/fonts/proximanova-bold-webfont.eot');
    src: url('../images/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../images/fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../images/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../images/fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../images/fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}





* { margin: 0; padding: 0; border: 0; }

a { color:#000; text-decoration:none;  font-family: 'proxima_nova_rgregular';}
a:hover { text-decoration:none; color:#ee552a;}
li { list-style:none; }
p { line-height:22px; padding:0 0 1.3em; }
img {
	border:none;
}
a img {
	border:none;
}
ul{list-style:none; margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{margin:0; padding:0;  font-family: 'proxima_nova_rgregular';}
/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; /*border-collapse:collapse;*/ border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             { margin:0 0 10px; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
/*sup           { font-size:1em; vertical-align:top; }*/

/* Lists */

ul,ol         { list-style:none; font-size: 12px; -webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 0; margin-left:0px;}

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }
.clear{clear:both; display:block;}
.clear40{clear:both; height:40px; display:block;}
.clear20{clear:both; height:20px; display:block;}

/* ======================================================================================= */








body { 
  font-family: 'proxima_nova_rgregular';
  font-size:12px;
  color:#000; overflow-x:hidden;
}




/*******************************************************************************grid*******************************/

.headerContainer{width:100%;  z-index:99; position:relative; position:fixed; top:0; background:#054774; padding:10px 15px;}
.logoArea{width:20%; float:left;}
.topnavArea{width:80%; float:left;}
/*.navbar{padding:0px; float:right; transition:ease; margin-right: 25px;}*/

.topHomeSearch{padding:0px; float:right; padding-top: 17px; position:relative;}
.topHomeSearch .searchToggle{float:right; background: url(../images/sprite.png) 4px top no-repeat; height:30px; width:30px; cursor:pointer; margin-top: 2px;}
.searchbox{float:left;}
#searchBox{display:none;  transition: display 0.6s ease-in-out; width: 400px; position:absolute; margin-top:44px; margin-left:-380px; background:rgba(255,255,255,0.7); border:1px solid #ebebeb; padding:30px;}

.searchbox input[type="text"]{ width: 70%;  padding: 10px;  background: #054774;  font-size: 16px;  color: #fff;  float: left;}
.searchbox input[type="button"]{    width: 30%;  padding: 11px 0px;  background: none;  float: left; background: #f36969; color:#fff; letter-spacing:4px; font-family: 'proxima_nova_rgbold'; font-size:14px;}

span.searchMarker{display:block; clear:both; width:20px; height:14px; background: url(../images/sprite.png) -50px 0px no-repeat; text-indent: -9999px;  position: absolute;  margin-top: -45px; right:0;}

h1.logo{text-align:left; font-size:18px; color:#fff; }


.bg-rfrBlue{background-color: #054774!important;}
ul.navbar-nav li.nav-item{display:inline-block;}

.navbar-light .navbar-nav .nav-link { color: rgba(255,255,255,2);  font-size: 16px;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{color: white;}
.navbar-expand-lg .navbar-nav .nav-link { padding-right: 1rem;  padding-left: 1rem;}


.bannerContainer{width:100%; clear:both; display:block; position:relative; margin-top: 0px;}
.bannerContainer .bannerImage{width:100%; clear:both; display:block; position:relative;}
.bannerContainer .bannerImage img{width:100%;}
.bannerOverlay{position: absolute;background:rgba(0,0,0,0.7); width:100%; height:100%; left:0; top:0; text-align:center;  }
.bannerOverlay h2{font-size:48px; color:#fff; font-family: 'proxima_nova_ththin'; padding-top: 60px; line-height: 74px;}
.bannerOverlay h2 span{color:#0693f5; font-family: 'proxima_nova_rgbold';}
.bannerOverlay h5{font-size:18px; color:#fff; font-family: 'proxima_nova_rgbold'; text-transform:uppercase;}
.hsForm{border:1px solid #fff; background: rgba(255,255,255,0.2); border-radius:6px; padding:20px; width:70%; margin:20px auto;}
.hsForm::after{content:""; clear:both; display:block; height:1px; width:100%;}
.hsForm input[type="text"]{ width:38%; margin-right:2%; padding: 10px 20px;  background: #fff;  border:none; border-radius:6px; font-size: 18px;  color: #242424;  float: left;}
.hsForm input[type="button"]{ width:20%; float:right; border-radius:6px;padding: 10px 20px;  background: #054774;   color:#fff; font-family: 'proxima_nova_rgbold'; font-size:18px;}
.hsForm input[type="button"]:hover{background: #0693f5; }
p.hsTags{text-align:left; width:60%; color:#0693f5; margin:0 auto; font-size:16px;}
p.hsTags a{text-align:left; color:#fff; display:inline-block; margin-right:10px;}
p.hsTags a::after{content:",";}
p.hsTags a:hover{color:#0693f5;}

.homeCatgories{padding-top: 100px;}
ul.hcList li{display:inline-block; margin-right:2%; width:18%; position:relative;}
ul.hcList li:nth-child(5n){margin-right:0; }
.hcImage{position:relative;}.hcImage img{width:100%; clear:both; display:block; position:relative;}
.hcOver{position: absolute;background:rgba(0,0,0,0.2); width:100%; height:100%; left:0; top:0; text-align:center;  }
ul.hcList li:hover .hcOver{background:rgba(5,71,116,0.9);}
.hcOver a{display:block;}
.hcOver h2{font-size:18px; color:#fff; font-family: 'proxima_nova_rgbold'; text-transform:uppercase; padding-top: 40px; line-height: 20px; letter-spacing:2px; }
ul.hcList li .hcOver h2.medical::before{content:""; clear:both; display:block; height:60px; width:40px; background: url(../images/sprite.png) -58px 0px no-repeat;    margin: 0 auto;}
ul.hcList li .hcOver h2.education::before{content:""; clear:both; display:block; height:60px; width:60px; background: url(../images/sprite.png) -118px 4px no-repeat;    margin: 0 auto;}
ul.hcList li .hcOver h2.engineering::before{content:""; clear:both; display:block; height:60px; width:60px; background: url(../images/sprite.png) -180px -5px no-repeat;    margin: 0 auto;}
ul.hcList li .hcOver h2.emiratization::before{content:""; clear:both; display:block; height:60px; width:60px; background: url(../images/sprite.png) -230px 0px no-repeat;    margin: 0 auto;}
ul.hcList li .hcOver h2.technology::before{content:""; clear:both; display:block; height:60px; width:60px; background: url(../images/sprite.png) -284px 4px no-repeat;    margin: 0 auto;}


/*********************************************banner over ends---------------------------*/


.headingBlock {margin: 40px auto;}
.hbLeft{color:#0693f5; text-align:left;}
.headingBlock h4{font-size:30px; color:#0693f5; font-family: 'proxima_nova_rgbold'; text-transform:uppercase;}
.headingBlock h4::after{content:""; height:3px; width:60px; background:#ebebeb; clear:both; display:block; margin:20px 0px;}

.recentJobs{margin-bottom: 60px;}
.recentJobs .headingBlock{width:50%; float:left;}
.recentJobs .recentJobTabs{width:50%; float:right;}
.recentJobTabs ul.rjTabs{float: right; margin-top: 25px;}
.recentJobTabs ul.rjTabs li{display:inline-block; padding:20px 30px; letter-spacing:2px; text-transform:uppercase; cursor:pointer; color:#242424; background:#fcfcfc; border:1px solid #f7f7f7; font-size:14px; font-family: 'proxima_nova_rgbold';}
.recentJobTabs ul.rjTabs li:nth-child(2), .recentJobTabs ul.rjTabs li:nth-child(3){border-left:1px solid #ebebeb;}
.recentJobTabs ul.rjTabs li:nth-child(1){border-radius:60px 0px 0px 60px;}
.recentJobTabs ul.rjTabs li:nth-child(3){border-radius:0px 60px 60px 0px;}
.recentJobTabs ul.rjTabs li:hover, .recentJobTabs ul.rjTabs li.active{background:#0693f5; color:#fff; }

ul.recentJobsList::after{content:""; clear:both; display:block; height:1px; width:100%;}
ul.recentJobsList li{width:23%; margin-right:2.5%; float:left; background:#fcfcfc; border:1px solid #ebebeb; margin-bottom:30px; text-align:left;}
ul.recentJobsList li:nth-child(4n){margin-right:0%;}
.rjTop{position:relative; padding:20px;}
.rjTop a.add2Wishlist{position:absolute; width:35px; height:30px; text-indent:-9999px; background: url(../images/sprite.png) 0px -54px no-repeat; top:10px; right:10px; display:inline-block;}
.rjTop a.add2Wishlist:hover{background: url(../images/sprite.png) 0px -88px no-repeat;}
.rjBtm{background:#f7f7f7; padding:20px; text-align:center;}
p.jobTitle{margin:0; padding:0;}
p.jobTitle a{font-size:20px; color:#0693f5; font-family: 'proxima_nova_rgbold'; margin:0; padding:0;}
p.jobExp{font-size:16px; color:#242424; font-family: 'proxima_nova_rgbold'; }
p.jobCompany{font-size:16px; color:#0693f5; margin: 0;}
p.jobPerks{font-size:16px; color:#747474; margin: 0;}
p.jobLocation{font-size:16px; color:#747474; margin: 0;}
p.jobLocation::before{content: "";  height: 30px;  width: 20px; background: url(../images/sprite.png) -40px -54px no-repeat;  float: left;  margin-right: 5px;
    margin-top: -5px;}

.rjBtm a{display:inline-block; background:#054774; color:#fff; font-size:18px; text-transform:uppercase; font-family: 'proxima_nova_rgbold'; border-radius:6px; padding: 10px 30px 8px; }

/**********************************************************************************************************/

.chooseRegister{margin-bottom: 60px;}
.chooseRegister::after{content:""; clear:both; display:block; height:1px; width:100%;}
.chooseRegister .crLeft{width:50%; float:left; position:relative;}
.chooseRegister .crRight{width:50%; float:left; position:relative;}
.chooseRegister .crImage img{width:100%;}
.chooseRegister .crLeft .crOver{position:absolute; top:0; left:0; background:rgba(5,71,116,0.8); width:100%; height:100%; text-align:center;  padding:70px 0px;}
.chooseRegister .crRight .crOver {position:absolute;  top:0; left:0;background:rgba(37,37,37,0.8); width:100%; height:100%; text-align:center; padding:70px 0px;}
.chooseRegister .crLeft .crOver h4, .chooseRegister .crRight .crOver h4{font-size:24px; color:#fff; font-family: 'proxima_nova_rgbold';text-transform:uppercase;  }
.chooseRegister .crLeft .crOver h4::before{content:""; height:50px; width:50px; clear:both; display:block; background: url(../images/sprite.png) -69px -60px no-repeat; margin:0 auto 20px;}
.chooseRegister .crRight .crOver h4::before{content:""; height:50px; width:50px; clear:both; display:block; background: url(../images/sprite.png) -139px -60px no-repeat; margin:0 auto 20px;}

.chooseRegister .crLeft .crOver h4::after, .chooseRegister .crRight .crOver h4::after{content:""; height:3px; width:50px; background:#0693f5; clear:both; display:block; margin:25px auto;}
.chooseRegister .crLeft .crOver p, .chooseRegister .crRight .crOver p{font-size:16px; color:#fff; width:70%; margin:20px auto;}
.chooseRegister .crLeft .crOver a{background:#0693f5; display:inline-block; padding:15px 30px; font-size:16px; color:#fff; font-family: 'proxima_nova_rgbold';text-transform:uppercase; border-radius:6px;}
.chooseRegister .crLeft .crOver a::before{content:"+"; line-height:20px; background:#fff; height:20px; width:20px; border-radius:50%; color:#0693f5; font-size:16px; float:left; margin-right:10px;}
.chooseRegister .crRight .crOver a{background:#f36969; display:inline-block; padding:15px 30px; font-size:16px; color:#fff; font-family: 'proxima_nova_rgbold';text-transform:uppercase; border-radius:6px;}
.chooseRegister .crRight .crOver a::before{content:"+"; line-height:20px; background:#fff; height:20px; width:20px; border-radius:50%; color:#f36969; font-size:16px; float:left; margin-right:10px;}

/*************************************************************************************************counterblock*********/


.counterBlock{margin-bottom: 60px;}
.counterBlock::after{content:""; clear:both; display:block; height:1px; width:100%;}


ul.counterBlockList li{width:25%; --float:left; display:inline-block; text-align:center; background:#23c0e9; padding: 40px 0px;}
ul.counterBlockList li .counterMatr{font-size:48px; color:#fff; font-family: 'proxima_nova_rgbold';}
ul.counterBlockList li .counterMatr::after{content:""; height:1px; width:50px; background:#fff; clear:both; display:block; margin: 0px auto 15px;}
ul.counterBlockList li .counterLabel{font-size:16px; color:#fff; text-transform:capitalize;}
ul.counterBlockList li:nth-child(2n){background:#22b5db;}

/***************************************************************************************whaht they say*******************/
.whatTheySay{margin-bottom:60px;}
.whatTheySay::after{content:""; clear:both; display:block; height:1px; width:100%;}

.wts.parallax{ position:relative; height: 440px;  background-position: 50% 50%;  background-repeat: no-repeat;  background-attachment: fixed;   -webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover;  background-size: cover; background-image: url("../images/n/wtsBG.jpg");}

.mlOver {background: rgba(243,105,105,0.9);  position: absolute;  width: 100%;  height: 440px;  z-index: 10; padding:30px 0px 40px; text-align:center; color:#fff;}
.mlOver h5{font-size:30px;   text-transform:uppercase; font-family: 'proxima_nova_rgbold'; margin:20px auto 5px;}
.mlOver p{font-size:16px;  text-transform:uppercase;}
ul.homeTestiList li{text-align:center;}
.testiMatr{font-size:16px; width:90%; margin:0 auto 20px; }
.testiImage{clear:both; display:block; text-align:center; margin-bottom:20px;}.testiImage img{border-radius:50%; margin:0 auto;}
.testiBy{font-size:14px; clear:both; display:block;}.testiBy span{clear:both; display:block;}

/**********************************************************************************************************/
.choosePackage{margin-bottom: 60px;}
.choosePackage::after{content:""; clear:both; display:block; height:1px; width:100%;}

ul.packageList{margin-bottom: 60px;}
ul.packageList::after{content:""; clear:both; display:block; height:1px; width:100%;}

ul.packageList li{width:28%; margin-right:8%; --float:left; display:inline-block; background:#054774; color:#fff; text-align:center; padding: 40px 0px; position:relative;}
ul.packageList li:nth-child(3){margin-right:0;}
ul.packageList li h5{font-size:20px;   text-transform:uppercase; font-family: 'proxima_nova_rgbold'; text-align:center; }
ul.packageList li h5::after{content:""; height:3px; width:50px; background:#0693f5; clear:both; display:block; margin: 15px auto 25px; }
ul.packageList li:nth-child(2) h5::after{background:#f36969;}ul.packageList li:nth-child(3) h5::after{background:#43f3b7;}
ul.packageList li ul.packPoints{clear:both; display:block; margin-top:20px; list-style:disc; font-size:14px;  margin-bottom:30px;}
ul.packageList li ul.packPoints li{display:block; clear:both;  text-align:left;  width:100%; padding: 0px; padding-left:30px; line-height: 28px;}
ul.packageList li ul.packPoints::after{content:""; clear:both; display:block; height:1px; width:100%;}
ul.packageList li a{background:#0693f5; color:#fff; text-transform:uppercase; font-size:16px; border-radius:6px; padding:10px 20px; display:inline-block; margin:10px auto; font-family: 'proxima_nova_rgbold';}
ul.packageList li:nth-child(2) a{background:#f36969;}ul.packageList li:nth-child(3) a{background:#43f3b7;}
ul.packageList li .packCost{font-size:20px;  color:#fff; width:70px; height:70px; border-radius:50%; background:#0693f5; margin:0 auto; text-transform:uppercase; font-family: 'proxima_nova_rgbold'; text-align:center;  padding-top: 25px; position: relative;  z-index: 9;}
ul.packageList li:nth-child(2) .packCost{background:#f36969;}ul.packageList li:nth-child(3) .packCost{background:#43f3b7;}
ul.packageList li ul.packPoints::before{content:""; clear:both; display:block; height:1px; width:100%; background:#0693f5; position: absolute;  z-index: 1;  margin-top: -50px;}

ul.packageList > li:nth-child(3)::before{content:""; height:85px; width:51px; background:url(../images/sprite.png) 0px -136px no-repeat; clear:both; display:block;  position:absolute; right:15px; top:0px;}
ul.packageList li ul.packPoints > li::before{content:""; height:15px; width:15px; background: url(../images/sprite.png)-359px 0px no-repeat;
    clear: both;
    display: block;
    float: left; margin-top: 3px; margin-right: 10px;}


/**********************************************************************************************************/
.footerArea{background:url(../images/n/ftrBG.jpg)center no-repeat; background-size: cover;}


.footerBlueBand{padding: 10px 0px 20px; background:rgba(0,174,239,0.9);}
.footerDarkBand{padding: 10px 0px 20px; background:rgba(5,71,116,0.9);}


.subscribeBlock h3{font-size:20px; color:#fff; margin-bottom:10px;  text-transform: uppercase; font-family: 'proxima_nova_rgbold'; padding-left: 70px; padding-top: 16px;}
.subscribeBlock h3::before{content: "";  height: 85px;    width: 75px;  background: url(../images/sprite.png) -59px -132px no-repeat;  clear: both;
    display: block;  position: absolute;  left: 0px;  top: 0px;}
.subscribeBlock p{font-size:16px; color:#fff; padding-bottom:0px; padding-left: 70px; }
  .subscribeBlock input[type="email"]{width:60% !important; float:left; border:none; background: #fff; padding:10px; font-size:14px; font-family: 'proxima_nova_rgregular' !important;     line-height: 24px; border-radius:4px; margin-right:20px;}
  .subscribeBlock input[type="submit"]{width: 30%; float: left;  border: none; padding: 9px 5px;  background: #f36969;  font-size: 18px;  font-weight: bold;  color: #fff;  text-align: center;  border:none; border-radius:4px;    text-transform: uppercase; font-family: 'proxima_nova_rgbold';}
  .subscribeBlock form{padding-top: 20px;  display: block;}  


h1.ftrLogo{text-align:center; padding:20px 0px; border-bottom:1px solid #0a609a; margin-bottom:40px;}
.footerDarkBand h3{font-size:18px; color:#fff; text-transform:uppercase; font-family: 'proxima_nova_rgbold';}
.footerDarkBand h3::after{content:""; height:3px; width:50px; background:#0693f5; clear:both; display:block; margin: 15px 0px 25px;}
.footerDarkBand p{color:#fff; font-size:14px; line-height:24px; width:90%;}
.footerDarkBand a {color:#fff; font-size:14px; text-transform:uppercase; font-family: 'proxima_nova_rgbold';}
ul.kstuffLinks{text-align:left;}
ul.kstuffLinks li{line-height:24px;}
ul.kstuffLinks li a{color:#fff; font-size:14px; text-transform:capitalize; font-family: 'proxima_nova_rgregular';}

.copyrightBar{border-top:1px solid #0a609a; margin-top:40px; padding:30px 0px 0px; font-size:12px; color:#fff; margin-top:30px; font-size:14px;}
ul.socialLinks{float:right; }
ul.socialLinks li{display:inline-block; margin:0px 5px;}

ul.socialLinks li a.fb{background: url(../images/sprite.png) -137px -140px no-repeat; text-indent: -9999px; height:25px; width:25px; display:inline-block;}
ul.socialLinks li a.tw{background: url(../images/sprite.png) -164px -140px no-repeat; text-indent: -9999px; height:25px; width:25px; display:inline-block;}
ul.socialLinks li a.gp{background: url(../images/sprite.png) -192px -140px no-repeat; text-indent: -9999px; height:25px; width:25px; display:inline-block;}
ul.socialLinks li a.li{background: url(../images/sprite.png) -220px -140px no-repeat; text-indent: -9999px; height:25px; width:25px; display:inline-block;}


/**********************************************************************************************************/








/****************************************************************************************************bootstrap navigation style removed here************/
.navbar{margin-bottom: 0px !important;}
.navbar-default .navbar-collapse{border:none !important; margin:0 !important; padding:0 !important;}
.navbar-default{background: none !important; border:none !important; }
.navbar-default .navbar-nav>.active>a{background:none !important; color:#fd7f07 !important;}
.navbar-default .navbar-nav>li{display:inline-block; text-align:center; float:none; padding-top:20px; padding-left: 0px !important; padding-right:13px;}
.navbar-default .navbar-nav>li>a{color:#fff !important; font-size:16px; text-transform:capitalize; padding-left: 8px !important; padding-top: 0 !important; padding-bottom: 0px !important; padding-right:8px !important; font-family: 'proxima_nova_rgregular'; }
.navbar-default .navbar-nav>li>a:hover{text-decoration:none; }
.navbar-default .navbar-nav>.open>a{background:none !important;}

.navbar-nav{margin: 0 auto;
    display: block;
    text-align: right; width: 100%;
   }
	
ul.dropdown-menu li{text-align:left;}

.navbar-default .navbar-nav>li.active {background: url(../images/activeNav.png) center 0 no-repeat;}
.navbar-default .navbar-nav>li:last-child{padding-right:0px;}

.navbar-nav::after{content:""; clear:both; display:block; height:1px; width:100%;}

/****************************************************************************************************bootstrap navigation style removed here************/


.mainContainer{padding:60px 0px;}
.signRegisterContainer{width:60%; margin:0 auto;}
ul.srTabs::after{content:""; clear:both; display:block; height:1px; width:100%;}
ul.srTabs li{display:inline-block; --float:left; margin-right:10px; font-size:14px; text-transform:uppercase; padding:15px 60px; color:#054774; background:#ebebeb; border-radius:4px 4px 0px 0px; font-family: 'proxima_nova_rgbold';  cursor:pointer; letter-spacing:3px;}
ul.srTabs li:hover, ul.srTabs li.active{color:#fff; background:#054774;}
.srMatr{background:#fcfcfc; border:1px solid #ebebeb; padding:30px; border-radius:0px 0px 6px 6px;}


.registerBlock{display:block;}.registerBlock::after{content:""; height:1px; width:100%; clear:both; display:block; }
.srMatr h5{font-size:24px;   text-transform:capitalize; font-family: 'proxima_nova_rgbold'; margin:0px auto 20px; text-align:center;}
.socialRegister{clear:both; display:block; margin:20px auto;}
.socialRegister a{display:inline-block; width:48%; text-align:center; border-radius:6px; padding: 15px 15px 10px; color:#fff; font-size:16px; font-family: 'proxima_nova_rgbold';}
.socialRegister a.regFacebook{margin-right:10px; background:#3b5998; margin-right:4%;}
.socialRegister a.regGoogle{margin-right:10px; background:#dd4b39; margin-right:0;}
.socialRegister a.regFacebook::before{content:""; height: 30px;  width: 30px;  background: url(../images/sprite.png) -195px -78px no-repeat; display:inline-block; animation:left;}
.socialRegister a.regGoogle::before{content:""; height: 30px;  width: 30px;  background: url(../images/sprite.png) -238px -78px no-repeat; display:inline-block; --float:left;}

.srOR{clear:both; display:block; margin: 20px auto 70px; text-align:center;}
.srOR span{width:40px; height:40px; border-radius:50%; text-transform:uppercase; color:#fff; background:#054774; display:inline-block; padding-top:8px; font-size:18px; }
.srOR::after{content:""; height:1px; width:40%; clear:both; display:block; border-top:1px solid #054774; margin: -20px auto 0px;}
.registerBlock input[type="text"], .registerBlock input[type="email"], .registerBlock input[type="tel"], .registerBlock input[type="password"]{background:#fff; border:1px solid #ebebeb; border-radius:6px; padding:15px; color:#242424; margin-bottom:10px; font-size:14px;}
.registerBlock input{width:48%; float:left; margin-right:4%;}
.registerBlock input:nth-child(2n){margin-right:0;}
.registerBlock input[type="checkbox"]{float:left; width: auto; margin-right: 10px;}
.registerBlock span.atc{float:left; font-size: 14px; margin-bottom: 30px;}
.registerBlock input[type="submit"]{width:auto; margin:20px auto; float: none;  text-align: center;  display: block; clear: both; padding:10px 20px; color:#fff; background:#054774; border-radius:4px; font-family: 'proxima_nova_rgbold'; font-size:16px; text-transform:uppercase;}

.signInBlock input{width:80%;clear:both; display:block; margin:0px auto 10px;}
.signInBlock input[type="text"], .signInBlock input[type="password"]{background:#fff; border:1px solid #ebebeb; border-radius:6px; padding:15px; color:#242424; margin-bottom:10px; font-size:14px;}
.signInBlock input[type="text"]{background: url(../images/sprite.png) -360px -160px no-repeat;  padding-left: 60px;}
.signInBlock input[type="password"]{background: url(../images/sprite.png) -360px -106px no-repeat;  padding-left: 60px;}
span.showPassword{display: inline-block;  position: absolute;  height: 40px;  width: 40px;  background: url(../images/sprite.png) -370px -70px no-repeat;
    right: 15px;  margin-top: -50px;  text-indent: -9999px;  cursor: pointer;}
.ipwd{position:relative;}
.sfFtr{display:block; clear:both; width: 80%;  margin: 0 auto;}
.signInBlock input[type="checkbox"]{float:left; width: auto; margin-right: 10px;}
.signInBlock span.atc{float:left; font-size: 14px; margin-bottom: 30px;}
a.forgotPassword{display:inline-block; --float:right; color:#1ab1eb; font-size:16px;}
.signInBlock input[type="submit"]{width:auto; margin:20px auto; float: none;  text-align: center;  display: block; clear: both; padding:10px 40px; color:#fff; background:#054774; border-radius:4px; font-family: 'proxima_nova_rgbold'; font-size:16px; text-transform:uppercase;}

/*************************************************************************SIGNIN REGISTER*********************************/

.searchResultHead{border-bottom:1px solid #f36969; margin-bottom:40px;}
.searchResults{font-size: 24px;  padding-top: 10px;}.searchResults span{color:#00aeef;}
/* a.upgradePlan{background:#f36969; color:#fff; font-size:16px; text-transform:uppercase; display:inline-block; --float:right; padding:15px 20px 13px; position: relative;}
 a.upgradePlan::before{content: "";
    position: absolute;
    clear: both;
    margin-left: -35.5%;
    margin-top: -15px;
    display: block;
    border-top: 26px solid transparent;
    border-bottom: 26px solid #f36969;
    border-left: 26px solid transparent;
    border-right: 26px solid #f36969;
} */
ul.candidateList::after, ul.candidateList li::after{content:""; clear:both; display:block; height:1px; width:100%;}
ul.candidateList li{clear:both; display:block;width:100%; margin-bottom:15px; border:1px solid #ebebeb; background:#fcfcfc; padding:20px;}
ul.candidateList li .clImage{width:20%; float:left;}ul.candidateList li .clImage img{width:75%; height:auto;}
ul.candidateList li .clMatr{width:55%; float:left;}ul.candidateList li .clAction{width:25%; float:left;}
ul.candidateList li .clMatr p.cName{clear:both; display:block; color:#0693f5; font-family: 'proxima_nova_rgbold';font-size:20px; text-transform:capitalize; margin:0; padding:0; line-height:30px;}
ul.candidateList li .clMatr p.cJob{clear:both; display:block; color:#242424; font-family: 'proxima_nova_rgbold';font-size:16px; text-transform:uppercase; margin:0; padding:0;}
ul.candidateList li .clMatr p.cExp{clear:both; display:block; color:#242424; font-size:14px; margin:0; padding:0; line-height:38px;}
ul.candidateList li .clAction a{text-align: center;  display: inline-block; clear: both; padding:10px 20px; color:#fff; background:#054774; border-radius:4px; font-family: 'proxima_nova_rgbold'; font-size:14px; text-transform:uppercase; float: right;  margin-top: 30px;
}

.filterBlock{border:1px solid #00aeef; background:#fcfcfc; margin-bottom:40px;}
.filterBlock h5{background:#00aeef; color:#fff; font-size:20px; padding:10px 15px;}
ul.fbList{padding:10px 15px;}ul.fbList li{line-height:40px; font-size:16px; cursor:pointer; color:#242424;}
ul.fbList li span{color:#00aeef;}
ul.fbList li::before{content:""; height:22px; width:22px; float:left; background: url(../images/sprite.png) 0px -230px no-repeat; margin-right: 10px;  margin-top: 8px;}
ul.fbList li.active::before, ul.fbList li:hover::before{background: url(../images/sprite.png) 0px -257px no-repeat; }

.addResumeCTA{margin-bottom:40px; clear:both; display:block; position: relative;}
.addResumeCTA .arcImage img{width:100%;}
.addResumeCTA .arcOver{position: absolute; top: 0; left: 0;  background: rgba(5,71,116,0.8);  width: 100%;  height: 100%;  text-align: center;  padding: 30px 15px; font-size:18px; color:#fff;}

.addResumeCTA .arcOver a{background:#0693f5; display:inline-block; padding:15px 30px; font-size:16px; color:#fff; font-family: 'proxima_nova_rgbold';text-transform:uppercase; border-radius:6px; margin-top: 20px;}
.addResumeCTA .arcOver a::before{content:"+"; line-height:20px; background:#fff; height:20px; width:20px; border-radius:50%; color:#0693f5; font-size:16px; float:left; margin-right:10px;}


/**************************************************************************Candidate Listing********************************/



@media (max-width:768px){

.logoArea { width: 50%;}
.logoArea h1.logo a img{ width: 100%;}	
.topnavArea {  width: 100%;  float: left;  margin-top: -30px;}
.navbar.navbar-default { width: 100%;  margin: 0;}
.navbar-toggle {  margin-top: 8px;}

.topHomeSearch{display:none;}
.navbar-default .navbar-nav>li{display: block;  clear: both; text-align: right;}


.bannerContainer{background: #054774;}.bannerOverlay{background: rgba(0,0,0,0); position:relative;}
.bannerOverlay h2 {padding-top: 20px; font-size: 24px; line-height: 46px;}
.bannerOverlay h5 { font-size: 14px;}
.hsForm {width:100%;}
.hsForm input[type="text"], .hsForm input[type="button"]{ width: 100%;  margin-bottom: 10px;}
p.hsTags {width: 100%;}
.homeCatgories {  padding-top: 20px;}
ul.hcList li {width: 45%; margin-bottom: 10px;}
.recentJobs .headingBlock {  width: 100%; text-align: center;}
.headingBlock h4::after{margin: 20px auto;}
.recentJobs .recentJobTabs { width: 100%;}
.recentJobTabs ul.rjTabs {  float: left;  margin-bottom: 25px;}
.recentJobTabs ul.rjTabs li{padding: 20px 10px;}
ul.recentJobsList li {  width: 45%;  margin-right: 5%;}
ul.recentJobsList li:nth-child(2n) {margin-right: 0;}
.chooseRegister .crLeft .crOver, .chooseRegister .crRight .crOver { position: relative;}
.wts.parallax { position: relative;  height: auto; }
.mlOver {position: relative; height: auto; padding: 30px 0px 100px;}
.signRegisterContainer { width: 100%;}
ul.srTabs li {padding: 15px 30px;}
a.upgradePlan::before{display:none;}

}





@media (max-width:450px){
	
	ul.hcList li {width: 100%; margin-bottom: 10px;}
   ul.recentJobsList li {  width: 100%;}
   .chooseRegister .crLeft, .chooseRegister .crRight { width: 100%;}
   ul.counterBlockList li { width: 50%;}
   ul.packageList li { width: 100%; margin-bottom: 20px;}
   ul.socialLinks {  float: left;  margin-top: 40px;}
   ul.navbar-nav li.nav-item {  display: block;}
   .footerDarkBand .col-md-3{margin-bottom: 40px;}
   .srMatr h5 { font-size: 18px;}
   .socialRegister a {width: 100%;  margin-bottom: 10px;}
   .signInBlock input {  width: 100%;}
   span.showPassword{right: -35px;}
   .sfFtr {width: 100%;}
   a.forgotPassword {float: left; margin-bottom: 20px;}
   .signInBlock span.atc {margin-bottom: 20px;}
   .registerBlock input { width: 100%;}
   ul.candidateList li .clMatr {   width: 80%;   float: left;}
   ul.candidateList li .clAction {  width: 100%;   float: left;}
}



@media (max-width:380px){

}


