<div class="container-fluid">

  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-rfrBlue">

    <ion-row class="ion-no-margin ion-no-padding" style="width:100%">

    <ion-col size-md="12"  size-lg="3" size-sm="12" size-xs="12" class="ion-no-margin ion-no-padding">
          <a class="navbar-brand" href="#"><img style="max-height:50px" src="../../assets/images/n/redford-recruiters-logo.png"/></a>
    </ion-col>


    <ion-col size-md="12"  size-lg="9" size-sm="12" size-xs="12">
    <button class="navbar-toggler navbar-dark toggle_menu01" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <a class="nav-link nav-actv" (click)="home();">Home <span class="sr-only">(current)</span></a>
    </li>
    <!-- <li class="nav-item">
    <a class="nav-link" (click)="jobListing()">Jobs</a>
    </li> 
    <li class="nav-item">
    <a class="nav-link" (click)="jsListing();">Job Post</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" (click)="jobPost();">Clients</a>
    </li> -->
    <li class="dropdown nav-item">
    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-expanded="false">Jobs<span class="caret"></span></a>
      <ul class="dropdown-menu" style="background:midnightblue" role="menu">
        <li><a class="nav-link" (click)="jobPost();">Job Posting</a></li>
        <li><a class="nav-link" (click)="jobListing();">Job Listing</a></li>
      </ul>
    </li>    
    <!-- <li class="dropdown nav-item">
    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-expanded="false">Signin<span class="caret"></span></a>
      <ul class="dropdown-menu" style="background:midnightblue" role="menu">
        <li><a class="nav-link" (click)="jsSignin()">Candidate</a></li>
        <li><a class="nav-link" (click)="clogin()">Client</a></li>
      </ul>
    </li>     -->
    <li class="nav-item">
    <a class="nav-link">Recruiting</a>
    </li>
    <!-- <li class="nav-item">
    <a class="nav-link" (click)="jsDetails()">Candidate Details</a>
    </li>   -->
    </ul>

    </div>   

    </ion-col>

  </ion-row>

</nav>  <!--headerContainer ends-->

</div>
