.dropdown:hover .dropdown-menu {display: block;}

@media only screen and (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link:hover {
        color: gray;
        cursor: pointer;
        background: none
    }
}