.truncate {
    width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jobicon i{
  font: normal normal normal 18px/1 FontAwesome !important;
  cursor: pointer;
}
