<app-admin-header></app-admin-header>

<ion-content>

  <div class="testionial_list_wrapper">




    <div class="container">


      <div class="cms_btn_top clears">
        <h2>Testimonial List</h2>
        <button (click)="add_testimonial()">Add Testimonial</button>
      </div>

      <div>
        <ul>
          <li *ngFor="let list of testlist">
            <ion-card class="ion-padding">

              <div class="testi_wrap44 clears">

              <div class="testi_prof_img12"><img src="{{list.user_image}}" style="height: 100px;width:100px;" ></div>
              
              <div class="testi_info121">
                <h3>{{list.user_name}} <span>({{list.status}})</span></h3>
                <h5>{{list.company_name}}</h5>
                <p>{{list.content}}</p>
                <small class="date"><i class="fa fa-calendar"></i>12/01/2020</small>
             </div>

            </div>

              <div class="j_corn">
                <i (click)="edit_testimonial(list.testimonial_id)" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <i (click)="DeleteConfirm(list.testimonial_id)" class="fa fa-trash" aria-hidden="true"></i>
              </div>
            </ion-card>
          </li>
        </ul>
      </div>
    </div>
  </div>

</ion-content>
