.body
{
    --background: #E9E9E9;
    z-index: -1;
    position: relative;
}
.dash
{
    margin-top: 10px;;
}
.smal_ser
{
    margin-top: 25px;
    height: 100%;
    border: 1px solid #C7C7D7;
    padding: 10px;

    --background: #ffffff !important;
}
.search_bar
{
    border: 1px solid #C7C7D7;
}
.smal_ser:hover
{
    box-shadow: 0 0 10px 5px #014574;

}
.sall_dis
{
    width: 50%; float: left;
    padding-top: 30px;
}
.sall_dis > h4,span 
{
    display: table-cell;
    vertical-align: middle;
    clear: both;
    display: inline-block;
    color: #014574;
    font-weight: 900 !important;
}
.imgae_sm_ser
{
    width: 50%;
    float: left;
}
.imgae_sm_ser > img
{
    float: left;
    vertical-align: middle;
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
    height: 80px;
}
.sall_dis img{
    height: 100px !important;
    overflow: hidden;
}
.pad_icons
{
    padding-left: 25px;
    padding-right: 25px;
}
.search_bar
{
    width: auto;
    --background: #fff;
    margin-left: 25px !important;
    margin-right: 25px !important;
    margin-top: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 8px 10px -6px;
}
.search_input
{
    font-size: 16px;
    width: 70%;
}
.search_text
{
    float: right;
    width: 20%;
}
ion-input
{
    --placeholder-color: #014574;
    --placeholder-opacity: 1;
    font-weight: 600;
}
.sall_dis > span
{
    font-size: 18px;
}
.toolbar-background,.toolbar-container
{
    --background: #014574 !important;
}
#demo {
    margin: 30px 0 50px 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.wrapper {
    display: inline-block;
    width: 180px;
    margin: 0 10px 0 0;
    height: 20px;
    position: relative;
}

.parent {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    border-radius: 5px;
    background: #F9F9F9;
    border: 1px solid #AAA;
    border-bottom: 1px solid #777;
    color: #282D31;
    font-weight: bold;
    z-index: 2;
    position: relative;
    -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
    -webkit-transition-delay: .8s;
    text-align: center;
}

.parent:hover,
.content:hover ~ .parent {
    background: #fff;
    -webkit-transition-delay: 0s, 0s, 0s;
}

.content:hover ~ .parent {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 0;
}

.content {
    position: absolute;
    top: 0;
    display: block;
    z-index: 1;
    height: 0;
    width: 180px;
    padding-top: 30px;
    -webkit-transition: height .5s ease;
    -webkit-transition-delay: .4s;
    border: 1px solid #777;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    z-index: 9999;
}

.wrapper:active .content {
    height: 123px;
    z-index: 3;
    -webkit-transition-delay: 0s;
}

.content:hover {
    height: 123px;
    z-index: 3;
    -webkit-transition-delay: 0s;
}


 .content ul {
    background: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: -99999;
}

.content ul a {
    text-decoration: none;
}
.content li:hover {
    background: #eee;
    color: #333;
}
.content li {
    list-style: none;
    text-align: left;
    color: #888;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    padding-left: 10px;
    border-top: 1px solid #ccc;
    z-index: -1;

}

.content li:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.list_item
{
    padding: 0px !important;
}
.list_item ion-item
{
    padding: 0px !important;
    margin: 0px !important;
}
.list_item ion-item:hover {

    --background: #014574 ;
    color: #ffffff;
}
.admin_title
{
    margin-left: 10px;
}