<app-admin-header></app-admin-header>

<ion-content><!--**************************************************************************************HEADER ENDS****************************-->
    
    <!-- <div class="pageHeadBlock">
        <div class="container">
      <h1 class="pageTitle">Dashboard</h1>
        <div class="beadcrumbs">
          <ul>
          <li><a style="color: white;">Home</a></li>
          <li>Dashboard</li>
          </ul>
        </div>
    </div>
  </div> -->
  
  <div class="mainContainer clientDashboard admindashboard">
    <div class="container">
      <div class="head_top01 clears">
        <h2>Dashboard</h2>
        <!-- <button *ngIf="!admin" (click)="addCompany()">ADD COMPANY</button> -->
      </div>
        <div class="clientDashboard_top">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="dash_block">
  
                  <div class="dash_icon01"><i class="fa fa-industry"></i></div>
                    <strong>{{company_count}}</strong>
                    <span>Total Companies</span>
                </div>
              </div>
  
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="dash_block">
  
                  <div class="dash_icon01"><i class="fa fa-cogs"></i></div>
                    <strong>{{job_count}}</strong>
                    <span>Total Jobs</span>
                </div>
              </div>
  
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="dash_block">
  
                  <div class="dash_icon01"><i class="fa fa-users"></i></div>
                    <strong>{{client_count}}</strong>
                    <span>Total Clients</span>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="dash_block">
  
                  <div class="dash_icon01"><i class="fa fa-users"></i></div>
                    <strong>{{candidate_count}}</strong>
                    <span>Total Candidates</span>
                </div>
              </div>

            </div>
        </div>
  
      <div  class="clientDashboard_top bottom">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6" (click)="gotoClient()">
              <div class="dash_block">
                <div class="dash_icon01"><i class="fa fa-briefcase"></i></div>
                  <!-- <strong>2</strong> -->
                  <span>Client</span>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-3 col-sm-6" (click)="gotoCompany()">
              <div class="dash_block">
                <div class="dash_icon01"><i class="fa fa-pencil-square-o"></i></div>
                  <!-- <strong>5</strong> -->
                  <span>Company</span>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-3 col-sm-6" (click)="gotoCandidate()">
              <div class="dash_block">
                <div class="dash_icon01"><i class="fa fa-user"></i></div>
                  <!-- <strong>9</strong> -->
                  <span>Candidate</span>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-3 col-sm-6" (click)="gotoProfile()">
              <div class="dash_block">
                <div class="dash_icon01"><i class="fa fa-user"></i></div>
                  <!-- <strong>9</strong> -->
                  <span>Profile</span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  </ion-content>
  
