<app-header *ngIf="service.login_type != 'admin'"></app-header>
<app-admin-header *ngIf="service.login_type == 'admin'"></app-admin-header>

<div *ngIf="service.login_type != 'admin'" class="pageHeadBlock"><div class="container">
  <h1 class="pageTitle">Shortlisted Candidates</h1>
  <div  class="beadcrumbs">
  <ul>
  <li><a routerLink="/client/dashboard" style="color: white;">Home</a></li>
  <li>Shortlisted Candidates</li>
  </ul>
  </div>
  </div>
  </div>

<ion-content>
  <div class="shortlist_section01">
  <div class="container">

    <!-- <div  class="searchResultHead clears">
      <div class="searchResults">Shortlisted Candidates</div>
      <a class="upgradePlan"><img src="../../../assets/images/red_bar01.png"></a>
    </div> -->

    <div class="head_top01 clears">
      <h2>Shortlisted Candidates</h2>
      <button (click)="gotoJobassigned()">SHORTLIST CANDIDATES</button>
    </div>

    <!-- <div class="shortlist_top_btn clears">
      <button (click)="gotoJobassigned()" class="addButton">SHORTLIST CANDIDATES</button>
    </div> -->
    
    <div>
      <div class="row">
        <div class="col-md-4">
          <h3>Job Details</h3>
          <div class="sht_job_dt">
            <div><p class="cName" *ngFor="let j of jobdetails">{{j.job_title}}</p></div>
            <ul>
            <li><p *ngFor="let j of jobdetails"><i class="fa fa-tag"></i> {{j.job_category_title}}</p></li>
            <li><p *ngFor="let j of jobdetails"><i class="fa fa-cogs"></i>{{j.skill_set}}</p></li>
            <li><p *ngFor="let list of jobdetails"><i class="fa fa-map-marker"></i>{{list.basic_info_city}}, {{list.basic_info_state}}, {{list.basic_info_cuntry}}</p></li>
            <li><p *ngFor="let list of jobdetails"><i class="fa fa-calendar"></i>{{list.date_opened | date: 'dd/MM/yyyy'}}</p></li>
            </ul>
          </div>  
        </div>
        <div class="col-md-8">
            <h3>Shortlisted Candidate List</h3>
            <div class="shortlist_wrapper">

            <div *ngIf="!count"><h5>No candidate assigned</h5></div>
            <div *ngIf="count">
              <ul class="candidateList candi_listbox121">
                <li *ngFor="let can of candidatelist">
                  <div class="last_box_icons clears">
                    <div class="dropdown nav-item comp_btn">
                      <i class="fa fa-info-circle" (click)="statusInfo(can.candidate_id)" style="text-transform: capitalize;" data-toggle="dropdown" role="button" aria-expanded="false"></i><small>Status info</small>
                      <div class="dropdown-menu dropNavList info_pop_up01" role="menu">
                        <p *ngIf="!statusHistory">No history found</p>


                        <div *ngIf="statusHistory" class="admin_pop">

                          <div class="close">X</div>
                        
                        
                          <div class="admin_top01 clears">
                            <span>Job Status History</span>
                            <!-- <b><i class="fa fa-globe"></i></b> -->
                          </div>
                          <div class="admin_pop_wrap">

                            <div *ngFor="let sh of statusHistory" class="admin_row21 clears">
                              <div class="pic15">
                                <i class="fa fa-user"></i>
                              </div>
                              <div class="admin_info01">
                                  <div class="title_date clears">
                                      <h2>{{sh.user_name}} ({{sh.created_by_type}})</h2>
                                      <span class="date">{{sh.createdAt | date:"dd/MM/yyyy hh:mm a"}}</span>
                                  </div>
                                  <div class="add_file"><i class="fa fa-paperclip"></i>  {{sh.status_title}}<span *ngIf="sh.sub_status_title"> - </span>{{sh.sub_status_title}}</div>
                                
                                 
                                  <!-- <div class="add_file"><i class="fa fa-paperclip"></i><small>Added file</small> PROFORMA INVOICE TDS -564.pdf</div> -->
                               

                           








                        
                              </div>
                            </div>


                          </div>
                        </div>


                        



                      </div>
                    </div>


                    <div (click)="editassignedCandidate(can.assigned_job_to_candidates_id)" class="comp_btn"><i class="fa fa-pencil-square-o"></i><small>Change Status</small></div>
                    <div (click)="DeleteConfirm(can.assigned_job_to_candidates_id)"  class="comp_btn"><i class="fa fa-trash"></i><small>Delete</small></div>
                  </div>
    
                 
                    <div>
                      <div class="clImage"><img src="{{can.candidate_picture}}" style="width: 100px;height: 100px;"></div>
                      <div class="clMatr">
                        <p class="cName" (click)="canDetails(can.candidate_id)" style="cursor: pointer;">{{can.name}}</p>
                        <div class="cand_row" style="margin:0"><span class="cJob"><i class="fa fa-tag"></i>{{can.candidate_category_title}}</span></div>
                        <div class="cExp"><p>{{can.total_experience}}</p></div>
                        <div class="cExp"><label><i class="fa fa-cogs"></i>Skills : {{can.candidate_skill}}</label></div>
                        <div class="status"><p><i class="fa fa-snowflake-o"></i> {{can.candidate_job_opening_status_title}}<span *ngIf="can.candidate_job_opening_status_title"> - {{can.candidate_job_opening_sub_status_title}}</span></p></div>
                       
                 
                      </div>
                    </div>
               
                </li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content>
