<app-header></app-header>
<ion-content>
  <div class="mainContainer">
    <div class="container">  
      
    <div class=" searchResultHead clears">
     
          <div class="searchResults">We found <span>{{totaldata}}</span> matches for you</div>
          <a class="upgradePlan"><img src="../../../assets/images/red_bar01.png"></a>
       
    </div>

     <div class="row">
     <div class="col-lg-3 col-md-4">
       <div class="filterBlock">
          <h5>Jobs By Category</h5>
          <ul class="fbblist" >
           <!-- <li class="active"> Medical <span>(214)</span></li> -->
           <li *ngFor="let byCat of job_list_by_cat; let i = index" ><label class="containerx">
             <input id="{{byCat.title}}" type="radio" name="typee" class="joblistradio" (click)="setcategory(byCat.category_id)" [checked]="id?byCat.category_id==id:i==0"/> {{byCat.title}}  <span class="checkmark"></span></label></li>
          </ul>
        </div>
        <div class="filterBlock">
         <h5>Jobs By Location</h5>
         <ul class="fbblist">
            <li *ngFor="let byLoc of job_list_by_loc">
              <label class="containerx" ><input type="radio" name="xyz" (click)="getjobbylocation(byLoc.job_location,$event)">
                Jobs in {{byLoc.job_location}}
                <span class="checkmark"></span>
                </label>
              </li>
           </ul>
       </div>
       
       <div class="addResumeCTA" *ngIf="dataService.userid">
       <div class="arcImage"><img src="../../../assets/images/n/cr1.jpg"/></div>
       <div class="arcOver">Get Best Matched Jobs On your Email. <br/> Add Resume NOW! <a (click)="uploadIMG()">Add Resume</a>
        <input type="file" id="videoInput" style="display: none;" (change)="changeImg($event.target)" accept="application/pdf">
      </div>
       </div>
     </div>
     
     <div class="col-lg-9 col-md-8">
       <h2 *ngIf="job_details_by_id.length==0">No jobs found</h2>
       <ul class="jobsList">
        <ion-virtual-scroll [items]="job_details_by_id">
         <li *virtualItem="let jobList">
            <div class="clMatr">
            <!-- <p id="{{jobList.job_id}}" (click)="addToFavourite(jobList.job_id)">ADD</p> -->
             <p class="cName" (click)="job_details(jobList.job_id)">{{jobList.job_title}}</p>
             <p class="postedonby" *ngIf="jobList.createdAt">Posted on <span class="pdate">{{jobList.createdAt | date : "dd.MM.yyyy"}}</span><span *ngIf="jobList.company_name"> by <a>{{jobList.company_name}}</a> </span></p>
            <div class="perkLoc">
              <p class="perk" *ngIf="jobList.person_salary"><span class="currency">{{jobList.currency}}</span> {{jobList.person_salary}} P.A</p>
              <p class="loc">{{jobList.basic_info_city}}, {{jobList.basic_info_state}}, {{jobList.basic_info_cuntry}}</p>
              <p class="timekind" *ngIf="jobList.job_type">{{jobList.job_type}}</p>
            </div>
            <div class="jobDesco" *ngIf="jobList.skill_set"><img src="../../../assets/images/n/innovation.png">{{jobList.skill_set}}</div>
            </div>
            <div class="clRight">
              <div class="wishicon" *ngIf="jobList.favourite_job=='Yes' && dataService.userid"><i  class="fa fa-heart" (click)="addtoFav(jobList.job_id)"></i></div>
              <div class="wishicon" *ngIf="jobList.favourite_job=='No' && dataService.userid"><i class="fa fa-heart-o" (click)="addtoFav(jobList.job_id)"></i></div>
              <div class="clImage"><img src="{{jobList.company_logo}}"/></div>
            </div>
         </li>
         </ion-virtual-scroll>
         <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>     
       </ul>
     </div>
     </div> 
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
