.list-header{
    border: 1px solid skyblue;
    padding: 12px;
    background: deepskyblue;
    color: white;
    font-size: 2em;
}

.list-body{
    border: 1px solid skyblue;
    padding: 0;

}
// .joblistradio [type="radio"]:checked::after
// {
//     content: '';
//     width: 12px;
//     height: 12px;
//     background: url(../../../assets/images/icon/tick.png);
//     position: absolute;
//     top: 4px;
//     left: 4px;
//     border-radius: 100%;
//     -webkit-transition: all 0.2s ease;
//     transition: all 0.2s ease;
// }
// .joblistradio[type="radio"]:not(:checked):after {
//     opacity: 0;
//     -webkit-transform: scale(0);
//     transform: scale(0);
// }
// .joblistradio[type="radio"]:checked::after {
//     opacity: 1;
//     -webkit-transform: scale(1);
//     transform: scale(1);
// }

// .joblistradio {
//     background-color: #e9ecee;
//     border: 2px solid #adb8c0;
//     color: #99a1a7;
//     padding: 11px;
// }
// .joblistradio:active, .joblistradio:checked + label:active {
//     background: url(../../../assets/images/icon/tick.png);
// }

// .joblistradio:before {
//     background: url(../../../assets/images/icon/tick.png);
//     border-radius: 50px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
//     content: " ";
//     font-size: 36px;
//     height: 8px;
//     left: 7px;
//     position: absolute;
//     top: 7px;
//     width: 8px;
//   }
//   .joblistradio input[type=radio] + label {
//     color: #ccc;
//     font-style: italic;
//   } 
//   .joblistradio input[type=radio]:checked + label {
//     color: #f00;
//     font-style: normal;
//   } 

.fbblist
{
    padding: 10px 15px;
}
ul.fbblist li
{
    line-height: 40;
}
ul.fbblist li label
{
    font-size: 16px;
    cursor: pointer;
    color: #242424;
}
.containerx {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .containerx input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #F47272;
  }
  
  /* On mouse-over, add a grey background color */
  .containerx:hover input ~ .checkmark {
    background-color: #F47272;
  }
  
  /* When the radio button is checked, add a blue background */
  .containerx input:checked ~ .checkmark {
    background-color: #F47272;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    position: absolute;
    display: none;
    content: "";
  }
  
  /* Show the indicator (dot/circle) when checked */
  .containerx input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .containerx .checkmark:after {
    top: 7px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  .wishicon i{
    font: normal normal normal 24px/1 FontAwesome !important;
    color: red;
    float: right;
    margin-right: 10px;
  }

  .jobDesco img{
    display:inline-block;
    vertical-align: middle;
    margin-right:5px
  }
  