<app-header></app-header>
<ion-content>  
  <!--<div class="banner-sec">
      <img _ngcontent-igl-c2="" src="../../assets/images/candidate.jpg" class="condidate-image">
  </div>-->
    <div class="mainContainer">
      <div class="container">
      
        <div class="signRegisterContainer"  *ngIf="active_div">
          <ul class="srTabs">
           <li class="active">Sign In</li><li (click)="registerDiv()">Register</li>
          </ul>
          <div class="srMatr">
           <div class="signInBlock">
              <h5>Sign In to your Redford account</h5>
             <div class="socialRegister"><a class="regFacebook" (click)="socialSignIn('facebook')">Sign In Using Facebook</a>
              <a class="regGoogle" (click)="socialSignIn('google')">Sign In Using Google</a>
              <!-- <a (click)="socialSignIn('linkedin')">Sign In Using Linkedin</a> -->
            </div>
             <div class="srOR"><span>OR</span></div>
             
             <!-- <form>
               <input type="text" placeholder="Userame"/>          
               <div class="ipwd"><input type="password" placeholder="Password"/><span class="showPassword">Show Password</span></div>
               <div class="sfFtr">
               <input type="checkbox"/><span class="atc">Keep me signed in</span> 
               <a href="#" class="forgotPassword">Forgot your password?</a>
               </div>
               
               
               <input type="submit" value="Sign In"/>
             </form> -->

             <form #login="ngForm" id="loginform" (ngSubmit)="validatelogin(login)">
              <div>
                <input type="text" placeholder="Username" name="uname" required [(ngModel)]="uname" #username="ngModel" autocomplete="off"/>
                <span *ngIf="username.errors && (username.dirty || username.touched || login.submitted)">Username is required</span>
              </div>            
              <div>
                <input type="password" placeholder="Password" name="upassword" required [(ngModel)]="upassword" #upass="ngModel" autocomplete="off"/>
                <span *ngIf="upass.errors && (upass.dirty || upass.touched || login.submitted)">Password is required.</span>
              </div>  

              <div class="loginp"><input type="checkbox" name="userchecked" [(ngModel)]="userchecked"/><span class="atc">Keep me signed in</span></div>
              <div class="logins"><a (click)="forgot_password()" class="forgotPassword" style="color: #1ab1eb;">Forgot your password?</a></div>
              
              <input value="Sign in" type="submit" class="btn"/>

            </form>
            <h2 *ngIf="errorMsg != ''" class="formerrorMsg mm">{{errorMsg}}</h2>


           </div><!--signInBlock ends-->
           
           <div class="registerBlock" style="display:none;">
             <h5>Register at Redford Recruiters</h5>
             <div class="socialRegister"><a href="#" class="regFacebook">Register Using Facebook</a><a href="#" class="regGoogle">Register Using Google</a></div>
             <div class="srOR"><span>OR</span></div>
             
             <form>
               <input type="text" placeholder="First Name"/><input type="text" placeholder="Last Name"/>
               <input type="email" placeholder="Email Address"/><input type="tel" placeholder="Phone Number"/>
               <input type="password" placeholder="Password"/><input type="password" placeholder="Confirm Password"/>
               <input type="checkbox"/><span class="atc">Accept Terms & Conditions</span>
               
               <input type="submit" value="Register Now">

             </form>
           </div><!--registerBlock ends-->
          </div>
        </div><!--container ends-->
  
        <div class="signRegisterContainer" *ngIf="!active_div">
          <ul class="srTabs">
           <li (click)="signinDiv()">Sign In</li><li class="active">Register</li>
          </ul>
          <div class="srMatr">
           <div class="signInBlock" style="display:none;">
              <h5>Sign In to your Redford account</h5>
             <div class="socialRegister"><a href="#" class="regFacebook">Sign In Using Facebook</a><a href="#" class="regGoogle">Sign In Using Google</a></div>
             <div class="srOR"><span>OR</span></div>
             
             <form>
               <input type="text" placeholder="Userame"/>          
               <input type="password" placeholder="Password"/><span class="showPassword">Show Password</span>
               <input type="checkbox"/><span class="atc">Keep me signed in</span> 
               <a href=""  class="forgotPassword">Forgot your password?</a>   
               
               <input type="submit" value="Register Now"/>

             </form>

           </div><!--signInBlock ends-->
           
           <div class="registerBlock">
             <h5>Register at Redford Recruiters</h5>
             <div class="socialRegister"><a  class="regFacebook" (click)="socialRegistration('facebook')">Register Using Facebook</a>
              <a class="regGoogle" (click)="socialRegistration('google')">Register Using Google</a></div>
             <div class="srOR"><span>OR</span></div>
             
             <form #register="ngForm" id="registerform" (ngSubmit)="validateuser(register)" autocomplete="off">
              <div class="form-cont">
                <input type="text" placeholder="First Name" name="firstname" required [(ngModel)]="firstname"  #fname="ngModel"  autocomplete="off"  style="text-transform: capitalize;" oninput="this.value=this.value.replace(/[^A-Za-z ]/g,'');"/>
                <span *ngIf="fname.errors && (fname.dirty || fname.touched || register.submitted)">First Name is required</span>
              </div>  
               <div class="form-cont">
                 <input type="text" placeholder="Last Name" name="lastname" required [(ngModel)]="lastname" #lname="ngModel" autocomplete="off" class="form-regis"  style="text-transform: capitalize;" oninput='this.value=this.value.replace(/[^A-Za-z ]/g,"");'/>
                 <span *ngIf="lname.errors && (lname.dirty || lname.touched || register.submitted)">Last Name is required</span>
                </div>
                <div class="clearfix"></div>
               <div class="form-sty">
                 <input type="email" placeholder="Email Address" name="email_reg" required [(ngModel)]="email_reg" autocomplete="off" #femail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
                 <span *ngIf="femail.errors && (femail.dirty || femail.touched || register.submitted)">Please input valid E-mail</span>
                </div> 
               <div class="form-sty">
                  <input type="text" placeholder="+971" name="ccode" required [(ngModel)]="ccode" #coo="ngModel" pattern="^(\+?\d{1,3}|\d{1,4})$">
                  <input type="text" placeholder="Phone Number" name="phone" required [(ngModel)]="phone" #pphone="ngModel" autocomplete="off" pattern="^[1-9][0-9]*$" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"/>
                  <span *ngIf="(pphone.errors && (pphone.dirty || pphone.touched || register.submitted)) || (coo.errors && (coo.dirty || coo.touched || register.submitted))">Phone Number & Country Code both are required</span>
                </div>
                <div class="form-cont">
                  <input type="password" placeholder="Password" name="password_reg" required [(ngModel)]="password_reg" #passw="ngModel" autocomplete="new-password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"/>
                  <span *ngIf="passw.errors && (passw.dirty || passw.touched || register.submitted)">Should contain at least one lowercase letter, one uppercase letter, one number with minimum 6 character</span>
                  <!-- <span *ngIf="passw.errors && (passw.dirty || passw.touched || register.submitted)">Password is required</span> -->
                </div>  
                <div class="form-cont">
                  <input type="password" placeholder="Confirm Password" name="cpassword"  [(ngModel)]="cpassword" class="conform-pass" autocomplete="new-password" (focusout)="focusOut()"/>
                  <span *ngIf="errorMsgS =='Password not same as confirm password!'">Password doesn't match confirmation</span>
                </div>  
               <div class="form-sty">
                 <select [(ngModel)]="category" name="category" required #cate="ngModel" style="margin-left: 0%;">
                    <option [value]="type" [selected]="type == 'Select Category'" disabled>Select Category</option>
                    <option *ngFor="let cat of categorylist" [value]="cat.category_id">{{cat.title}}</option>
                  </select>
                  <span *ngIf="cate.errors && (cate.dirty || cate.touched || register.submitted)">Please select Category</span>
                </div>  
               
               <!-- <input type="checkbox" name="checked" required [(ngModel)]="checked"/><span class="atc">Accept Terms & Conditions</span> -->
               <div class="check-input"> 
                <input type="checkbox" name="checked" required [(ngModel)]="checked" #ck="ngModel" class="condition-term"/><span class="atc term-con">Accept Terms & Conditions</span>
                <span *ngIf="ck.errors && (ck.dirty || ck.touched || register.submitted)" class="reqri-sec">This field is required</span>
                  </div> 
               
               <input type="submit" value="Register Now" class="btn" />
             </form>
             <h2 *ngIf="errorMsg != ''" class="formerrorMsg">{{errorMsg}}</h2>
             <!-- <h2 style="text-align: center; font-size: 18px; color: red;">{{errorMsgS}}</h2> -->
             <!-- <h2 *ngIf="errorMsgS == 'User successfully registered. You can login now.'" class="formSuccessMsg">{{errorMsgS}}</h2> -->
             <!-- <h2 *ngIf="errorMsgS != 'User successfully registered. You can login now.' && errorMsgS != ''" class="formerrorMsg vv">{{errorMsgS}}</h2> -->

           </div><!--registerBlock ends-->
          </div>
        </div>
  
      </div><!--container ends-->
     
    </div><!--mainContainer ends-->
    <app-footer></app-footer>
 
  </ion-content>
  