<ion-header>
  <ion-toolbar padding>
    <ion-button fill="clear" slot="end" size="small" (click)="closeModal()">
      <ion-icon name="close" class="color-cross" ></ion-icon>
    </ion-button>
    <ion-title>Complete your Registration.</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
      <form #register="ngForm" id="registerform" (ngSubmit)="validateuser(register)" class="form-sty">
        <h2 style="padding-top: 15px;">{{name}}</h2> 
        <div class="form-new-sec">
            <input type="text" placeholder="+971" name="ccode" required [(ngModel)]="ccode" class="code-sec">
            <input type="text" placeholder="Phone Number" name="phone" required [(ngModel)]="phone" #pphone="ngModel" autocomplete="off" class="input-seec" pattern="^[1-9][0-9]*$" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"/>
            <span *ngIf="pphone.errors && (pphone.dirty || pphone.touched || register.submitted)" class="required-sec">Phone Number & Country Code both are required</span>
          </div>
         <div class="sect-sec">
            <ion-label>Select Category</ion-label>
           <select [(ngModel)]="category" name="category" required #cate="ngModel" class="select-box-sty">
              <option [value]="type" [selected]="type == 'Select Category'" disabled>Select Category</option>
              <option *ngFor="let cat of categorylist" [value]="cat.category_id">{{cat.title}}</option>
            </select>
            <span *ngIf="category=='Select Category' || register.submitted" class="required-sec">Please Select Category</span>
          </div>  
         <!-- <input type="checkbox" name="checked" required [(ngModel)]="checked"/><span class="atc">Accept Terms & Conditions</span> -->
         
         <input type="submit" value="Save" class="btn btn-sty" />
       </form>
    </div>   

</ion-content>
