<app-admin-header></app-admin-header>

<ion-content>

  <div class="company-list-sec">
    <h1 class="clientListHead">Candidate List</h1>
    <div *ngFor="let cd of canList" class="sec-div-sty">
        <ion-row style="text-align: left;">
          <ion-col size="2">
            <div class="img-ion-sec">
            <ion-img src="{{cd.candidate_profile_picture}}" class="img-comp"></ion-img>
          </div>
          </ion-col>
          <ion-col size="10" class="company-text">
            <h2>{{cd.first_name}} {{cd.last_name}}</h2>
            <h3>{{cd.category_title}}</h3>
            <p>{{cd.username}}</p>
            <p>{{cd.mob_country_code}} {{cd.mobile}}</p>
            <ion-col class="button-sty clears">
              <ion-button style="--background: #054774;" (click)="canDetails(cd.candidate_id)">Candidate Details</ion-button><br>
              <!-- <ion-button  (click)="companyList(cd.client_id)">View Companies</ion-button>
              <ion-button>Job List</ion-button> -->
            </ion-col>
          </ion-col>
        </ion-row>
    </div>
    </div>

</ion-content>
