<app-admin-header></app-admin-header>

<ion-content>
    <!-- <div class="pageHeadBlock">
        <div class="container">
            <h1 class="pageTitle"> My Profile</h1>
            <div  class="beadcrumbs">
                <ul>
                <li><a routerLink="/client/dashboard" style="color: white;">Home</a></li>
                <li>Admin Profile</li>
                </ul>
            </div>
        </div>
    </div> -->

    <div class="profile_section010">
        <div class="container">
            <div  *ngIf="looking_edit" class="profile-view">
                <div class="profiledbBlock">
                  <h4 (click)="lookingForEdit();"><span style="background-color: #f4f6f9;">Admin Profile</span></h4>
                </div>
                <ion-card >    
                    <div class="dbBlockMatr">
                        <div class=" img-profile-sec">
                            <div class="img-profile-new"> 
                            <img src="{{showimg}}" class="img-profile">
                        </div>
                            <h3>{{name}}</h3>
                        </div>
                        <div class="sec-dev">
                            <h3>Personal Information</h3>
                        <ul class="lookingForList details-profile">
                            <li><p class="dbmLabel">Name </p><p class="dbmMatr" > {{name}}</p></li>
                            <!-- <li><p class="dbmLabel">Last Name </p><p class="dbmMatr" > {{showlastname}}</p></li>
                            <li><p class="dbmLabel">Gender </p><p class="dbmMatr" > {{showgender}}</p></li> -->
                            <li><p class="dbmLabel">Address </p><p class="dbmMatr" > {{showaddress}}</p></li>
                        </ul>
                            </div>
                        <div class="sec-dev">
                            <h3>Contact Information</h3>
                            <ul class="lookingForList details-profile">
                                    <li><p class="dbmLabel">Phone No </p><p class="dbmMatr" > {{showphonecode}} {{showphone}}</p></li>
                                    <li><p class="dbmLabel">Alt. Phone No </p><p class="dbmMatr" > {{showalterphonecode}} {{showalterphone}}</p></li>
                                <li><p class="dbmLabel">Email </p><p class="dbmMatr" > {{showmail}}</p></li>
                                <li><p class="dbmLabel">Alt. Email </p><p class="dbmMatr" > {{showaltermail}}</p></li>
                            </ul>
                        </div> 

                        <!-- <div class="sec-dev">
                            <h3>Other Information</h3>
                            <ul class="lookingForList details-profile">
                                <li><p class="dbmLabel">Nationality </p><p class="dbmMatr" > {{shownationality}}</p></li>
                                <li><p class="dbmLabel">City </p><p class="dbmMatr" > {{showcity}}</p></li>
                                <li><p class="dbmLabel">State </p><p class="dbmMatr" > {{showstate}}</p></li>
                                <li><p class="dbmLabel">Country </p><p class="dbmMatr" > {{showcountry}}</p></li>  
                            </ul> 
                        </div> -->
                        
                    </div><!--dbBlockMatr ends-->
                </ion-card> 
            </div>
            <div  *ngIf="!looking_edit" class="my-profile-sec">
                <form #job="ngForm" id="jobform" (ngSubmit)="validate_profile(job)" class="inner-form profile_form01 prof_edit012">
                        <div _ngcontent-bvl-c1="" class="profiledbBlock"><h4 _ngcontent-bvl-c1="">Admin Profile</h4></div>     
                    <div class="dbBlockMatr dbmEditable" style="display: block;">
                        <!-- <p style="color: red;"> * included are mendatory!</p> -->
                        <div class="client-edit">
                            <div class="blank_img012">
                            <img *ngIf="rdrRslt" src="{{rdrRslt}}" class="img-client-profile">
                            </div>
                            <a class="addCV hover" (click)="uploadIMG()"> <ion-icon ios="ios-create" md="md-create" class="edit-icon"></ion-icon></a>
                            <input type="file" id="videoInput" class="input-sty" style="display:none;" (change)="changeImg($event.target)" accept="image/jpeg,image/png">
                        </div>
                        <ul class="lookingForList">
                            <li><p class="dbmLabel">Full Name <span class="error">*</span></p><p class="dbmMatr">
                            <input type="text" placeholder="" [(ngModel)]="name" class="input-sty" name="name" required #fnam="ngModel" oninput="this.value=this.value.replace(/[^A-Za-z ]/g,'');"/>
                            <span *ngIf="fnam.errors && (fnam.dirty || fnam.touched || job.submitted)" class="error">Name is required</span>
                            </p></li>
                            
                            <li><p class="dbmLabel">Address <span class="error">*</span></p>
                                <p class="dbmMatr">
                                <textarea style="height: 41px; padding:6px 12px;" type="text" placeholder="" [(ngModel)]="address" name="address" required #addr="ngModel" class="input-sty"></textarea>
                                <span *ngIf="addr.errors && (addr.dirty || addr.touched || job.submitted)" class="error">Address is required</span>
                            </p></li>
                            
                            <!-- <li><p class="dbmLabel">Last Name <span class="error">*</span></p>
                            <p class="dbmMatr">
                                <input type="text" placeholder="" [(ngModel)]="lastname" #lnam="ngModel" class="input-sty" name="lastname" required oninput="this.value=this.value.replace(/[^A-Za-z ]/g,'');"/>
                                <span *ngIf="lnam.errors && (lnam.dirty || lnam.touched || job.submitted)" class="error">Last Name is required</span>
                            </p></li> -->
                            
                            <!-- <li><p class="dbmLabel">Gender <span class="error">*</span></p><p class="dbmMatr">
                                <select name="gender" [(ngModel)]="gender" #gend="ngModel" required>
                                    <option [value]="gen" [selected]="gen == 'Select Gender'" disabled>Select Gender</option>
                                    <option>Female</option> <option>Male</option> <option>Other</option>
                                </select>
                                <span *ngIf="gend.errors && (gend.dirty || gend.touched || job.submitted)" class="error">Please Select Gender</span>
                            </p></li>  -->           
                            
                            <li><p class="dbmLabel">Phone No <span class="error">*</span></p><p class="dbmMatr">
                                <input type="text" placeholder="+971" name="phonecode" [(ngModel)]="phonecode" required #coo="ngModel" class="input-sty1" pattern="^(\+?\d{1,3}|\d{1,4})$">
                                <input type="text" placeholder="" [(ngModel)]="phone" name="phone" required #pho="ngModel" class="input-sty2" pattern="^[1-9][0-9]*$" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"/>
                                <span *ngIf="(pho.errors && (pho.dirty || pho.touched || job.submitted)) || (coo.errors && (coo.dirty || coo.touched || job.submitted))" class="error">Phone Number & Country Code both are required</span>
                            </p></li>
                            
                            <li><p class="dbmLabel">Alternate Phone No.</p><p class="dbmMatr">
                                    <input type="text" placeholder="+971" name="allphonecode" [(ngModel)]="allphonecode" #alcoo="ngModel" class="input-sty1" pattern="^(\+?\d{1,3}|\d{1,4})$">
                                    <input type="text" placeholder="" [(ngModel)]="allphone" name="allphone" pattern="^[1-9][0-9]*$" class="input-sty2" #alpho="ngModel" pattern="^[1-9][0-9]*$" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"/>
                                    <span *ngIf="(alpho.errors && (alpho.dirty || alpho.touched || job.submitted)) " class="error">Alternative Phone Number & Country Code should be valid</span>
                            </p>
                        </li>

                            <li><p class="dbmLabel">Email</p><p class="dbmMatr">
                                <input type="text" placeholder="" [(ngModel)]="email" name="email" class="input-sty" value="{{email}}" disabled />                        
                            </p></li>

                            <li><p class="dbmLabel">Alternate Email</p><p class="dbmMatr">
                                <input type="text" placeholder="" [(ngModel)]="allemail" name="allemail" #aaemail="ngModel" class="input-sty" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
                                <span *ngIf="aaemail.errors && (aaemail.dirty || aaemail.touched || job.submitted)" class="error">Please input valid Alternative E-mail</span>
                            </p></li>

                            <!-- <li><p class="dbmLabel">Nationality <span class="error">*</span></p>
                                <p class="dbmMatr"><select name= "Nationality" [(ngModel)]="Nationality" #nat="ngModel" required >
                                    <option [value]="nanty" [selected]="nanty == 'Select Nationality'" disibled>Select Nationality</option>
                                  <option *ngFor="let nan of nationlist" [value]="nan">{{nan}}</option>
                                </select>
                                <span *ngIf="nat.errors && (nat.dirty || nat.touched || job.submitted)" class="error">Please Select Nationality</span>
                            </p>
                                
                            </li> -->
                            
                            <!-- <li><p class="dbmLabel">Country <span class="error">*</span></p>
                                <p class="dbmMatr"><select name="comCountry" [(ngModel)]="comCountry" required #counn="ngModel" class="ccat form-sty" (change)="onChange($event.target.value)" >
                                    <option [value]="country" [selected]="country == 'Select Country'" disabled>Select Country</option>
                                    <option *ngFor='let t of countrylist' [value]="t.country">{{t.country}}</option>
                                </select>
                                <span *ngIf="counn.errors && (counn.dirty || counn.touched || job.submitted)" class="error">Please Select Country</span>
                                </p>

                                </li>
                            
                                <li><p class="dbmLabel">State <span class="error">*</span></p>
                                    <p class="dbmMatr"><select style="padding: 4px;" name="comState" [(ngModel)]="comState" required #sssss="ngModel" class="ccat form-sty">
                                    <option [value]="state" [selected]="state == 'Select State'" disabled>Select State</option>
                                    <option *ngFor='let ttt of statelist' [value]="ttt">{{ttt}}</option>
                                </select>
                                <span *ngIf="sssss.errors && (sssss.dirty || sssss.touched || job.submitted)" class="error">Please Select State</span>
                                </p>
                            </li>

                            <li><p class="dbmLabel">City</p>
                                <p class="dbmMatr">
                                <input type="text" placeholder="" [(ngModel)]="city" class="input-sty" name="city"/>
                            </p></li> -->
                        </ul>
                        <div class="button-cliebt-sce">
                        <input type="submit" value="Update" class="updateBlock" />
                        <input type="button" value="Cancel" class="updateBlock" (click)="cancel_lookingfor(job)"/>
                    </div>
                    </div><!--dbBlockMatr dbmEditable ends-->
                </form>
                <div class="divd-sec-border">
                        <ion-card class="password-sec002">
                                <div _ngcontent-bvl-c1="" class="profiledbBlock"><h4 _ngcontent-bvl-c1=""><span _ngcontent-bvl-c1="">Change Password</span></h4></div>
                            <form class="input-pass-sec" #pass="ngForm" id="passform" (ngSubmit)="validate_password(pass)">
                                <ul>
                                    <li>
                                        <p class="dbmLabel">Current Password</p>
                                        <p>
                                            <input type="password" name="currentpass" [(ngModel)]="currentpass" #cunpas="ngModel" class="input-sty password-current" required/>
                                            <!-- <span class="requied">Current Password is required</span> -->
                                            <span *ngIf="cunpas.errors && (cunpas.dirty || cunpas.touched)" class="requied">Current Password is required</span>
                                   </p>
        
                                    </li>
                                    <li>
                                        <p class="dbmLabel">New Password</p>
                                        <p>
                                            <input type="password" name="newpass" [(ngModel)]="newpass" #newpas="ngModel"  class="input-sty password-current" required  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"/>
                                            <span style="color:red" *ngIf="newpas.errors && (newpas.dirty || newpas.touched || pass.submitted)">Should contain at least one lowercase letter, one uppercase letter, one number with minimum 6 character</span>
                                            <!-- <span class="requied" *ngIf="newpas.errors && (newpas.dirty || newpas.touched)">New Password is required</span> -->
                                            <!-- <span *ngIf="amail.errors && (amail.dirty || amail.touched)" class="error">Please input valid email.</span> -->
                                    </p>
        
                                    </li>
                                    <li>
                                        <p class="dbmLabel">Confirm Password</p>
                                        <p>
                                            <input type="password" name="confpas" [(ngModel)]="confpas" #cmp="ngModel" class="input-sty password-current" (focusout)="focusOut()" required/>
                                            <span class="requied" *ngIf="errorMsgS || (cmp.errors && (cmp.dirty || cmp.touched || pass.submitted))">Password doesn't match confirmation</span>
                                    </p>
        
                                    </li>
                                </ul>
                                <div class="button-cliebt-sce">
                                        <input type="submit" value="Update" class="updateBlock btn"/>
                                    </div>
                            </form>
                        </ion-card>
                    </div>
            </div>

        </div>
    </div>

    <div class="clearfix"></div>
    <app-footer></app-footer> 
</ion-content>

