<app-admin-header></app-admin-header>

<ion-content>
  <div class="ion-margin">
    <div class="container jot_section">
      <div class="head_top01 clears">
        <h2 style="margin: 0;">Candidate Status</h2>
        <!-- <button routerLink="/client/company">ADD COMPANY</button> -->
      </div>
    <ion-row >
      <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <div class="cj_left_col">
            <h2>Candidate Application Status</h2>
            <div class="jot_content">
                <form #jos="ngForm" id="josform" (ngSubmit)="validatejob(jos)">

                    <div class="jot_field_wrap">
                      <label>Application Status title</label>
                      <div class="row">
                        <div class="col-md-12">
                          <input type="text" placeholder="Status title" name="jobstatustitle" required [(ngModel)]="jobstatustitle" #jst="ngModel" autocomplete="off"/>
                          <span *ngIf="jst.errors && (jst.dirty || jst.touched || jos.submitted)" class="field_error">Application Status Title is required</span> 
                        </div>
                      </div> 
                    </div>

          

                    <div class="jot_field_wrap">
                        
                        <div class="row">

                          <div class="col-md-6">
                            <label>Sequence Number</label>
                            <input type="text" placeholder="Sequence Number" name="sequence" required [(ngModel)]="sequence" #sst="ngModel" autocomplete="off" pattern="^[1-9][0-9]*$" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"/>
                            <span *ngIf="sst.errors && (sst.dirty || sst.touched || jos.submitted)" class="field_error">Sequence Number is required</span>  
                          </div>

                          <div class="col-md-6">
                            <label>Active/Inactive</label>
                            <select [(ngModel)]="status" name="status">
                              <option disabled>Select Status</option>
                              <option value="active">Active</option>
                              <option value="inactive">Inactive</option>
                            </select>
                            <span *ngIf="status == 'Select Status' && jos.submitted" class="field_error">This field is required</span>
                          </div>

                        </div>
                         
                    </div>  

                    <div class="jot_btm_btn">
                      <input value="Save" *ngIf="!candidate_jobstatusid" type="submit" class="btn"/>
                      <input value="Update" *ngIf="candidate_jobstatusid" type="submit" class="btn"/>
                    </div>
    
                  </form>
            </div>
        </div>
        <div class="cj_left_col">
            <h2>Candidate Application Sub-status</h2>
            <div class="jot_content">
                <form #cjs="ngForm" id="cjsform" (ngSubmit)="validatesubstatus(cjs)">
                    <div class="jot_field_wrap">

                      <div class="row">
                        <div class="col-md-6">
                          <label>Status Title</label>
                          <select [(ngModel)]="mainstatus" name="mainstatus">
                            <option disabled>Select Status Title</option>
                            <option *ngFor='let tt of mainstatuslist' value="{{tt.candidate_job_opening_status_id}}">{{tt.title}}</option>
                          </select>
                          <span *ngIf="mainstatus == 'Select Status Title' && cjs.submitted" class="field_error">Please Select Status Title</span>
                        </div>

                        <div class="col-md-6">
                            <label>Sub-status title</label>
                            <input type="text" placeholder="Sub-status title" name="job_sub_statustitle" required [(ngModel)]="job_sub_statustitle" #jsttt="ngModel" autocomplete="off"/>
                            <span *ngIf="jsttt.errors && (jsttt.dirty || jsttt.touched || cjs.submitted)" class="field_error">Application Sub-Status is required</span>     
                        </div>

                      </div>
                        
                    </div>


                   

                    <div class="jot_field_wrap">

                      

                      <div class="row">

                        <div class="col-md-6">
                          <label>Sequence Number</label>
                          <input type="text" placeholder="Sequence Number" name="sequen" required [(ngModel)]="sequen" #ssttt="ngModel" autocomplete="off" pattern="^[1-9][0-9]*$" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"/>
                          <span *ngIf="ssttt.errors && (ssttt.dirty || ssttt.touched || cjs.submitted)" class="field_error">Sequence Number is required</span>     
                        </div>

                        <div class="col-md-6">
                          <label>Active/Inactive</label>
                          <select [(ngModel)]="sub_status" name="sub_status">
                            <option disabled>Select Status</option>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                          </select>
                          <span *ngIf="sub_status == 'Select Status' && cjs.submitted" class="field_error"> This field is mendatory</span>
                        </div>

                        
                      </div>
                    
                    </div>

                 

                    <div class="jot_btm_btn">
                      <input value="Save" *ngIf="!candidate_substatusid"  type="submit" class="btn"/>
                      <input value="Update" *ngIf="candidate_substatusid"  type="submit" class="btn"/>
                    </div>
    
                  </form>
            </div>
        </div>
        
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <h2> Candidate Application Status List</h2>
          <div class="jb_st_wrap">
            <ul class="jobicon09">
              <li *ngFor="let list of jobstatuslist; let i = index;">
                <ion-card>
                  <div class="jt_status_list clears">

                    <div class="jt_status_left"> 
                      <h4><small>({{i+1}})</small> {{list.title}}  <small class="active">{{list.status}} </small></h4>
                    </div>

                    <div class="j_corn">
                    <i (click)="edit_jobstatus(list.candidate_job_opening_status_id,list.title,list.status,list.sequence)" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <i (click)="DeleteConfirm(list.candidate_job_opening_status_id)" class="fa fa-trash" aria-hidden="true"></i>
                    </div>

                </div>

                  <div class="cj_sub_list">
                      <ul>
                          <li *ngFor="let m of list.sub_status_list; let i = index;" class="jt_status_list clears">

                            <div class="jt_status_left">
                                <p><small>({{i+1}})</small> {{m.title}} <small class="active">{{m.status}} </small> </p>
                            </div>
                            
                            <div class="j_corn">
                              <i  class="fa fa-pencil" aria-hidden="true" (click)="editSubstatus(m.candidate_job_opening_status_id,m.candidate_job_opening_sub_status_id,m.title,m.status,m.sequence)"></i>
                              <i class="fa fa-times" aria-hidden="true" (click)="DeleteSubstatus(m.candidate_job_opening_sub_status_id)"></i>
                            </div>

                          </li>
                        </ul>
                  </div>
                  
                  
                </ion-card>
              </li>
            </ul>
          </div>
      </ion-col>
    </ion-row>
    </div>
  </div>

</ion-content>
