
<app-header></app-header>
<ion-content>

  <div class="container">
  <div class="jobsearch_section01">

    <div class="homeSearch" style="background-color: teal;">
      <!-- <h2><span>3,000+</span> Browse Jobs</h2><h5>CONNECTING REAL TALENT TO INDUSTRIES</h5> -->
      <div class="hsForm">
        <input [(ngModel)]="keyword" type="text" name="" placeholder="Keyword e.g. UI Developer"/>
        <input [(ngModel)]="town" type="text" name="" placeholder="Town e.g. Riyadh"/>
        <input type="button" name="" value="Search" (click)="search()"/>
      </div>
    </div>

    <div *ngIf="!jobcount" _ngcontent-yfi-c6="" class="searchResultHead clears"><div _ngcontent-yfi-c6="" class="searchResults" *ngIf="!errorMsgOff">No jobs found</div><a _ngcontent-yfi-c6="" class="upgradePlan"><img _ngcontent-yfi-c6="" src="../../../assets/images/red_bar01.png"></a></div>
      <!-- <div *ngIf="!jobcount"><h2 class="not_found">No jobs found</h2></div> -->

    <div *ngIf="jobcount">

      <div class=" searchResultHead clears">
     
        <div class="searchResults">We found <span>{{jobcount}}</span> matches for you</div>
        <a class="upgradePlan"><img src="../../../assets/images/red_bar01.png"></a>
     
      </div>

      
      <!-- <h2>We found  jobs for you</h2> -->
        <ul class="jobsList">
          <li *ngFor="let jobList of job_details_by_id">
             <div class="clMatr">
              <p class="cName" (click)="job_details(jobList.job_id)">{{jobList.job_title}}</p>
              <p class="postedonby"><i class="fa fa-calendar"></i>Posted on <span class="pdate">{{jobList.createdAt | date : "dd.MM.yyyy"}}</span><span *ngIf="jobList.company_name"> by <a>{{jobList.company_name}}</a></span></p>
             <div class="perkLoc">
               <p class="perk" *ngIf="jobList.person_salary"><i class="fa fa-money"></i><span class="currency">{{jobList.currency}}</span> {{jobList.person_salary}} P.A</p>
               <p class="loc">{{jobList.basic_info_city}}, {{jobList.basic_info_state}}, {{jobList.basic_info_cuntry}}</p>
               <p class="timekind">{{jobList.job_type}}</p>
             </div>
             <div class="jobDesco">{{jobList.job_description}}</div>
             <div class="jobDesco"><img src="../../../assets/images/n/innovation.png">{{jobList.skill_set}}</div>
             </div>
             <div class="clRight"><div class="clImage"><img src="{{jobList.company_logo}}"/></div></div>
          </li>
          
        </ul>
        <!-- <h2 *ngIf="job_details_by_id.length==0" class="formerrorMsg mm">No result found.</h2> -->
    </div>
  </div>
</div>
    <app-footer></app-footer>

</ion-content>
