<app-admin-header></app-admin-header>

<ion-content>

<div class="container">
  <div class="ion-padding cms_edit_section who_we">

<h3 style="text-transform: uppercase;">{{title}}</h3>

<div class="who_we_wrap">
      <form #jos="ngForm" id="loginform" (ngSubmit)="validateform(jos)">

        <div class="jot_field_wrap">
          <label>Title</label>
          <div class="cms_fiels">
            <input type="text" placeholder="Title" name="title" required [(ngModel)]="title" #jst="ngModel" autocomplete="off"/>
            <span *ngIf="jst.errors && (jst.dirty || jst.touched || jos.submitted)" class="field_error">Please input any title</span>     
          </div>
        </div>

        <div class="jot_field_wrap">
          <label>Content</label>
          <div class="cms_fiels">
            <textarea name="editorValue" [(ngModel)]="content" id="editor" skin="moono-lisa" #det="ngModel" language="en" required></textarea>
            <span *ngIf="det.errors && (det.dirty || det.touched || jos.submitted)" class="field_error">Please input any description</span>     
          </div>
        </div>

        <div class="jot_field_wrap">

          <label>Status</label>
          <div class="cms_fiels">
          <select [(ngModel)]="status" name="status">
            <option disabled>Select status</option>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
          <span *ngIf="status == 'Select status' && jos.submitted" class="field_error"> Please select any status</span>
        </div>

        </div>

        <div class="jot_btm_btn">
          <input value="Save"  type="submit" class="btn"/>
        </div>

      </form>
</div>

  </div>
</div>

</ion-content>
