<div class="container-fluid bg-rfrBlue">
<nav class="navbar sticky-top navbar-expand-lg navbar-light  navbar-hover">





  <ion-row style="width:100%">

    <ion-col size-md="12"  size-lg="3" size-sm="12" size-xs="12" class="ion-no-margin ion-no-padding">
            <a style="padding:0; margin:0" class="navbar-brand" href="#"><img style="max-height:50px"  src="{{service.mainLogo}}"/></a>
    </ion-col>

    <ion-col size-md="12"  size-lg="9" size-sm="12" size-xs="12">
      <button class="navbar-toggler navbar-dark toggle_menu01" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse"  id="navbarSupportedContent">
 
        <!-- <ul class="navbar-nav mr-auto header-menu">
          <li class="nav-item active">
            <a class="nav-link nav-actv" (click)="clogin()" *ngIf="!dataserv.userid">For Employers<span class="sr-only">(current)</span></a>
          </li>
      
          <li _ngcontent-swn-c2="" class="nav-item" *ngIf="!dataserv.userid"><a _ngcontent-swn-c2="" class="nav-link" (click)="post_job()">Post a Job</a></li>
        </ul> -->
        
      
        <ul class="navbar-nav mr-auto admin_header_wrap">
          <!-- <li class="nav-item active">
            <a class="nav-link nav-actv" (click)="home();">Home <span class="sr-only">(current)</span></a>
          </li> -->
      
          <li class="dropdown nav-item">
            <a class="dropdown-toggle nav-link" style="text-transform: capitalize;" data-toggle="dropdown" role="button" aria-expanded="false"><small>Settings</small></a>
            <ul class="dropdown-menu dropNavList" role="menu">
              <li><a (click)="changeLogo()">Change Logo</a></li>
              <li><a (click)="gotocms()">CMS</a></li>
              <li><a (click)="goto_testimonial()">Testimonial</a></li>
              <li><a (click)="emailTemplate()">Email Template</a></li>
              <li><a (click)="whoweare()">Who we are?</a></li>
              <li class="dropdown nav-item resp_block01" style="width:100%">
                <a class="dropdown-toggle nav-link" style="text-transform: capitalize; padding: 0;" data-toggle="dropdown" role="button" aria-expanded="false"><small>ATS</small></a>
                <ul class="dropdown-menu dropNavList" role="menu">
                  <li (click)="goto_jos()"><a >Job Status</a></li>   
                  <li (click)="goto_cjs()"><a>Candidate Status</a></li>       
                </ul>
              </li>
            </ul>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" (click)="adminDashboard();">Dashboard</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" (click)="adminClient()">Client</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" (click)="adminCompany()">Company</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" (click)="adminCandidate()">Candidate</a>
          </li>
      
          <li class="dropdown nav-item ">
            <a class="dropdown-toggle nav-link" style="text-transform: capitalize;" data-toggle="dropdown" role="button" aria-expanded="false"> <img src="{{adminProfilePic}}" class="hdProfilePic"/><small>{{adminName}}</small><span class="caret"></span></a>
            <ul class="dropdown-menu dropNavList" role="menu">
              <li><a (click)="adminProfile()">Profile</a></li>   
              <li><a (click)="adminLogout();">Logout</a></li>       
            </ul>
          </li>
      
        </ul>
        
      </div>  
      
    </ion-col>

  </ion-row>


</nav>

</div>