



.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
}

.dropdown-item {
    padding: 5px 15px;
}





@media only screen and (min-width: 992px) {
    .navbar-hover .collapse ul li{position:relative;}
    .navbar-hover .collapse ul li:hover> ul{display:block}
    .navbar-hover .collapse ul ul{
        position: absolute;
        padding: 10px 0;
        top: 100%;
        right: 0 !important;
        left: auto;
        min-width: 250px;
        box-shadow: 0 0 5px #999;

    }
    .navbar-hover .collapse ul ul ul{
        position:absolute;
        top:0;
        left: auto;
        right: 100% !important;
        min-width:250px;
        display:none
    }
    .navbar-expand-lg .navbar-collapse{    display: block !important;}
    /*.navbar-hover .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}*/
}


@media only screen and (max-width: 992px) {


    .navbar-hover .show > .dropdown-toggle::after{
        transform: rotate(-90deg);
    }


    .toggle_menu01{
        top: -39px !important;
    }

    .navbar {
        padding: 0px!important;
    }

    #navbarHover {
        position: absolute;
        left: 0;
        top: 41px;
        width: 250px;
        background: #fff;
        padding: 15px;
        box-shadow: 0 0 5px #999;
    }

    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .dropdown-menu.show {
        display: block;
    }

    .nav-item.dropdown.show{ display: block;}
    .menu_btn span{font-size:22px; color:#fff}
    .navbar-light .navbar-nav .show>.nav-link {
        color: #054774;
    }

    .admin_header_wrap .resp_block01 .dropdown-menu.dropNavList{
        display: block;
    }

    .admin_header_wrap .resp_block01 .dropdown-menu.dropNavList li{
        padding:6px 0;
    }

    .admin_header_wrap .resp_block01  .dropdown-toggle.nav-link{
        display: none;
    }
    .navbar-toggler{
        font-size: 22px;
        color: #fff;
        position: relative;
        top: 4px;
    }
        

   


}



@media only screen and (max-width: 479px){
    #navbarHover{width:100%}

}
