

ul.clientList li{
    width:100%
}

ion-virtual-scroll{
    contain: inherit !important;
}

ul.clientList li .clImage{
    width:120px;
    margin-right:20px
}

ul.clientList li .clImage img {
    width: 100%;
}

.cBtm span{
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 4px;
}

.img_side_info.clMatr li{
    margin: 0 0 8px;
    padding: 0;
    background:none;
    border:0
}

.img_side_info i{
    font: normal normal normal 20px/1 FontAwesome !important;
    color:#f47272;
    display:inline-block;
    margin-right:6px
}

ul.clientList li{
    position: relative !important;
    transform: none !important;
    will-change: inherit !important;
}

ul.clientList li .clMatr p.cName {
    color: #000;
}

.img_side_info.clMatr li span{
    font-size: 14px;
}

.select-job-posting select{
    border: 1px solid#999;
}

.wishicon{
    position: absolute;
    right:12px;
    top: 12px;
}

.wishicon i{
    font: normal normal normal 24px/1 FontAwesome !important;
    color: red;
}


.addResumeCTA.job_list_left{
    border:1px solid #ebebeb;
    padding: 10px;
    background: #fff;
}

.addResumeCTA.job_list_left .arcImage{
    margin:0 0 10px;
}

.addResumeCTA.job_list_left h2{
    font-size: 20px;
    color: #054774;
    margin:0 0 4px;
}

.upgrade_list_right h3{
    color: #0693f5;
    margin: 0 0 12px;
    float: none;
    display: inline-block;
    cursor: pointer;
}

.addResumeCTA.job_list_left p{
    font-size: 14px;
    color: #777;
}

.updrage_box{
    max-width:200px;
    float: right;
}

.upgrade_wrap .img_side_info.clMatr{
    width:35%;
    display: inline-block;
    vertical-align: top;
}

.upgrade_wrap .img_side_info.clMatr:last-child{
    width:60%;
}



.img_side_info.clMatr li{
    display: block;
    margin-right: 0;
    width: auto;
    float: none;
}

.addResumeCTA.job_list_left{
    text-align:center;
}


@media (max-width:767px){
    .addResumeCTA.job_list_left{
        margin: 0 auto 10px;
        max-width: 300px;
    }
    
}

@media (max-width:585px){
    .upgrade_wrap .img_side_info.clMatr {
        width: 100% !important;
    }

    h3 {
        font-size: 18px;
    }

    h1.pageTitle {
        font-size: 20px;
        color: #fff;
        margin-bottom: 5px;
    }
    
}