<app-header *ngIf="!clientId"></app-header>
<app-admin-header *ngIf="clientId"></app-admin-header>

<div *ngIf="!clientId" class="pageHeadBlock"><div class="container">
        <h1 class="pageTitle">Job Listing</h1>
          <div  class="beadcrumbs">
            <ul>
            <li><a routerLink="/client/dashboard" style="color: white;">Home</a></li>
            <li>Job Listing</li>
            </ul>
          </div>
      </div>
</div>

<ion-content>
  <div class="mainContainer">
    <div class="container">

    <!-- <div *ngIf="!clientId" class="searchResultHead clears">
        <div class="searchResults">Job Listing</div>
        <a class="upgradePlan"><img src="../../../assets/images/red_bar01.png"></a>
    </div> -->

    <div *ngIf="service.login_type == 'client' || service.login_type == 'admin'" class="head_top01 clears">
      <h2>Job List</h2>
      <button (click)="addNewJob()">ADD JOB</button>
    </div>

    <!-- <ion-row *ngIf="clientId" class="clientHeadRow">
      <ion-col>
        <h1 class="clientListHead" style="border: none;">Job List</h1>
      </ion-col>
      <ion-col style="text-align: right;">
      </ion-col>
    </ion-row> -->

     <div class="row">
      <div class="col-lg-12 col-md-12">
        <h3 class="" *ngIf="!companyDetails" >{{errmsg}}</h3>
      </div>
     <div class="col-lg-2 col-md-4">
       
       <div class="addResumeCTA job_list_left" *ngIf="companyDetails">
       <div class="arcImage" *ngFor="let cd of companyDetails"><img src="{{cd.company_logo}}"/></div>
       <h2 *ngFor="let cd of companyDetails">{{cd.company_name}}</h2>
       <p *ngFor="let cd of companyDetails">
        {{cd.company_category_title}}
       </p>
      
      </div><!--addResumeCTA ends-->
      <!-- <h3 class="" *ngIf="!companyDetails" >{{errmsg}}</h3> -->
       
       
     </div><!--col-md-3 ends-->
     
     <div class="col-lg-10 col-md-8">
       <ul class="clientList">
        <ion-virtual-scroll [items]="jobsListing">
         <li *virtualItem="let list">
<!-- 
          <div *ngIf="list.liked" class="wishicon"><i (click)="addToFav(list.job_id)" class="fa fa-heart"></i></div>
          <div *ngIf="!list.liked" class="wishicon"><i (click)="addToFav(list.job_id)" class="fa fa-heart-o"></i></div> -->

           
          <div class="cTop upgrade_list_right">

              <!-- <div class="clImage"><img src="{{list.company_logo}}"/></div> -->
              <div class="job_list_top clears">
                  <h3 class="cName" (click)="jobDetails(list.job_id)">{{list.job_title}} <span *ngIf="list.status=='Draft'">({{list.status}})</span></h3>

                  <ul class="icon_box">
                    <li class="dropdown nav-item">
                      <a class="fa fa-info-circle" (click)="statusInfo(list.job_id)" style="text-transform: capitalize;" data-toggle="dropdown" role="button" aria-expanded="false"><small>Status info</small></a>
                      <div style="padding:0; margin: 0;" class="dropdown-menu dropNavList info_pop_up01" role="menu">
                        <p *ngIf="!statusHistory">No history found</p>
                        <div *ngIf="statusHistory">

 <!-- <p>{{sh.createdAt | date:"dd/MM/yyyy hh:mm a"}}<br>
                          {{sh.job_opening_status_title}}<br>
                          {{sh.user_name}}({{sh.user_type}})</p> -->



                          <div class="admin_pop">

                            <div class="close">X</div>
                          
                          
                            <div class="admin_top01 clears">
                              <span>Job Status History</span>
                              <!-- <b><i class="fa fa-globe"></i></b> -->
                            </div>
                            <div class="admin_pop_wrap">

                              <div *ngFor="let sh of statusHistory" class="admin_row21 clears">
                                <div class="pic15">
                                  <i class="fa fa-user"></i>
                                </div>
                                <div class="admin_info01">
                                    <div class="title_date clears">
                                        <h2>{{sh.user_name}} ({{sh.created_by_type}})</h2>
                                        <span class="date">{{sh.createdAt | date:"dd/MM/yyyy hh:mm a"}}</span>
                                    </div>
                                    <div class="add_file"><i class="fa fa-paperclip"></i> {{sh.job_opening_status_title}}</div>
                                   
                                    <!-- <div class="add_file"><i class="fa fa-paperclip"></i><small>Added file</small> PROFORMA INVOICE TDS -564.pdf</div> -->
                                 
                          
                                </div>
                              </div>


                            </div>
                          </div>





                         
                        </div>
                      </div>
                    </li>
                    <li class="fa fa-list-alt" (click)="shortlistedCandidate(list.job_id)"><small>Shortlisted Candidate(s)</small></li>
                    <li class="fa fa-pencil-square-o" (click)="addJob(list.company_id,list.job_id)"><small>Job Edit</small></li>
                    <li class="fa fa-trash" (click)="presentAlertConfirm_deletejob(list.job_id)"><small>Job Delete</small></li>
                  </ul>
                  
              </div>
            
            <div class="upgrade_wrap">

            <ul class="img_side_info clMatr">
              
              <li> <span class="cJob"><i class="fa fa-book"></i>{{list.job_category_title}}</span></li>
             
              <li><span><i class="fa fa-calendar"></i>{{list.date_opened | date: 'dd/MM/yyyy'}}&nbsp;(Date Opened)</span></li>
             
            </ul>


            <ul class="img_side_info clMatr">

              <li>
                <div class="locaion001">
                  <i class="fa fa-map-marker"></i>
                <span>{{list.basic_info_city}}, {{list.basic_info_state}}, {{list.basic_info_cuntry}}</span>
              </div>
              </li>

              <li>
                <div class="locaion001">
                  <i class="fa fa-info-circle"></i>
                <span>{{list.job_opening_status_title}}</span>
              </div>
              </li>
              <!-- <li><ion-button  (click)="shortlistedCandidate(list.job_id)">Shortlisted candidate</ion-button></li> -->
              <!-- <li><span><i class="fa fa-anchor"></i>Submitted by Client</span></li> -->
            </ul>

            </div>


      
        </div>

             
         </li>
        </ion-virtual-scroll>
       </ul>
       <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
     </div>
     </div>

    </div>
  </div>
  <app-footer *ngIf="!clientId"></app-footer>
</ion-content>
