<app-admin-header></app-admin-header>

<ion-content>
  <h1 class="clientListHead">Add Company</h1>
  <!-- <form #register="ngForm" id="registerform" (ngSubmit)="validateuser(register)">
    <ion-card class="heading-sec-top">
        <h5 class="header-sec"><span>Basic Information</span></h5>
        <div class="form-input">
            <ion-label>Name</ion-label> 
      <ion-input required [(ngModel)]="comName" name ="comName" #cname="ngModel" placeholder="Company Name" class="text_capatilize input-text-area"></ion-input>
      <span *ngIf="cname.errors && (cname.dirty || cname.touched || register.submitted)" class="error">Please input Company Name</span>
    </div>
    <div class="form-input">
        <ion-label>Company Size</ion-label>
      <select name="csize" [(ngModel)]="csize"  #selCSze="ngModel" required class="csize select-valida">                          
        <option [value]="size" [selected]="size == 'Company Size'" disabled>Company Size</option>
        <option *ngFor='let s of companysizelist' [value]="s.size">{{s.size}}</option>
      </select>
      <span *ngIf="selCSze.errors && (selCSze.dirty || selCSze.touched || register.submitted)" class="error">Please select Company Size</span>
    </div>
    <div class="form-input">
        <ion-label>Company Type</ion-label>
      <select name="ctype" [(ngModel)]="ctype" #selCtyp="ngModel" required class="ccat select-valida">
        <option [value]="type" [selected]="type == 'Company Type'" disabled>Company Type</option>
        <option *ngFor='let t of companytypelist' [value]="t.category_id">{{t.title}}</option>
      </select>
      <span *ngIf="selCtyp.errors && (selCtyp.dirty || selCtyp.touched || register.submitted)" class="error">Please select Company Type</span>
    </div>
      <div class="form-input">
          <ion-label>Company Phone Number</ion-label>
          <div class="cont-sty">
        <div class="code-cont">
        <input required type="text" placeholder="+971" name="cmpcode" [(ngModel)]="cmpcode" #cmpcc="ngModel" class="code-comp">
      </div>
      <div class="phone-no-cont">
        <ion-input required [(ngModel)]="cmpphone" name ="cmpphone" #cpho="ngModel" placeholder="Company Phone no." pattern="^[1-9][0-9]*$"></ion-input>
        <span *ngIf="(cpho.errors && (cpho.dirty || cpho.touched || register.submitted)) || (cmpcc.errors && (cmpcc.dirty || cmpcc.touched || register.submitted))" class="error">Please input valid phone number with Country Code</span>
      </div>
      </div>
      </div>
      <div class="form-input">
          <ion-label>Company Email</ion-label>
      <ion-input required [(ngModel)]="cmpemail" name ="cmpemail" #cem="ngModel" placeholder="Company Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></ion-input>
      <span *ngIf="cem.errors && (cem.dirty || cem.touched || register.submitted)" class="error">Please input valid E-mail Id</span>
      </div>
      <div class="form-input">
          <ion-label>Company Website</ion-label>
      <ion-input [(ngModel)]="comWeb" name ="comWeb" #cweb="ngModel" placeholder="Company Website" pattern="^(ftp|http|https):\/\/[^ ]+$"></ion-input>
      <span *ngIf="cweb.errors && (cweb.dirty || cweb.touched || register.submitted)" class="error">Please input valid url ex: http://google.com</span>
      </div>
    </ion-card>


    <ion-card class="heading-sec-top">
        <h5 class="header-sec"><span>Company Information</span></h5>
        <div class="form-input">
            <ion-label>Address</ion-label>
      <ion-textarea style="border:1px solid #ebebeb; border-radius:4px; background: #fff; " required [(ngModel)]="comAddress" #caddr="ngModel" name ="comAddress" placeholder="Company Address" class="input-text-area select-area-company-info"></ion-textarea>
      <span *ngIf="caddr.errors && (caddr.dirty || caddr.touched || register.submitted)" class="error">Please input Company Addressd</span>
      </div>

      <div class="form-input">
          <ion-label>Select Country</ion-label>
      <select name="comCountry" [(ngModel)]="comCountry" #selCun="ngModel" required class="ccat select-valida" (change)="onChange($event.target.value)" >
          <option [value]="country" [selected]="type == 'Select country'" disabled>Select country</option>
          <option *ngFor='let t of countrylist;let i = index' [value]="t.country">{{t.country}}</option>
        </select>
        <span *ngIf="selCun.errors && (selCun.dirty || selCun.touched || register.submitted)" class="error">Please Select Country</span>
        </div>
        <div class="form-input">
            <ion-label>Select State</ion-label>
       <select name="comState" [(ngModel)]="comState" required #selSte="ngModel" class="ccat select-valida">
          <option [value]="state" [selected]="type == 'Select State'" disabled>Select State</option>
          <option *ngFor='let ttt of statelist' [value]="ttt">{{ttt}}</option>
      </select>
      <span *ngIf="selSte.errors && (selSte.dirty || selSte.touched || register.submitted)" class="error">Please Select State</span>
      </div>
      <div class="form-input">
          <ion-label>City</ion-label>
      <ion-input required [(ngModel)]="comCity" name ="comCity" #ccit="ngModel" placeholder="Company City" class="text_capatilize input-text-area"></ion-input>
      <span *ngIf="ccit.errors && (ccit.dirty || ccit.touched || register.submitted)" class="error">Please input Company City</span>
      </div>

      <div class="form-input-valid-sec">
        <a class="addCV hover" (click)="uploadIMG()" class="select-valida2">Upload Logo</a>
         </div>

      <div class="form-input" style="height: auto;">
        <img *ngIf="rdrRslt" src="{{rdrRslt}}" style="width:150px;">
        <input type="file" id="videoInput" style="display:none;" (change)="changeImg($event.target)" accept="image/jpeg,image/x-png" class="select-valida">
    
      </div>

    </ion-card>
    <ion-card class="heading-sec-top">
        <h5 class="header-sec"><span>Contact Person Information</span></h5>
        <div class="form-input">
            <ion-label>Contact Person Name</ion-label>
      <ion-input required [(ngModel)]="comCntPrsn" name ="comCntPrsn" #conper="ngModel" placeholder="Contact Person Name" class="text_capatilize input-text-area" pattern="^[a-zA-Z ]+$" onkeyup="this.value=this.value.replace(/[^A-Za-z ]/g,'');"></ion-input>
      <span *ngIf="conper.errors && (conper.dirty || conper.touched || register.submitted)" class="error">Please input Contact person name</span>
      </div>
      <div class="form-input">
          <ion-label>Contact Email</ion-label>
      <ion-input required [(ngModel)]="comCntMail" name ="comCntMail" #conmal="ngModel" placeholder="Contact E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="input-text-area"></ion-input>
      <span *ngIf="conmal.errors && (conmal.dirty || conmal.touched || register.submitted)" class="error">Please input valid Contact E-mail</span>
      </div>
      <div class="form-input">
          <ion-label>Phone No</ion-label>
          <div class="cont-sty">
              <div class="code-cont">
        <input type="text" placeholder="+971" name="concode" required [(ngModel)]="concode" #conccc="ngModel" class="code-comp">
         </div>
         <div class="phone-no-cont">
        <ion-input required [(ngModel)]="comCntPh" name ="comCntPh" #conph="ngModel" placeholder="Contact Mobile No" pattern="^[1-9][0-9]*$" class="input-text-area"></ion-input>
        <span *ngIf="(conph.errors && (conph.dirty || conph.touched || register.submitted)) || (conccc.errors && (conccc.dirty || conccc.touched || register.submitted))" class="error">Please input valid Contact Number with Country Code</span>
      </div>  
    </div>
      </div>
    </ion-card>

    <ion-button type="submit" class="btn-submit edit_company_btn01">SUBMIT</ion-button>
    <div class="clearfix"></div>
  </form> -->

</ion-content>
