<app-admin-header></app-admin-header>

<ion-content>

  <div class="company-list-sec">
    <h2>{{noComMsg}}</h2>
    <h1 *ngIf="!noComMsg" class="clientListHead">Company List</h1>
    <ion-button routerLink="/admin/add-company" class="button-comp">ADD COMPANY</ion-button> 
    <div class="clearfix"></div>
    <div *ngFor="let cd of comDetls" class="sec-div-sty">
      <ion-row style="text-align: left;">
        <ion-col size="2">
          <div class="img-ion-sec">
          <ion-img src="{{cd.logo}}" class="img-comp"></ion-img>
        </div>
        </ion-col>
        <ion-col size="10" class="company-text">
          <h2>{{cd.company_name}}</h2>
          <h3>{{cd.category_title}}</h3>
          <p>Company Size: {{cd.company_size}}</p>
          <p>Company Phone: {{cd.company_country_code}} {{cd.company_phone}}</p>
          <p>Company Email: {{cd.company_email}}</p>
          <p>Company Website: {{cd.website}}</p>
          <p>Address: {{cd.address}}</p>
          <p>City: {{cd.city}}</p>
          <p>State: {{cd.state}}</p>
          <p>Country: {{cd.country}}</p>

          <ion-col class="button-sty clears">
            <ion-button (click)="companyDetails(cd.company_id)" style="--background: #054774;">View Company</ion-button><br>
            <ion-button (click)="addJob(cd.company_id)">Add Job</ion-button>
            <ion-button (click)="comJobList(cd.company_id)">Job List</ion-button>
          </ion-col>
        </ion-col>
      </ion-row>
    </div>
  </div>
  </ion-content>
