<app-header></app-header>

<ion-content><!--**************************************************************************************HEADER ENDS****************************-->
  <!-- <div class="pageHeadBlock">
    <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="dbSearch">
          <p><label>What</label><input type="text" name="" placeholder="e.g. web designer"/></p>
          <p><label>What</label><input type="text" name="" placeholder="town"/></p>
          <input type="button" name="" value="Search Jobs"/>
        </div>
      </div>
      <div class="col-md-2"><a href="#" class="browseJobs">Browse Jobs</a></div>
    </div>
    </div>
  </div> --><!--pageHeadBlock ends-->
  
  
  <div class="pageHeadBlock"><div class="container">
    <h1 class="pageTitle">Dashboard</h1>
      <div  class="beadcrumbs">
        <ul>
        <li><a style="color: white;">Home</a></li>
        <li>Dashboard</li>
        </ul>
      </div>
  </div>
</div>



<div class="mainContainer clientDashboard">
  <div class="container">
      <div  class="clientDashboard_top">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="dash_block">

                <div class="dash_icon01"><i class="fa fa-industry"></i></div>
                  <strong>{{totCom}}</strong>
                  <span>Total Companies</span>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="dash_block">

                <div class="dash_icon01"><i class="fa fa-cogs"></i></div>
                  <strong>{{totJob}}</strong>
                  <span>Total Jobs</span>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="dash_block">

                <div class="dash_icon01"><i class="fa fa-users"></i></div>
                  <strong>{{totCan}}</strong>
                  <span>Total Candidates</span>
              </div>
            </div>
          </div>
      </div>


    <div  class="clientDashboard_top bottom">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6" (click)="clientCompanyList()">
            <div class="dash_block">

              <div class="dash_icon01"><i class="fa fa-briefcase"></i></div>
                <!-- <strong>2</strong> -->
                <span>Company List</span>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6" (click)="clientJobPost()">
            <div class="dash_block">

              <div class="dash_icon01"><i class="fa fa-pencil-square-o"></i></div>
                <!-- <strong>5</strong> -->
                <span>Post a Job</span>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6" (click)="clientViewProfile()">
            <div class="dash_block">

              <div class="dash_icon01"><i class="fa fa-user"></i></div>
                <!-- <strong>9</strong> -->
                <span>View Profile</span>
            </div>
          </div>

          <div class="col-lg-3 col-md- col-sm-6" (click)="clientEditProfile()">
            <div class="dash_block">

              <div class="dash_icon01"><i class="fa fa-user"></i></div>
                <!-- <strong>9</strong> -->
                <span>Edit Profile</span>
            </div>
          </div>



        </div>
    </div>


  </div>
</div>
  <!-- 
  <div class="mainContainer clientDashboard">
  
    <div class="container">
    
     <div class="row">
     <div class="col-md-3">
     
       <div class="aboutYou">
       <div class="dbBlockHd">
         <h4>About You</h4><a href="#">Edit</a>
       </div>
       
       <div class="dbBlockMatr">
         <div class="cImage"><img src="../../../assets/images/cl6.jpg"/></div>
         <div class="info020">
         <p class="cName">First Technologies Pvt. Ltd.</p>
         <p class=""><i class="fa fa-map-marker"></i>Caliphonia, PO 455001</p>
         <p>Your profile is hidden, why not make it available to more aspirants? <span>Make My Profile Visible</span></p>
        </div>
       </div>
       
       <div class="upgradeOffer">
      
       <a href="#">Upgrade Now</a>
       </div>
       </div><!-aboutYou ends-->
       
       <!-- <div class="dbjobAlerts">
         <h4>Alerts</h4>
         <ul class="alertsList">
          <li><a href="">13 Candidates applied for <span>Heart Surgeon</span><p>Posted on 11.09.19</p></a></li>
          <li><a href="">21 Candidates applied for <span>Dentist</span><p>Posted on 16.09.19</p></a></li>
         </ul>
       </div> --><!--dbjobAlerts ends-->
       
  
       
       
     <!-- </div> -->
     <!--col-md-3 ends-->
     
     
     
     <!-- <div class="col-md-9">
       
       
       <div class="addCV">
       <div class="dbBlockHd">
         <h4 *ngIf=!jobstatus>Job Posted By You</h4>
       </div>     
       <div class="dbBlockMatr">
         <ul class="jobsList"> -->

            <!-- <li>
                <div class="clMatr" style="padding-left:16px">
                 <p class="cName">Stores Assistant Industrial  </p><p class="cExp">(1 - 2 Yrs Exp.)</p>
                <p class="postedonby">Posted on <span class="pdate">11.11.2019</span></p>
                <div class="perkLoc"><p class="perk"><span class="currency">AED</span> 10,000 - 24,000 P.A</p><p class="loc">Caliphonia, PO 455001</p></div>
                </div>
                <div class="clRight"><a href="">Edit</a></div>
             </li> -->

  <!--     <h4 *ngIf=jobstatus style="color:red;text-align: center;">You didn't post any job!</h4>

          <li *ngFor="let jlist of job_list">
            <div class="clMatr" style="padding-left:16px">
             <p class="cName">{{jlist.job_title}}</p><p class="cExp">({{jlist.person_work_exp}} Exp.)</p>
            <p class="postedonby">Posted on <span class="pdate">{{jlist.createdAt | date : "dd.MM.y"}}</span></p>
            <div class="perkLoc"><p class="perk">
              <! <span class="currency">AED</span> -->
             <!--   {{jlist.person_salary}} P.A</p><p class="loc">{{jlist.client_address}} {{jlist.client_country}}</p></div>
            </div>
            <div class="clRight"><a href="">Edit</a></div>
         </li>  -->
         
<!--          
         <li>
            <div class="clMatr">
             <p class="cName">Stores Assistant Industrial  </p><p class="cExp">(1 - 2 Yrs Exp.)</p>
            <p class="postedonby">Posted on <span class="pdate">11.11.2019</span></p>
            <div class="perkLoc"><p class="perk"><span class="currency">AED</span> 10,000 - 24,000 P.A</p><p class="loc">Caliphonia, PO 455001</p></div>
            </div>
            <div class="clRight"><a href="">Edit</a></div>
         </li>
         
         
         <li>
            <div class="clMatr">
             <p class="cName">Heart Surgeon </p><p class="cExp">(1 - 2 Yrs Exp.)</p>
            <p class="postedonby">Posted on <span class="pdate">11.11.2019</span></p>
            <div class="perkLoc"><p class="perk"><span class="currency">AED</span> 10,000 - 24,000 P.A</p><p class="loc">Caliphonia, PO 455001</p></div>
            </div>
            <div class="clRight"><a href="">Edit</a></div>
         </li>
         
         
         <li>
            <div class="clMatr">
             <p class="cName">Stores Assistant Industrial </p><p class="cExp">(1 - 2 Yrs Exp.)</p>
            <p class="postedonby">Posted on <span class="pdate">11.11.2019</span></p>
            <div class="perkLoc"><p class="perk"><span class="currency">AED</span> 10,000 - 24,000 P.A</p><p class="loc">Caliphonia, PO 455001</p></div>
            </div>
            <div class="clRight"><a href="">Edit</a></div>
         </li>
          -->
  
         
     <!--   </ul>
       </div>
       </div>
       
       
     </div>
     </div>
    
    
  
    </div>
  </div>
 -->
  <!-- Dashboard -->
  
  
  
  <app-footer></app-footer>

  
  
</ion-content>
