.cliImage img {
    width: 70px;
}

.cliName, .cliMail, .cliPhone{
    font-size: 1.4em;
    font-weight: 700;
}
.form-sty{     width: 80%;
    margin: auto;
    display: block;
    margin-top: 80px;
    border: 1px solid #c4bdbd;
    padding: 0px 50px;
    box-shadow: 1px 1px 2px 1px #ddd;}
.form-new-sec{       padding: 50px 0px 10px;
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
}
.code-sec{ width: 19%;     border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 40px;
    line-height: 16px;
    padding: 0 8px;
    vertical-align: middle; float: left; font-size: 14px;
}
.input-seec{ width: 80%;     border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 40px;
    line-height: 16px;
    padding: 0 8px;
    vertical-align: middle;
    font-size: 14px;
}
.select-box-sty{ width: 100%;     border: 1px solid #dddfe2;
    color: #717070;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 40px;
    line-height: 16px;
    padding: 0 8px;
    vertical-align: middle; 
    font-size: 14px;}
.sect-sec{    width: 100%;}
   .btn-sty{ margin: auto;
    padding: 6px 40px;
    background: #054774;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    margin: 15px auto;  }  
   .required-sec{float: left;
   padding: 2px 0px 5px;
   color: #dd4b39;} 

    ion-toolbar{
        --background:#054774;
        color:#fff; padding: 0;
    }
    .color-cross{ color: #fff !important;}