.btn:disabled{ opacity: 0.5;}
.mainContainer{background-image: url("../../assets/images/forget-password.jpg"); background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  height: 100%;
}
.form-sec-forget{width: 40%;
    background: #fff;
    margin: auto; border-radius: 4px;
}

 .input-form{width: 80%;
    padding: 10px;
    margin: 40px auto 20px;
    border-radius: 4px; border: 1px solid #ccc;} 
 .btn-sty{float: right;
    margin: auto;
    background: #054774;
    padding: 5px 40px;
    text-transform: uppercase;
    z-index: 999;
    margin-bottom: 26px;
    color: #fff;
}     
.btn[_ngcontent-fvf-c3]:disabled {
    opacity: 0.5;
}
