<app-header></app-header>

<ion-content class="bg-image-content">
    <div class="mainContainer">
  <div class="form-sec-forget">
   
      <div *ngIf="!codes">
        <div class="lock_img"><i class="fa fa-lock"></i></div>
        <h2>Forgot Password?</h2>

        <form #login="ngForm" id="loginform" (ngSubmit)="validatelogin(login)">
        <div>
            <input type="email" placeholder="Email Address" name="uname" required [(ngModel)]="uname" #un="ngModel" class="input-form" autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
            <span *ngIf="un.errors && (un.dirty || un.touched || login.submitted)">A valid Email Address is required.</span>          
        </div>
        <div>
            <input value="Submit" type="submit" class="btn btn-sty forgot_btn"/>
        </div>
        </form>
      </div>
      <div *ngIf="codes && !newPass">
        <div class="lock_img"><i class="fa fa-lock"></i></div>
        <h2>Secret Code</h2>

        <form #codes="ngForm" id="loginform" (ngSubmit)="validateCode(codes)">
        <div>
       
            <input type="text" placeholder="Secret Code" name="sCodes" required [(ngModel)]="sCodes" #sc="ngModel" class="input-form" autocomplete="off"/>
            <span *ngIf="sc.errors && (sc.dirty || sc.touched || codes.submitted)">This field is required.</span>          
        </div>
        <div>
            <input value="SUBMIT" type="submit" class="btn btn-sty forgot_btn"/>
        </div>
      </form>
      </div>

      <div *ngIf="newPass">
        <div class="lock_img"><i class="fa fa-refresh"></i></div>
        <h2>Reset Password</h2>
        <form #newpass="ngForm" id="loginform" (ngSubmit)="setNewPass(newpass)">
        <div>
          <input type="password" class="input-form" placeholder="Password" name="password" required [(ngModel)]="password" #passw="ngModel" autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"/>
          <span *ngIf="passw.errors && (passw.dirty || passw.touched || newpass.submitted)">Should contain at least one lowercase letter, one uppercase letter, one number with minimum 6 character</span>
        </div>
        <div>
          <input type="password" class="input-form" placeholder="Confirm Password" name="cpassword" [(ngModel)]="cpassword" autocomplete="off" (keyup)="focusOut()"/>
          <span *ngIf="errorMsgS =='Password not same as confirm password!'">Password doesn't match confirmation</span>
        </div>
        <div>
          <input value="SUBMIT" type="submit" class="btn btn-sty forgot_btn"/>
        </div>
      </form>
      </div>

      <div class="btm_error"><small id="errorRed" style="display: block;">{{errorMsg}}</small></div>
  </div>
 
</div>
</ion-content>
