<app-admin-header></app-admin-header>

<ion-content>
  <div class="testimonial_admin001">
    <div class="container jot_content">

<div class="head_top01 clears">
  <h2>Edit Testimonial</h2>
  <div (click)="gotolist()" class="gotolst">
    <span><i class="fa fa-arrow-left"></i>GOTO LIST</span>
</div>
</div>

     


  
        <form  #test="ngForm" id="testform" (ngSubmit)="validate_test(test)"  class="ion-padding">

        <div class="testimonial_row">
      
              <label>Name</label>
            <input  name="name" placeholder="Name" type="text"  required [(ngModel)]="name" #un="ngModel" autocomplete="off">
            <span *ngIf="un.errors && (un.dirty || un.touched || test.submitted)" class="reqri-sec">This field is required</span>
          </div>  

          <div class="testimonial_row">
              <label>Company Name</label>
            <input type="text" placeholder="Company name" name="companyname" required [(ngModel)]="companyname" #pw="ngModel" autocomplete="off">
            <span *ngIf="pw.errors && (pw.dirty || pw.touched || test.submitted)" class="reqri-sec">This field is required</span>
          </div> 

          <div class="testimonial_row">
              <label>Comment</label>
            <textarea type="text" placeholder="Description" name="comment" required [(ngModel)]="comment" #cmt="ngModel" autocomplete="off"></textarea>
            <span *ngIf="cmt.errors && (cmt.dirty || cmt.touched || test.submitted)" class="reqri-sec">This field is required</span>
          </div> 

          <div class="testimonial_row">
          <div class="form-input" style="height: auto;">
            <div class="upload_pic12">
            <img *ngIf="rdrRslt" src="{{rdrRslt}}" style="width:150px;">
          </div>
            <input type="file" id="videoInput" style="display:none;" (change) ="changeImg($event.target)" accept="image/jpg,image/jpeg,image/png" >
          </div>
        </div>

          <div class="testimonial_row">
              <ion-label>&nbsp;</ion-label>
              <a (click)="uploadIMG()" class="select-valida2">Upload Logo</a>
          </div>

         
          <div class="testimonial_row">
              <label>Active/Inactive</label>
              
              <select [(ngModel)]="status" name="status">
                <option disabled>Select status</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
              <span *ngIf="status == 'Select status' && test.submitted" class="field_error"> Please select any status</span>
            </div>

          <button class="btn btn-primary admin_button" type="submit">Save</button>
        </form> 

        </div>

        


      </div>
  
</ion-content>
