
<app-header></app-header>
<ion-content>
  <div class="mainContainer">
    <div class="container">
        <div class="searchResultHead clears">
          <div class="searchResults">We found <span>{{totaldata}}</span> favourite jobs for you</div>
          <a class="upgradePlan"><img src="../../../assets/images/red_bar01.png"></a>
        </div>
        <div >
            <!-- <h2 *ngIf="count==0">No favourite job found</h2> -->
            <ul class="jobsList">
              <ion-virtual-scroll [items]="job_details_by_id">
              <li *virtualItem="let jobList">
                <div class="clMatr">
                <!-- <p id="{{jobList.job_id}}" (click)="addToFavourite(jobList.job_id)">ADD</p> -->
                  <p class="cName" (click)="job_details(jobList.job_id)">{{jobList.job_title}}</p>
                  <p class="postedonby" *ngIf="jobList.createdAt">Posted on <span class="pdate">{{jobList.createdAt | date : "dd.MM.yyyy"}}</span><span *ngIf="jobList.company_name"> by <a>{{jobList.company_name}}</a> </span></p>
                <div class="perkLoc">
                  <p class="perk" *ngIf="jobList.person_salary"><span class="currency">{{jobList.person_salary?jobList.person_salary.split(' ')[1]:''}}</span> {{jobList.person_salary.split(' ')[0]}} P.A</p>
                  <p class="loc">{{jobList.basic_info_city}}, {{jobList.basic_info_state}}, {{jobList.basic_info_cuntry}}</p>
                  <p class="timekind" *ngIf="jobList.job_type">{{jobList.job_type}}</p>
                </div>
                <div class="jobDesco" *ngIf="jobList.skill_set"><img src="../../../assets/images/n/innovation.png">{{jobList.skill_set}}</div>
                </div>
                <div class="clRight">
                  <div class="remove_box01"><i class="fa fa-window-close" (click)="presentAlertConfirm(jobList.candidate_favourite_job_id)"></i></div>
                  <!-- <div class="wishicon" *ngIf="jobList.favourite_job=='No' && dataService.userid"><i class="fa fa-heart-o" (click)="addtoFav(jobList.job_id)"></i></div> -->
                  <div class="clImage"><img style="max-width:200px" src="{{jobList.company_logo}}"/></div>
                </div>
              </li>
              </ion-virtual-scroll>

              <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
                <ion-infinite-scroll-content
                  loadingSpinner="bubbles"
                  loadingText="Loading more data...">
                </ion-infinite-scroll-content>
              </ion-infinite-scroll>
            </ul>
        </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
