<app-admin-header></app-admin-header>

<ion-content>
    <!-- <div class="pageHeadBlock">
    <div class="container">
    <h1 class="pageTitle">Candidate Profile</h1>
    <div class="beadcrumbs">
      <ul><li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/candidate/listing">Candidates</a></li>
        <li>Candidate Profile</li></ul>
    </div>
    </div>
  </div> -->
  
  
  <div class="mainContainer">
  
  
  
  
    <div class="container">
    
     <div class="row">
     <div class="col-md-3">
       <div class="candidateQuickView">
         <div class="cImage"><img src="{{dpimage}}"/></div>
         <div class="cName" *ngFor="let can of candetails">{{can.candidate_name}}</div>
         <div class="cProf" >{{job_title}}</div>
         <div class="cSocial">
           <ul class="csocialList"><li><a href="#" class="fb">Facebook</a></li><li><a href="#" class="tw">Twitter</a></li><li><a href="#" class="li">Linked In</a></li></ul>
         </div><!--cSocial ends-->
         
         <button class="downloadResume" (click)="download_resume()">Download Resume</button>
         <button class="contactCandidate">Contact Candidate</button>
         
       </div><!--candidateQuickView ends-->
       
  
       
       <!-- <div class="addResumeCTA">
       <div class="arcImage"><img src="../../../assets/images/n/cr1.jpg"/></div>
       <div class="arcOver">Get Best Matched Jobs On your Email. <br/> Add Resume NOW! <a href="#">Add Resume</a></div>
       </div> --><!--addResumeCTA ends-->
       
       
     </div><!--col-md-3 ends-->
     
     <div class="col-md-9">
       <h3 class="sHead">Personal Details</h3>
       <ul class="cDetails">
        <li *ngFor="let can of candetails"><div class="cdLabel">Full Name</div> <div class="cdMatr">{{can.candidate_name}}</div></li>
          <li *ngFor="let can of candetails"><div class="cdLabel">Father's Name</div> <div class="cdMatr">{{can.father_name}}</div></li>
          <li *ngFor="let can of candetails"><div class="cdLabel">Address</div> <div class="cdMatr">{{can.address}}</div></li>
          <li *ngFor="let can of candetails"><div class="cdLabel">Zip Code</div> <div class="cdMatr">{{can.zip_code}}</div></li>
          <li *ngFor="let can of candetails"><div class="cdLabel">Phone</div> <div class="cdMatr">{{can.phone_no}} , {{can.alternate_no}}</div></li>
          <li *ngFor="let can of candetails"><div class="cdLabel">Email</div> <div class="cdMatr">{{can.candidate_email}}</div></li>
          <li *ngFor="let can of candetails"><div class="cdLabel">Website</div> <div class="cdMatr">{{can.website}}</div></li>
       </ul>

       <div>
        <h3 class="sHead">LooKing For</h3>
        <div class="dbBlockMatr">
          <ul class="lookingForList">
            <li><p class="dbmLabel">Desired Job Title</p><p class="dbmMatr" *ngFor="let j of lookingforjoblist">{{j.desired_job_title}}</p></li>
            <li><p class="dbmLabel">Job type</p><p class="dbmMatr" *ngFor="let j of lookingforjoblist">{{j.job_type}}</p></li>
            <li><p class="dbmLabel">Salary</p><p class="dbmMatr" *ngFor="let j of lookingforjoblist">{{j.salary}}</p></li>
            <li><p class="dbmLabel">Sectors</p><p class="dbmMatr" *ngFor="let j of lookingforjoblist">{{j.category_title}}</p></li>
            <li><p class="dbmLabel">Location</p><p class="dbmMatr" *ngFor="let j of lookingforjoblist">{{j.location}}</p></li>        
          </ul>
        </div>
      </div>
       
       <h3 class="sHead">Education</h3>
       <!-- <p class="educationSummary">Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulpuate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.</p> -->
       <ul class="eDetails">
        <li *ngFor="let q of canqualification">{{q.specialization}} , {{q.from_year}} to {{q.to_year}}</li>
         <!-- <li>2 years of relevant work experience in software development.</li>
      <li>Programming experience in C, C++ or Java.</li>
      <li>Experience with AJAX, HTML and CSS.</li> -->      
        </ul>

        <div>
          <h3 class="sHead">Work Experience</h3>
          <ul class="eDetails">
            <li *ngFor="let q of experiencelist">{{q.job_title}} , {{q.experience_in_year}} years (exp). in  {{q.company}}</li>    
          </ul>
        </div>

        <div>
          <h3 class="sHead">Skill</h3>
          <ul class="eDetails">
            <li *ngFor="let sk of skilllist">{{sk.skill}}</li>    
          </ul>
        </div>

        <div>
          <h3 class="sHead">Language</h3>
          <ul class="eDetails">
            <li *ngFor="let l of languagelist">{{l.language}} - {{l.fluency}}</li>    
          </ul>
        </div>
       
     </div><!--col-md-9 ends-->
     </div>
    
    
  
    </div><!--container ends-->
   
  </div><!--mainContainer ends-->
    
  <!-- <app-footer></app-footer> -->
  
</ion-content>
