<app-admin-header></app-admin-header>

<ion-content>
  <div class="ion-margin">
    <div class="container jot_section">
      <div class="head_top01 clears">
        <h2 style="margin: 0;">Job Status</h2>
        <!-- <button routerLink="/client/company">ADD COMPANY</button> -->
      </div>
      <ion-row >
        <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">

          <h2>Job Status</h2>

          <div class="jot_content">
              <form #jos="ngForm" id="loginform" (ngSubmit)="validatejob(jos)">

                  <div class="jot_field_wrap">

                    <label>Status title</label>
                    <input type="text" placeholder="Status Title" name="jobstatustitle" required [(ngModel)]="jobstatustitle" #jst="ngModel" autocomplete="off"/>
                    <span *ngIf="jst.errors && (jst.dirty || jst.touched || jos.submitted)" class="field_error">Status Title is required</span>     
                  
                  </div>
                <div class="jot_field_wrap">

                  <div class="row">


                    <div class="col-md-6">
                      <label>Sequence Number</label>
                        <input type="text" placeholder="Sequence Number" name="sequence" required [(ngModel)]="sequence" #sst="ngModel" autocomplete="off" pattern="^[1-9][0-9]*$" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"/>
                        <span *ngIf="sst.errors && (sst.dirty || sst.touched || jos.submitted)" class="field_error">Sequence Number is required</span>     
                    </div> 


                    <div class="col-md-6">
                      <label>Active/Inactive</label>
                      
                      <select [(ngModel)]="status" name="status">
                        <option disabled>Select Status</option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                      </select>
                      <span *ngIf="status == 'Select Status' && jos.submitted" class="field_error"> This field is required</span>
                    </div>
                  

                  
                  </div>

                </div>


                  <div class="jot_btm_btn">
                    <input value="Save" *ngIf="!jobstatusid" type="submit" class="btn"/>
                    <input value="Update" *ngIf="jobstatusid" type="submit" class="btn"/>
                  </div>

              </form>
                
          </div>
       

        </ion-col>
        <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <h2>Job Status List</h2>
            <div class="jb_st_wrap">
              <ul class="jobicon09">
                <li *ngFor="let list of jobstatuslist; let i = index;">
                  <ion-card>
                    <div class="jt_status_list clears">

                      <div class="jt_status_left">
                        <h4><small> ({{i}})</small>   {{list.title}}    <small class="active">{{list.status}}</small></h4>
                        
                      </div>

                      <div class="j_corn">
                        <i (click)="edit_jobstatus(list.job_opening_status_id,list.title,list.status,list.sequence)" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <i (click)="DeleteConfirm(list.job_opening_status_id)" class="fa fa-trash" aria-hidden="true"></i>
                       </div>

                    </div>
                    
                   

                  </ion-card>
                </li>
              </ul>
            </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>
