.cLrow{
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px #999;
    padding: 25px;
    max-width: 600px;
    margin: 0 auto;
}


.cLplogo{
    margin-bottom: 20px;
    font-size: 20px;
}

.cLbutton{
    background-color: white;
    padding: 12px;
    font-size: 20px;
    margin-top: 20px;
}

.logo_wrapper{
    padding:30px 0
}

.logo_edit_btm button, .logo_edit_btm input[type='submit'] {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background-color: #054774;
    padding: 12px 10px;
    border-radius: 2px;
    display: inline-block;
    width:120px;
    vertical-align: middle;
    margin: 0 4px;
}

.logo_edit_wrap h2{
    font-size: 16px;
    margin:0 0 10px;
    font-weight: 600;
}

.logo_img12{
    margin:0 0 12px
}

.logo_img12 img{
    margin: 20px auto 20px;
   
}

.logo_img12 span{
    display: block;
    font-size: 14px;
    color: #000;
    text-align: center;
    padding-top: 8px;
}

.logo_bg125{
    background:url(../../../assets/images/png_bg.jpg)repeat left top;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    padding-left:20px;
    padding-right:20px;
}

