<app-admin-header></app-admin-header>



<ion-content>
  <div class="logo_wrapper">
    <div class="container">
      <div class="head_top01 clears">
        <h2>Change Logo</h2>
        <!-- <button routerLink="/client/company">ADD COMPANY</button> -->
      </div>
      <div class="cLrow">
        <div class="logo_edit_wrap">
          <h2 class="cLplogo">Redford Recruiter's Logo</h2>
          <div class="logo_img12">
            <figure class="logo_bg125"><img src="{{rdrRslt}}"></figure>
            <span>Required Image Dimension 200px / 50px</span>
          </div>
        </div>

        <div class="logo_edit_btm">
          <button class="cLbutton" (click)="uploadImg()">Change Logo</button>
          <button *ngIf="changeOn" class="cLbutton" (click)="confirmLogo()">Save Logo</button>
          <input type="file" id="videoInput" class="input-sty" style="display:none;" (change)="changeImg($event.target)" accept="image/jpeg,image/png">
        </div>
      </div>
      <p>{{errMsg}}</p>
    </div>
  </div>
</ion-content>
