<app-header *ngIf="dataservice.login_type!='admin'"></app-header>
<app-admin-header *ngIf="dataservice.login_type=='admin'"></app-admin-header>

<ion-content>
<div class="bannerContainer" style="margin-bottom: 60px;">
 <div class="bannerImage"><img src="../../assets/images/n/homeBanner1.jpg"/></div>
 <div class="bannerOverlay">
 <div class="container">
<div class="homeSearch">
   <h2><span>3,000+</span> Browse Jobs</h2><h5>CONNECTING REAL TALENT TO INDUSTRIES</h5>
   <div class="hsForm">
     <input [(ngModel)]="keyword" type="text" name="" placeholder="Keyword e.g. UI Developer"/>
     <input [(ngModel)]="town" type="text" name="" placeholder="Town e.g. Riyadh"/>
     <!-- <input type="button" (click)="search()" name="" value="Search"/> -->
     <input type="button" name="" value="Search" (click)="search()"/>

   </div><!--hsForm ends-->
   <p class="hsTags">Trending Keywords : <a style="color: white;">UI Designer</a><a style="color: white;">Developer</a><a style="color: white;"> Design</a> <a style="color: white;">Nursing</a> <a style="color: white;">Dentist</a><a style="color: white;">Teacher</a></p>
   </div><!--homeSearch ends-->
   
   <div class="homeCatgories">
   <ul class="hcList">
     <li *ngFor ="let cat of categorylist" (click)="jobListing(cat.category_id)"><div class="hcImage"><img src="{{dataservice.homecategoryimg_link}}{{cat.bg_image}}"/></div><div class="hcOver"><a><h2 class="medical">{{cat.title}}</h2></a></div></li>
    <!--  <li><div class="hcImage"><img src="../../assets/images/n/c2.jpg"/></div><div class="hcOver"><a href="#"><h2 class="education">Education</h2></a></div></li>
     <li><div class="hcImage"><img src="../../assets/images/n/c3.jpg"/></div><div class="hcOver"><a href="#"><h2 class="engineering">Engineering</h2></a></div></li>
     <li><div class="hcImage"><img src="../../assets/images/n/c4.jpg"/></div><div class="hcOver"><a href="#"><h2 class="emiratization">Emiratization</h2></a></div></li>
     <li><div class="hcImage"><img src="../../assets/images/n/c5.jpg"/></div><div class="hcOver"><a href="#"><h2 class="technology">Technology</h2></a></div></li> -->
   </ul>
 </div> <!--homeCatgories ends-->
 </div><!--container ends-->
   
 </div><!--banneOverlay ends-->
 

</div>


<!--******************************************************************************************************************-->
<div class="clear"></div>
<div class="recentJobs">
<div class="container">
   <div class="headingBlock hbLeft"><h4>Recent Jobs</h4></div><!--headingBlock ends-->
   
   <div class="recentJobTabs">
     <ul class="rjTabs">
        <li (click)="full_time();" [ngClass]="status3 ? 'active' : 'inactive'">Full Time</li>
        <li (click)="parttime();" [ngClass]="status2 ? 'active' : 'inactive'">Part Time</li>
        <li (click)="featured();" [ngClass]="status1 ? 'active' : 'inactive'">Temporary</li>
     </ul>
   </div>
 <div class="clear"></div> 
  
   <ul class="recentJobsList animatedParent animateOnce" data-sequence='500' data-top-appear-offset='-100px'>
     <li class="" data-wow-duration="2s" data-wow-delay="5s" data-id='1' *ngFor ="let job of joblist">
     <div class="rjTop">
     <!-- <a href="#" class="add2Wishlist">Add to Wishlist</a> -->
      <p class="jobTitle jobCompany"><a (click)="job_details(job.job_id)">{{job.job_title}}</a> </p>
      <p class="jobExp" *ngIf="job.person_work_exp==0">(Exp. {{job.person_work_exp}} year )</p>
      <p class="jobExp" *ngIf="job.person_work_exp!=0">(Exp. {{job.person_work_exp}} years )</p>
      <p class="jobCompany">{{job.company_name}}</p>
      <p class="jobPerks" *ngIf="job.person_salary"><span>{{job.currency}}</span> {{job.person_salary}} PA</p>
      <p class="loc">{{job.basic_info_city?job.basic_info_city:job.basic_info_state}}</p>
    </div>
     <!-- <div class="rjBtm"><a (click)="job_details(job.job_id)">Apply</a></div> -->
     <!-- <div class="rjBtm"><a >Apply</a></div> -->
    </li>
   </ul>
</div>
</div><!--recentJobs ends-->
<!--******************************************************************************************************************-->




<div class="chooseRegister" *ngIf="candidate_id==''" >
  <div class="container">
   <div class="crLeft">
     <div class="crImage"><img src="../../assets/images/n/cr1.jpg"/></div>
     <div class="crOver">
      <h4>I'm an employer</h4><p>Signed in companies are able to post new job offers, searching for candidate.</p>
      <a href="#" routerLink="/client/login">Register as Company</a>
      </div>
   </div><!--crLeft ends-->
   
   <div class="crRight">
   <div class="crImage"><img src="../../assets/images/n/cr2.jpg"/></div>
     <div class="crOver">
      <h4>I'm a candidate</h4><p>Signed in candidates are able to apply for new job offers, searching for vacancies.</p>
      <a href="#" routerLink="/candidate/login">Register as Candidate</a>
      </div>
   </div><!--crLeft ends-->
  </div>
</div><!--chooseRegister ends-->

<!--***************************************************************************************************chooseregister ends***************-->


<div class="counterBlock">
<div class="container">
  <ul class="counterBlockList">
    <li><div class="counterMatr">{{job_count}}+</div><div class="counterLabel">Jobs Available</div></li>
    <li><div class="counterMatr">{{member_count}}+</div><div class="counterLabel">Members</div></li>
    <li><div class="counterMatr">{{resume_count}}+</div><div class="counterLabel">Resumes</div></li>
    <li><div class="counterMatr">{{company_count}}+</div><div class="counterLabel">Company</div></li>
  </ul>
</div>
</div>

<!--***************************************************************************************************counterBlock ends***************-->
<div class="whatTheySay">

     <div class="wts parallax">
        <div class="mlOver">
     <div class="container">
 
     <h5>What They Say</h5>
     <p>Client's Testimonial</p>
     <!-- <ion-slides class="homeTestiList" pager="true" [options]="slideOpts">
      <ion-slide>
        <div class="slider_img">
        <div class="testiMatr">“Sollicitudin, lorem quis bibendum en auctor, aks consequat ipsum, nec a sagittis sem nibh id elit. Duis sed odo nibh vulputate Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin”</div><div class="testiImage"><img src="../../assets/images/n/t1.jpg"/></div>
       <div class="testiBy">Amitabh Roshan<span>Softhard Solutions</span></div>
      </div>
      </ion-slide>
      <ion-slide>
        <div class="slider_img">
        <div class="testiMatr">“Sollicitudin, lorem quis bibendum en auctor, aks consequat ipsum, nec a sagittis sem nibh id elit. Duis sed odo nibh vulputate Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin”</div><div class="testiImage"><img src="../../assets/images/n/t1.jpg"/></div>
        <div class="testiBy">Britney Lohan<span>Softhard Solutions</span></div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slider_img">
        <div class="testiMatr">“Sollicitudin, lorem quis bibendum en auctor, aks consequat ipsum, nec a sagittis sem nibh id elit. Duis sed odo nibh vulputate Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin”</div><div class="testiImage"><img src="../../assets/images/n/t1.jpg"/></div>
       <div class="testiBy">Jitender Singh<span>Softhard Solutions</span></div>
       </div>
      </ion-slide>
    </ion-slides> -->
    <ion-slides class="homeTestiList" pager="true" #slides [options]="slideOpts">
        <ion-slide *ngFor="let list of testlist">
          
          <div class="testiMatr">“{{list.content}}”
          <div class="testiImage"><img src="{{list.user_image}}"/></div>
         <div class="testiBy">{{list.user_name}}<span>{{list.company_name}}</span></div></div>
        
        </ion-slide>
        <!-- <ion-slide>
          
          <div class="testiMatr">“Sollicitudin, lorem quis bibendum en auctor, aks consequat ipsum, nec a sagittis sem nibh id elit. Duis sed odo nibh vulputate Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin”
          <div class="testiImage"><img src="../../assets/images/n/t1.jpg"/></div>
          <div class="testiBy">Britney Lohan<span>Softhard Solutions</span></div></div>
          
        </ion-slide>
        <ion-slide>
         
          <div class="testiMatr">“Sollicitudin, lorem quis bibendum en auctor, aks consequat ipsum, nec a sagittis sem nibh id elit. Duis sed odo nibh vulputate Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin”
          <div class="testiImage"><img src="../../assets/images/n/t1.jpg"/></div>
         <div class="testiBy">Jitender Singh<span>Softhard Solutions</span></div></div>

        </ion-slide> -->
      </ion-slides>
     <!-- <ul class="homeTestiList">
       <li ><div class="testiMatr">“Sollicitudin, lorem quis bibendum en auctor, aks consequat ipsum, nec a sagittis sem nibh id elit. Duis sed odo nibh vulputate Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin”</div><div class="testiImage"><img src="../../assets/images/n/t1.jpg"/></div>
       <div class="testiBy">Jitender Singh<span>Softhard Solutions</span></div></li>
       <li ><div class="testiMatr">“Sollicitudin, lorem quis bibendum en auctor, aks consequat ipsum, nec a sagittis sem nibh id elit. Duis sed odo nibh vulputate Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin”</div><div class="testiImage"><img src="../../assets/images/n/t1.jpg"/></div>
       <div class="testiBy">Britney Lohan<span>Softhard Solutions</span></div></li>
       <li ><div class="testiMatr">“Sollicitudin, lorem quis bibendum en auctor, aks consequat ipsum, nec a sagittis sem nibh id elit. Duis sed odo nibh vulputate Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin”</div><div class="testiImage"><img src="../../assets/images/n/t1.jpg"/></div>
       <div class="testiBy">Amitabh Roshan<span>Softhard Solutions</span></div></li>
     </ul> -->
     </div>
    </div>
</div>
</div>


<!--***************************************************************************************************whatTheySay ends***************-->

<!-- <div class="choosePackage">
  <div class="container">
      <ul class="packageList">
        <li>
         <h5>Basic Plan</h5><div class="packCost">$29</div>
         <ul class="packPoints">
            <li>5 Jobs Posting</li>           
            <li>2 Featured jobs</li>
            <li>1 Renew Jobs</li>
            <li>10 Days Duration</li>
            <li>Email Alert</li>
         </ul>
        <a>Get Started</a>
        </li>
        
        
        <li>
         <h5>Advance Plan</h5><div class="packCost">$49</div>
         <ul class="packPoints">
            <li>5 Jobs Posting</li>           
            <li>2 Featured jobs</li>
            <li>1 Renew Jobs</li>
            <li>10 Days Duration</li>
            <li>Email Alert</li>
         </ul>
        <a>Get Started</a>
        </li>
        
        
        
        <li>
         <h5>Premium Plan</h5><div class="packCost">$79</div>
         <ul class="packPoints">
            <li>5 Jobs Posting</li>           
            <li>2 Featured jobs</li>
            <li>1 Renew Jobs</li>
            <li>10 Days Duration</li>
            <li>Email Alert</li>
         </ul>
        <a>Get Started</a>
        </li>
        
        
      </ul>
  </div>
</div> --><!--choosePackage  ends-->





<!--***************************************************************************************************package ends***************-->


<script>
   wow = new WOW(
                      {
                      boxClass:     'wow',      // default
                      animateClass: 'animated', // default
                      offset:       0,          // default
                      mobile:       true,       // default
                      live:         true        // default
                    }
                    )
                    wow.init();
</script>

<!--******************************************************************************************************************-->

<app-footer></app-footer>
</ion-content>
