
ion-content{

    --ion-background-color:#f4f6f9;
}
.pageHeadBlock {
    width: 100%;
    clear: both;
    display: block;
    background-image: url("../../../assets/images/n/banner-form.jpg"); background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.beadcrumbs {
    clear: both;
    display: block;
    margin-bottom: 40px;
}
.beadcrumbs ul li {
    display: inline-block;
    float: left;
    color: #00aeef;
    font-size: 1.2em;
}
.beadcrumbs ul li a {
    color: #fff;
}
.beadcrumbs ul li a::after {
    content: "/";
    float: right;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}
.pageHeadBlock::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(5,71,116,.7);
    clear: both;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
}
.pageHeadBlock .container {
    padding: 20px 0 10px;
    position: relative;
    z-index: 9;
}
h1.pageTitle {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}
.button-sty{display: flex;
    margin: 0px;
    white-space: nowrap;
    margin-top: 12px;
}
.button-sty ion-button {
    width: auto;
    padding: 0px 5px;
    font-size: 12px;
    float: right;
    margin-right:4px;
}

.button-native{  background: #054774;}    
 .company-text h2{
    cursor: pointer;
    clear: both;
    display: block;
    color: #0693f5;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 21px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}  
    .company-text h3{    font-size: 16px;
        font-weight: 400;
        padding: 6px 0px;
        color: #666666;
        }  
    .img-ion-sec{ width: 100%; height: 110px; overflow: hidden;}  

    .company-list-sec{ width:74%; margin: auto;}  
    .button-comp{ float: right; margin-bottom: 15px; margin-top: 10px;}  
    .company-text{padding:0px 20px;}    
    img { width: 100%;
        max-width: 100%;
        height: -webkit-fill-available;} 


.company-text{
    position: relative;
}

.view_comp001{
    position: absolute;
    right: 8px;
    top: 8px;
}

.view_comp001 i{
    font: normal normal normal 18px/1 FontAwesome !important;
    margin-right: 6px;
    display: inline-block;
}

.view_comp001 .button{
    background: none !important;
    border:0 !important;
    color: #000 !important;
}

.view_comp001 span{
    display: inline-block;
    border: 1px solid #999;
    border-radius: 0;
    font-size: 14px;
    padding: 2px 10px;
    cursor: pointer;
    box-shadow: 0 0 5px #ccc;
    border-right: 0;
    border-top: 0;
}

.img-ion-sec.comp_prof_img{
    height:auto
}


.button-sty.btn_list0121 i{
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    font: normal normal normal 14px/1 FontAwesome !important;
}

.button-sty.btn_list0121 span{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #777;
    min-width:122px;
    color: #000;
    text-align: center;
    padding: 4px 10px;
    margin-right:5px;
    cursor: pointer;
}
.button-sty.btn_list0121 span:hover{
    background:#0693f5;
    color: #fff;
}

.img-ion-sec.comp_prof_img{
    width:150px;
    display: inline-block;
    position: relative;
    box-shadow: 0 0 5px #999;
}

.img-ion-sec.comp_prof_img .img-comp{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 84%;
}

.company-text.company_det021{
    width:calc(100% - 155px);
    display: inline-block;
}

.button-sty.btn_list0121{
    padding: 10px 0 0;
    display: block;
}

@media screen and (max-width:840px){
    .company-list-sec{
        width: 89%;
    }

    .img-ion-sec.comp_prof_img {
        width: 90px;
    }

    .company-text.company_det021 {
        width: calc(100% - 99px);
    }
} 



@media screen and (max-width:585px){ 
    
    .img-ion-sec.comp_prof_img {
        width: 120px;
        display: block;
        margin: 0 auto;
    }
    .company-text.company_det021 {
        width: 100%;
        padding: 10px 5px 0;
    }

    .company-text.company_det021{
        text-align: center !important;
    }

    .button-sty.btn_list0121{
        padding: 10px 0 0;
        display: block;
        white-space: inherit;
        text-align: center;

    }

    .button-sty.btn_list0121 span{
        margin-bottom:6px;
    }
}



 @media screen and (max-width:768px){    
    .company-list-sec {
            width: 100%;
            margin: auto;
        }
        .button-sty ion-button{  
            width: 100%;
            padding: 3px 5px;
            font-size: 10px;
            float: right;
        }
        .button-sty{
            margin: 0px;
            margin-top: 0px!important;
        }
        .pageHeadBlock{
            padding: 0px 10px;
        }   

    }    