<app-header *ngIf="!clientID && !admin"></app-header>
<app-admin-header *ngIf="clientID || admin"></app-admin-header>

<div *ngIf="!clientID && !admin" class="pageHeadBlock">
  <div class="container">
    <h1 class="pageTitle">Company List</h1>
    <div  class="beadcrumbs">
      <ul>
        <li><a routerLink="/client/dashboard" style="color: white;">Home</a></li>
        <li>Company Listing</li>
      </ul>
    </div>
  </div>
</div>

<ion-content padding style="text-align: center;">
  <div class="company-list-sec">

    <!-- pagination -->
    <!-- <ion-item>
      <ion-button *ngFor="let n of pages" (click)="showPagination(n)">{{n}}</ion-button>
    </ion-item> -->
    <!-- pagination -->

  <div class="container">
    
    <!-- <ion-row *ngIf="clientID || admin" class="clientHeadRow">
      <ion-col style="text-align: left;">
        <h1 class="clientListHead" style="border: none;">Company List</h1>
      </ion-col>
      <ion-col style="text-align: right;">
        <button *ngIf="!admin" class="addButton" (click)="addCompany()">ADD COMPANY</button>
      </ion-col>
    </ion-row> -->

    <div *ngIf="clientID || admin" class="head_top01 clears">
      <h2>Company List</h2>
      <button *ngIf="!admin" (click)="addCompany()">ADD COMPANY</button>
    </div>

    <!-- <ion-button *ngIf="!clientID && !admin" routerLink="/client/company" class="button-comp">ADD COMPANY</ion-button>  -->
    <div *ngIf="!clientID && !admin" class="head_top01 clears">
      <h2>Company List</h2>
      <button routerLink="/client/company">ADD COMPANY</button>
    </div>

    <div *ngIf="!clientID" class="clearfix"></div>
    <!-- <p id="showingResult"></p> -->
    <p *ngIf="comDetls.length == 0">No company found for this client</p>

    <!-- <div *ngFor="let cd of comDetls" class="sec-div-sty">
      <ion-row style="text-align: left;">
        <div class="img-ion-sec comp_prof_img">
          <ion-img src="{{cd.logo}}" class="img-comp"></ion-img>
        </div>
        
        <div class="company-text company_det021">
          <h2 (click)="companyDetails(cd.company_id)">{{cd.company_name}}</h2>
          <h3>{{cd.category_title}}</h3>
          <p>{{cd.company_description}}</p>

          <div  class="button-sty btn_list0121 clears">
            <span (click)="companyDetails(cd.company_id)" ><i class="fa fa-eye"></i>View Company</span> 
            <span (click)="addJob(cd.company_id,cd.client_id)"><i class="fa fa-plus-circle"></i>Add Job</span>
            <span (click)="comJobList(cd.company_id,cd.client_id)"><i class="fa fa-list-alt"></i>Job List</span>
          </div>
        </div>
      </ion-row>
    </div> -->

    <ion-virtual-scroll [items]="comDetls">
      <div *virtualItem="let cd" class="sec-div-sty">
        <ion-row style="text-align: left;">
          <div class="img-ion-sec comp_prof_img">
            <ion-img src="{{cd.logo}}" class="img-comp"></ion-img>
          </div>
          
          <div class="company-text company_det021">
            <h2 (click)="companyDetails(cd.company_id)">{{cd.company_name}}</h2>
            <h3>{{cd.category_title}}</h3>
            <p>{{cd.company_description}}</p>
  
            <div  class="button-sty btn_list0121 clears">
              <span (click)="companyDetails(cd.company_id)" ><i class="fa fa-eye"></i>View Company</span> 
              <span (click)="addJob(cd.company_id,cd.client_id)"><i class="fa fa-plus-circle"></i>Add Job</span>
              <span (click)="comJobList(cd.company_id,cd.client_id)"><i class="fa fa-list-alt"></i>Job List</span>
            </div>
          </div>
        </ion-row>
      </div>
    </ion-virtual-scroll>
   
    <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>
  </div>

  <app-footer *ngIf="!clientID && !admin"></app-footer>

</ion-content>
