<app-admin-header></app-admin-header>

<ion-content>
    <div class="mainContainer">
      <div class="container">
      <!-- <div class="row searchResultHead">
         <div class="col-md-9"> -->
            <!-- <div class="searchResults">We found <span>347</span> matches for you</div> -->
         <!-- </div>
         <div class="col-md-3">
          <button class="addButton" (click)="addCandidate()">ADD CANDIDATE</button>
         </div>
      </div> -->
      <ion-row class="clientHeadRow">
        <ion-col>
          <h1 class="clientListHead" style="border: none;">Candidate List</h1>
        </ion-col>
        <ion-col style="text-align: right;">
          <button class="addButton" (click)="addCandidate()">ADD CANDIDATE</button>
        </ion-col>
      </ion-row>
      
       <div class="row">
       <div class="col-md-3">
         <div class="filterBlock">
           <h5>Category</h5>
           <ul class="fbblist">
              <li *ngFor ="let cat of categorylist;let i = index">
                <label class="containerx">
                  <input type="radio" name="typee" id="{{cat.category_id}}" (click)="getcategoryid(cat.category_id)" [checked]="i==0"  />
                    {{cat.title}} <!--<span>({{cat.candidate_count_by_category}})</span> -->
                <span class="checkmark"></span>
                </label>
              </li>
            </ul>
         </div>
         
          <!-- <div class="filterBlock">
            <h5>Jobs By Location</h5>
            <ul class="fbblist">
              <li *ngFor="let job of locationlist">
                <label class="containerx">
                  <input type="radio" name="location" (click)="getlocation(job.candidate_location,$event)">
                  Jobs in {{job.candidate_location}} <span>({{job.candidate_count_by_location}})</span>
                  <span class="checkmark"></span>
                </label>
              </li>
            </ul>
          </div> -->
         
         <!-- <div class="addResumeCTA">
         <div class="arcImage"><img src="../../assets/images/n/cr1.jpg"/></div>
  
         <div class="arcOver">Get Best Matched Jobs On your Email. <br/> Add Resume NOW! <a href="#">Add Resume</a></div>
         </div> --><!--addResumeCTA ends-->
         
         
       </div>
       
       <div class="col-md-9">
      <!-- pagination -->
    <!-- <ion-item *ngIf="!hidden">
      <ion-button *ngFor="let n of pages" (click)="showPagination(n)">{{n}}</ion-button>
    </ion-item> -->
    <!-- pagination -->
    <!-- <p id="showingResult"></p> -->
         <ul class="candidateList candi_listbox121">
          <ion-virtual-scroll id="vScroll" [items]="candidate_list">
           <li *virtualItem="let can">
            <div class="last_box_icons clears">
              <div class="comp_btn" (click)="viewprofile(can.candidate_id)">
                <i class="fa fa-eye"></i>
                <small>View</small>
              </div>
   
              <div class="comp_btn" (click)="deleteCandidate(can.candidate_id)">
               <i class="fa fa-trash"></i>
               <small>Delete</small>
             </div>
            </div>

             <div class="clImage"><img src="{{can.candidate_picture}}"/></div>
              <div class="clMatr">
                <p class="cName" (click)="viewprofile(can.candidate_id)" style="cursor: pointer;">{{can.name}}</p>
                <div class="cand_row">
                <span class="cJob"><i class="fa fa-tag"></i>{{can.category_title}}</span>
                <span class="cJob" *ngIf="can.desired_job_title"><i class="fa fa-mortar-board"></i>{{can.desired_job_title}}</span>
                </div>

                <!-- <div class="cExp" *ngIf="can.experience_in_year"><label><i class="fa fa-cubes"></i>Experience:</label> {{can.experience_in_year}} years</div> -->
                <div class="cExp" *ngIf="can.salary"><label><i class="fa fa-money"></i>Expected Salary:</label>{{can.currency}} {{can.salary}}</div>
                <div class="cExp" *ngIf="can.candidate_skill"><label><i class="fa fa-cogs"></i>Skills:</label> {{can.candidate_skill}}</div>

              </div>
            <!--   <div class="clAction" (click)="deleteCandidate(can.candidate_id)"><a >Delete Candidate</a></div> -->
           </li>
           </ion-virtual-scroll>
           <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
          </ul>
          <h2 *ngIf="errorMsg != ''" >{{errorMsg}}</h2>
       </div>
      </div>
      </div>
    </div>
  <!-- <app-footer></app-footer> -->
</ion-content>
  