.nav-actv{color: #0693f5 !important;}

.fbblist
{
    padding: 10px 15px;
}
ul.fbblist li
{
    line-height: 40;
}
ul.fbblist li label
{
    font-size: 16px;
    cursor: pointer;
    color: #242424;
}
.containerx {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .containerx input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #F47272;
  }
  
  /* On mouse-over, add a grey background color */
  .containerx:hover input ~ .checkmark {
    background-color: #F47272;
  }
  
  /* When the radio button is checked, add a blue background */
  .containerx input:checked ~ .checkmark {
    background-color: #F47272;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    position: absolute;
    display: none;
    content: "";
  }
  
  /* Show the indicator (dot/circle) when checked */
  .containerx input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .containerx .checkmark:after {
    top: 7px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
